[2019-03-25 02:12] cdimascio opened #3 "only validate requests under a defined base path in the openapi spec"
currently, all requests are validated, thus an api not defined under a base path will return not found

[2019-03-25 03:40] #3 closed

[2019-04-01 01:13] cdimascio opened #4 "support openapi server variables"

[2019-04-01 01:13] #4 closed

[2019-04-13 23:17] Mague opened #5 "Error in the construction of routes"
Hello, when using the library I found that adding the library in a project a little more advanced than the basic example for all the requests showed me an error not found, the .yaml file that I use will generate it with editor.swagger.io, the routes when I define them I place / at the beginning as in the examples that I found since I am testing openapi and I have no experience with it, and I am te

[2019-04-13 23:19] Mague commented on #5
I forgot what I used to fix it
`const openApiRoute = (path[0] == "/") ? `${path}` : `${bp}${path}${path}`;`

[2019-04-19 23:21] cdimascio commented on #5
Thanks for the ticket @mague. I will have a look.

[2019-04-20 16:02] cdimascio commented on #5
@Mague i've delivered a fix to version `0.21.2`, please give it a try.
The fix is more careful about the trailing slash when composing the api path with the openapi base path

[2019-04-20 16:03] cdimascio commented on #5
id be interested to see you're `openapi.yml` if your able to paste its contents here

[2019-04-21 20:00] Mague commented on #5
Hola, ya instale esa versión y si funciono correctamente. Este es mi archivo de especificacion

`openapi: 3.0.1
info:
  title: Anunciate
  description: >-
    Bienvenido a la documentación oficial del api de anunciate desarrollada por
    <a href="https://github.com/Mague">Enmanuel Molina</a>
  contact:
    email: enmanueldavidmolina@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.a

[2019-04-21 20:04] Mague commented on #5
`
openapi: 3.0.1
info:
  title: Anunciate
  description: >-
    Bienvenido a la documentación oficial del api de anunciate desarrollada por
    <a href="https://github.com/Mague">Enmanuel Molina</a>
  contact:
    email: enmanueldavidmolina@gmail.com
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0
servers:
  - url: 'https://still-sierra-1

[2019-04-22 13:40] cdimascio commented on #5
Thanks @Mague

[2019-04-22 13:40] #5 closed

[2019-04-24 15:49] hmajid2301 opened #6 "TypeScript Type Error ES6"
I have the following code (using ES6).

[code]

Typescript raises the following error

[code]
It seems like the type definitions may not be correct, looking at `index.d.ts` file

[code]

[2019-04-26 01:45] cdimascio commented on #6
@hmajid2301 thanks for the issue.

I pushed a new fix. Version 0.30.0 should resolve the issue

[2019-04-26 01:46] cdimascio commented on #6
Note, the current version will work if you remove the `--noImplicitAny` TS compiler option. In any case, `0.30.0` resolve the problem and allows you to continue using `--noImplicitAny`

[2019-04-26 02:25] #6 closed

[2019-05-16 07:52] l-ko opened #7 "Content-Type: multipart/form-data with the boundary"
Getting:

Error: Unsupported Content-Type multipart/form-data; boundary=------------------------efe485372c5326e4

From:
curl -v -F title=1 http://localhost:3000/v1/route

Looks like a boundary parsing issue

[2019-05-16 08:01] l-ko commented on #7
I see, this is from 'openapi-request-validator'. It is not clear from the description that 'openapi-request-validator' is used under the hood.

[2019-05-17 01:11] cdimascio commented on #7
Thanks @l-ko. Are you able to provide an example? I’d like to reproduce it and have a look

[2019-05-23 19:22] cdimascio commented on #7
@l-ko i was able to reproduce and i see the issue. The problem is actually do to the fact that body-parser doesn't handle multipart

from body-parser

I will look into integrating multipart support into the validator. i plan to start with `multer` and perhaps later enable clients to bring there own.

[2019-05-24 17:52] cdimascio commented on #7
@l-ko give version 0.53.3 a try. file upload should work
You can see an example [here](https://github.com/cdimascio/express-openapi-validator-example)

[2019-05-24 17:52] #7 closed

[2019-06-14 08:29] webstacker opened #8 "Parameters using $ref are not validated"
Given a path such as:
[code]

And a component:
[code]

The parameter isn't validated.

I'm not sure if that is a design decision or something that will be supported in future? Thanks

[2019-06-28 06:43] sheldhur opened #9 "Plain JS object as apiSpec in constructor"
Hi. Can you add support plain JS object as apiSpec in constructor?

It would be useful if you use `jsdoc` annotations for writing swagger\openapi spec or if you split yor spec on small simpled parts (js or json) and build big yaml when app starts.

[2019-07-04 00:29] cdimascio commented on #9
hi @sheldhur thanks for the suggestion. could you elaborate a bit on what you are looking for? perhaps provide an example of what you are thinking. i'll certainly consider. thanks!

[2019-07-04 00:30] cdimascio commented on #8
this needs to be improved. looking into how this can be accomlished

[2019-07-04 00:45] cdimascio commented on #8
This is currently mishandled in the dependency. will continue digging. I've also filed a bug
https://github.com/kogosoftwarellc/open-api/issues/483

[2019-07-04 00:53] sheldhur commented on #9
@cdimascio like this

[code]

[2019-07-04 02:55] cdimascio commented on #8
fixed in v1.1.0

[2019-07-04 02:55] #8 closed

[2019-07-04 02:57] cdimascio commented on #8
note, kogosoftwarellc/open-api#483 is not resolved, however, v1.1.0 now has a workaround in place

[2019-07-04 02:58] cdimascio commented on #9
got it. yes, something like this can certainly be supported. i'll look into it. thanks

[2019-07-07 19:24] cdimascio commented on #9
@sheldhur this is now implemented in express-openapi-validator@1.2.0.
Thanks for the suggestion!

[2019-07-07 19:24] #9 closed

[2019-07-08 12:09] sheldhur opened #10 "Performance issue"
Hi.

`openapi-request-validator` is fast, because that use `Ajv`. `Ajv` compiles schemas into simple fast validation functions. This should be done once, but you create new `OpenAPIRequestValidator` object upon each request (https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.request.validator.ts#L65).

You not only lost perfomance, but also made it worse. Ca

[2019-07-08 15:11] cdimascio commented on #10
will fix this. thanks for the issue!

[2019-07-08 21:49] cdimascio commented on #10
This is fixed in v1.2.1.

[2019-07-08 21:49] #10 closed

[2019-07-09 16:31] willmorgan commented on #8
@nkemp and I are seeing the same (or similar) issue with `requestBody` and using `$ref` also.

[2019-07-12 04:24] anuj-antech opened #12 "How trim value in validation"
Please add support for how to trim value while validation.If I submit field with spaces it validates it which should not be.

[2019-07-14 13:19] sheldhur opened #14 "Stop using openapi-* dependencies"
Why?

`openapi-request-coercer` - `Ajv` can do it
`openapi-default-setter` - `Ajv` can do it
`openapi-request-validator` -  it's wrapper over `Ajv` that can't correctly resolve $ref. But `Ajv` no have troubles with resolving $ref

[2019-07-15 14:08] cdimascio commented on #14
@sheldhur thanks for the recommendation. this is a great idea to remove the dep on openapi-request-validator. I will look into this.
please let me know, if already have some suggestions. if so, please post them here or create a PR.
thanks so much for helping to improve this package!

[2019-07-15 14:57] sheldhur commented on #14
@cdimascio I made this implementation, you can take this as a basis
https://gist.github.com/sheldhur/5111f3afee51de6698dfc626d65f95c5

[2019-07-17 13:06] cdimascio commented on #14
@sheldhur much appreciated! i will have a look at this and work to remove the dependency. if you have something working feel free to submit a PR. i'll gladly merge if it looks good.
again, thanks for your help!

[2019-07-17 20:17] cdimascio commented on #14
@sheldhur, i've added much of your validator gist into the branch `req_validator`. It's not working yet and most tests fail. In any case, I did want to at least get the bulk of your code in there, so that I can experiment with it. Feel free to contribute as well.

[2019-07-17 20:24] cdimascio commented on #14
diff is [here](https://github.com/cdimascio/express-openapi-validator/compare/req_validator?expand=1)

[2019-07-18 01:08] cdimascio commented on #14
made a bit of progress this evening WITH @sheldhur's validator

[code]

[2019-07-19 04:08] sheldhur commented on #14
@cdimascio my code support only `application/json` content-type in request body. You can try change
`schema.content[TYPE_JSON].schema`
on
`schema.content[TYPE_JSON].schema || schema.content[TYPE_FORM].schema`
in initAjv for support `multipart/form-data`. But it not will work with several content types request body schema. If it is critical, I will try to fix it on the weekend

https://github.com/c

[2019-07-19 15:51] cdimascio commented on #14
That would be fantastic

[2019-07-19 15:54] cdimascio commented on #14
@sheldhur  There appears to be an issue with request bodies.

For example, if you run the test below you'll see that the body is not being validated by Ajv.
[code]

I think the issue is related to how the body is represented in the schema passed to Ajv. There is likely some work to do here:

[code]

I'm poking at this, however if you have some thoughts or have a fix on hand, I'd greatly appreciate

[2019-07-19 15:57] cdimascio commented on #14
FYI, if you use VSCode, you can enable the debugger on the mocha tests with the following `launch.json`

[code]

[2019-07-19 16:24] sheldhur commented on #14
@cdimascio Yeap. I don't understand why it's not work in your test. For example `/pets/my_id` in tests return what the `id` is not defined, but when I check it on my project all it's ok: `should be integer`. I think It may be because you modify `req` before validate.

Structure `req` must be equivalent for created schema in https://github.com/cdimascio/express-openapi-validator/blob/e934e372e9aab4

[2019-07-19 17:50] cdimascio commented on #14
@sheldhur fyi, that test now works
[code]

currently, its `bodyRequest` validation is not working.

[2019-07-19 18:38] cdimascio commented on #14
I figured out the request body stuff. It's now working. would be great if you could review. Are there additional cases to consider?

[2019-07-19 18:38] cdimascio commented on #14
in any case good progress:

[code]

[2019-07-19 19:47] cdimascio commented on #14
All tests are now passing
[code]

@sheldhur please review the code. Assuming it looks good, perhaps I'll publish a beta release, so we get more testing

[2019-07-19 19:56] richdouglasevans commented on #14
Great work Carmine! Eager to use the fruit of your recent work 👍

[2019-07-19 20:12] cdimascio commented on #14
Huge thanks to @sheldhur! Much of my commit is based on his work.
BTW, @sheldhur, I've added you to the repo as a collaborator

[2019-07-19 21:34] cdimascio commented on #12
can you provide me with an example? i'll certainly have a look

[2019-07-20 12:10] cdimascio commented on #14
@sheldhur @richdouglasevans v1.3.0-rc.3 is now available. it includes replaces the old request validator with the new. feel free to try it out and file issues if you into any issues

[2019-07-20 13:17] richdouglasevans commented on #14
Good work Carmine (and Sheldhur)

I"ve upgraded one of our API projects to use this latest version and can give the following feedback:

## The `$ref` support is improved

Previously there was an issue with validating `$ref`-erences. As a workaround until it was fixed we inlined a few of the types — thus incurring some duplication — and it worked fine.

Upgrading to `1.3.0-rc.3` has allowed me to

[2019-07-20 13:18] cdimascio opened #22 "remove dependency on openapi-schema-validator"
remove dependency on "openapi-schema-validator": "^3.0.3"
https://github.com/cdimascio/express-openapi-validator/blob/master/src/framework/index.ts#L1

[2019-07-20 13:18] cdimascio opened #23 "remove dependency on openapi-security-handler"

[2019-07-20 13:18] #23 closed

[2019-07-20 13:18] cdimascio commented on #23
https://github.com/cdimascio/express-openapi-validator/pull/16

[2019-07-20 13:27] cdimascio commented on #14
Thanks @richdouglasevans! Overall, this sounds very positive. I hope the error message changes did not cause too much pain.

[2019-07-20 13:32] richdouglasevans commented on #14
All good, I changed 'em very quickly and we're back to all green tests ✅

Cheers for this great project, it's proving very helpful to us.

[2019-07-20 13:42] cdimascio commented on #14
Fantastic to hear!

[2019-07-20 13:42] cdimascio commented on #14
closing this out. Opened the following to remove the remaining openapi-* deps
https://github.com/cdimascio/express-openapi-validator/issues/22

[2019-07-20 13:42] #14 closed

[2019-07-20 14:02] sheldhur commented on #14
@cdimascio @richdouglasevans there is one more minor feature associated with a stricter fit to the described scheme which `may affect safety` on projects in production. If I understand correctly,
`openapi-request-validator` filtering request fields what not described in scheme. Now you need to clearly indicate in schema what you want filtering fields that not described in schema. For this you need

[2019-07-20 15:56] cdimascio opened #24 "remove dependency on openapi-types"

[2019-07-20 16:08] sheldhur commented on #12
@cdimascio It's can be available in new version if add support custom keywords. For example
[code]

[2019-07-20 16:18] #22 closed

[2019-07-22 22:27] #24 closed

[2019-07-29 10:35] DylanBowden opened #27 "Single item in array type query parameter is not converted to array"
Hi, I have the following query parameter

[code]

When I pass muliple values like `?publication_time=someDay&publication_time=otherDay` it's fine but when I pass a single value `?publication_time=someDay`, I get the error

[code]

Am I doing something wrong? Is there another way to pass an array with a single parameter using `style=form` and `explode=true` ?

Thanks

[2019-07-29 13:01] DylanBowden commented on #27
Update: I found a way around this

[code]

My single value isn't in array-form but at least it's no-longer blocking

[2019-07-30 00:43] cdimascio commented on #27
@DylanBowden, Glad you found a work around. @sheldhur has delivered a fix. I'll get a new version rolled soon.

[2019-07-30 01:19] cdimascio commented on #27
The fix is in v1.4.0

[2019-07-30 01:19] #27 closed

[2019-07-30 14:37] DylanBowden commented on #27
Wow, that's fast :)
Thanks

[2019-07-30 14:45] richdouglasevans commented on #27
Carmine doesn’t move at the speed of light. Light moves at the speed of Carmine.

[2019-08-07 15:00] richdouglasevans opened #29 "Type Coercion"
## What's The Issue?

The validator is mutating request body payloads.

We think we'd like to be able to configure the validator to do validation _only_.

## Where?

[See here](): specifically, `coerceTypes: true`

[code]

With `coerceTypes: true` — the hardcoded value — we see a property being sent in the request body being transformed from the boolean literal `true` to the string literal `"true"

[2019-08-10 11:33] cdimascio commented on #29
Thanks @richdouglasevans. I'll have a look at providing an option coerceTypes.

[2019-08-11 00:06] cdimascio commented on #29
@richdouglasevans
i put together a test to try out your case. as far as i can tell it works correctly

Given the following spec for Pet (which is used in the POST request below)

[code]

I created the following test
In this case, `is_cat` as specified as a boolean above, however it is passed in the request as a string and is thus properly type coerced
[code]

Note, in the test above, specifying th

[2019-08-11 18:46] richdouglasevans commented on #29
Carmine you're a ⭐️ Thanks for the speedy reply.

Annoyingly, I'm unable to supply a failing example using the `pets` schema. The issue manifests consistently in the schema I'm using on this work project but I just can't get the same behaviour elsewhere.

Let me close this ticket because I need to spend some time understanding what, specifically, is causing the issue in my environment: if I can cr

[2019-08-11 18:46] #29 closed

[2019-08-12 00:16] agrakhov opened #30 "Response validation"
Thanks for this useful lib.
I have small question - is it possible to validate response? I've tried to return payload not matching oas spec schema and seems like there is no error.

[2019-08-12 13:56] cdimascio commented on #30
response validation is not yet implemented, but it is planned

[2019-08-12 14:55] blaisn opened #31 "Query parameters validation"
I have downloaded and install the example app and run it as is, except for the port (3000->3001)
Issuing "GET http://localhost:3001/v1/pets?limit=10&test=two" passes successfully and gives expected result.
But issuing "GET http://localhost:3001/v1/pets?limit=10&test=two&foo=baz" does not give any error and still gives the same result with the undefined parameter "foo". Normal?

[2019-08-12 17:07] webstacker opened #32 "Additional properties are incorrectly removed (removeAdditional)"
I'm in the process of upgrading to 1.4.0 from 0.53.3 and many of our tests are failing. The following schema/body combination used to fail validation, which is the correct behaviour:

Request body schema:
[code]
Request body (this should fail):
[code]

The addition of the "[removeAdditional](https://github.com/cdimascio/express-openapi-validator/blob/b69bcc5f850704f214f895f9eeb696a4bfb564c3/src/in

[2019-08-13 01:26] sheldhur commented on #32
@webstacker you can use `additionalProperties: true`

[ajv#filtering-data](https://github.com/epoberezkin/ajv#filtering-data)

[2019-08-13 08:48] webstacker commented on #32
@sheldhur Thanks for the suggestions, but it's not really an issue with the schema. Our schema explicitly says that it should not allow additional properties. The expected behaviour of that schema is that if additional properties are supplied, then it should fail. We can't test this expected behaviour.

Would there be any issue with allowing this to be configured in the options?

[2019-08-15 00:52] cdimascio commented on #32
Thanks for the issue @webstacker. I will have a look at this over the weekend. This certainly should be an option. We'll get this in. Im currently contemplating whether to expose a new validator option or enable a passthrough to ajv opts. I'm currently leaning towards the former. The latter requires more cognitive load on the dev i.e. they must understand ajv and it's opts. also theynd may set opt

[2019-08-15 02:09] sheldhur commented on #32
@cdimascio I think about first variant, too, because `OpenAPI` now more limited than `JSONShema`.
Also required change `readOnly` keyword logic.

related #31

[2019-08-17 14:58] cdimascio commented on #32
@sheldhur it feels the `removeAdditional` should be set to false on AJV

The additionalProperties use cases I've tested appear to work

When `removeAdditional` is false, these cases work correctly

e.g.  additionalProperties: false
[code]
[code]
e.g.  additionalProperties: true
[code]
[code]

e.g. additionalProperties
[code]

[code]

Let me know if I'm missing something.

[2019-08-17 18:57] cdimascio opened #34 "Add support for JSONSchema readOnly keyword"
Support readonly keyword
https://json-schema.org/latest/json-schema-validation.html#rfc.section.10.3
Note: Ajv supports readOnly

[2019-08-17 20:19] cdimascio commented on #31
@blaisn Thanks for the issue. This is the expected behavior. That being said it is worth considering an option to trigger a validation error if an unexpected query param is provided

[2019-08-18 13:42] cdimascio commented on #32
fixed in v1.5.0

[2019-08-18 13:42] #32 closed

[2019-08-18 13:45] cdimascio commented on #29
np. i've added a couple tests around coercion in case we find a need for this. https://github.com/cdimascio/express-openapi-validator/pull/35/commits/3126ef98e798de778348ef986f9302c8a40a3858

[2019-08-19 13:20] cdimascio opened #39 "Add support for using $ref in requestBody"
PR #38

[2019-08-19 13:20] #39 closed

[2019-08-19 13:21] cdimascio opened #40 "Add path-level parameters handling"
PR #37

[2019-08-19 13:21] #40 closed

[2019-08-22 21:12] paulmarshall opened #43 "path value starts with a dot"
In some of your examples, the **path** attribute is prefixed with a dot, for example:

`
"path": ".params.id",
"path": ".query.limit",
`

This looks odd - is it a bug?

[2019-08-23 19:09] cdimascio commented on #43
This message is provided by Ajv. We do minimal processing on that message.

We could attempt to process that message further or perhaps even add a hook to allow you to transform the value. However, this can already by achieved fairly easily without any new change.

For example

The following error handler will strip the first qualifier (if present), returning the message in your preferred format
e

[2019-08-23 19:12] cdimascio opened #44 "required query param path format is inconsistent with other validation errors"
[code]

[2019-08-23 19:15] cdimascio commented on #44
fixed by https://github.com/cdimascio/express-openapi-validator/commit/94ba57522d3f768bc6169afa6cd418408392dcba

[2019-08-23 19:15] #44 closed

[2019-08-23 19:16] cdimascio commented on #44
related to #43

[2019-08-23 19:19] cdimascio commented on #43
@paulmarshall please reopen if the proposed solution is not satisfactory. thanks!

[2019-08-23 19:19] #43 closed

[2019-08-28 12:09] paulmarshall commented on #43
Good workaround - works for me, but puzzling why "Ajv" would think the dot prefix was acceptable in the first instance. Oh well - thanks for looking into this.

[2019-08-28 19:02] tafm opened #45 "Reject requests with null value if "nullable" is not set"
Actually its the same with or not the nullable field

[2019-08-30 13:23] cdimascio commented on #45
changing this from bug to enhancement as it hasn't been implemented yet.

[2019-08-30 14:08] cdimascio commented on #45
@tafm I've started some work in this area
please see https://github.com/cdimascio/express-openapi-validator/pull/46 for details

this set the foundation to solve the issue you described.
ultimately, it makes express-openapi-validator aware of `nullable`. essentially, if `nullable: true` it will allow the null value to pass through. if `nullable: false` or nullable is not provided, it will convert

[2019-08-30 14:10] cdimascio opened #47 "Make express-openapi-validatator aware of the OpenAPI `nullable` property"

[2019-08-30 14:26] #47 closed

[2019-08-30 15:05] cdimascio commented on #45
@sheldhur do you know whether its possible to turn off defaults for required parameters

doing so will be one way to solve this using v1.7.0
also, it aligns with avoiding [Common Mistakes](https://swagger.io/docs/specification/describing-parameters/) (as described in the OpenAPI spec)

There are two common mistakes when using the default keyword:
Using default with required parameters or propertie

[2019-09-01 04:59] sheldhur commented on #45
@cdimascio hi. You can change keyword behavior.

https://ajv.js.org/custom.html

[2019-09-04 16:52] robianmcd opened #48 "Errors for unknown format"
An error is thrown when there is a custom format on a property. e.g. if the api spec has something like:
[code]

This will result in an error like

`Error: unknown format "phone-number" is used in schema at path "#/properties/body/properties/phoneNumber"`

The OpenAPI spec is pretty flexible on formats so I think this should be allowed. E.g. this page says (https://swagger.io/specification/):

[2019-09-06 00:39] cdimascio commented on #48
Agreed. This should be looked at.

[2019-09-08 03:57] cdimascio commented on #45
@tafm You can now get the desired behavior by setting `coerceTypes: false`. This will ensure that `null` values are not coerced to the default value of `type`specified in the spec. e.g. `type: string` would coerce a `null` to `''`

v1.8.0 allows you to set coerceTypes to false

[2019-09-08 03:57] #45 closed

[2019-09-08 21:25] cdimascio commented on #29
@richdouglasevans ive added the ability to disable type coercion. The option is described in the ready. Hope this helps

[2019-09-08 22:09] richdouglasevans commented on #29
I saw that Carmine, cheers! I'll be testing it next week at work 👌

[2019-09-09 00:24] cdimascio commented on #31
@blaisn query param validation is coming soon https://github.com/cdimascio/express-openapi-validator/pull/49

[2019-09-10 21:19] tafm commented on #45
@cdimascio thank you very much, this is exactly i need to enable in production. Im still unnable to use now, but not really for a "lack" of feature but some incompatibility between json schemas and open api (setting coerceTypes to false makes ajv invalidate: "not of type string"). I had a look at the code and how to fix, one way its using the library **openapi-schema-to-json-schema**

`const toJSO

[2019-09-11 19:18] cdimascio commented on #31
@blaisn this behavior is provided in v2.0.0. it is currently the default and only option.

I'll likely add an option to enable an opt-out

[2019-09-11 19:18] #31 closed

[2019-09-11 19:26] cdimascio commented on #45
@tafm thanks for the heads up on coerceTypes. i'll release an update of 1.8 to include the change.

i'll also investigate openapi-schema-to-json-schema.

all in all, please let me know what we can do to make this work for you.

you're interest and feedback is much appreciated. thanks!

[2019-09-12 07:51] lopezvit opened #50 "description and summary fields in path item object result in an error"
According to https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#fixed-fields-7 it is possible to have `description` and `summary` (among other fields) in the path item. e.g.:

[code]

Unfortunately, when trying to parse such an API specification, it fails with the following error:
[code]

Around that line of code you can see:
[code]

Which should maybe be transformed into:

[2019-09-16 17:24] cdimascio commented on #30
the response validation work has begun. you can follow it here.
https://github.com/cdimascio/express-openapi-validator/pull/51

[2019-09-18 01:02] cdimascio commented on #30
@agrakhov response validation beta is available in version 2.1.0. The readme describes how to enable it.

[2019-09-18 01:02] #30 closed

[2019-09-20 15:53] plastic-abubakr opened #52 "do not validate request if path does not exist in openapi spec"
I am serving frontend and restful APIs within a same app. I want to validate only my restful APIs which have a openapi spec, however, my frontend pages are throwing not found errors because these paths do not exist in the specification.

Is there a way to limit validation to a certain path, for example, /api/? Or even disable not found errors for paths not found in openapi spec?

[2019-09-20 22:41] cdimascio commented on #52
@plastic-abubakr it is intended to validate anything under the root path (as defined in the openapi spec). Paths not under the root should be ignored by the validator. Is this not happening?

[2019-09-21 00:07] cdimascio commented on #52
@plastic-abubakr, this test verifies that this 'should' work. i also test manually to be sure
https://github.com/cdimascio/express-openapi-validator/blob/master/test/routes.spec.ts#L198

Please let me know if you still believe this is an issue. If so, perhaps you can send me a few snippets to help reproduce.

thanks so much for your interest in this project!

[2019-09-21 15:42] richdouglasevans opened #53 "You Can Haz Coffee?"
Carmine, I went to buy you some coffees… but I was denied 😭

<img width="458" alt="coffee" src="https://user-images.githubusercontent.com/1855109/65375436-8d432c80-dc8d-11e9-8461-11cd9318d14f.png">

Carmine, this **mission critical** issue needs your **urgent** attention ❌ ☕️➡️ ☕️ ✅

[2019-09-21 15:44] richdouglasevans commented on #52
Just dropping by to say that I had to figure this out by looking at the tests: it wasn't obvious to me.

Is it worth me submitting a PR to add a FAQ or something like that to document this?

[2019-09-21 16:32] cdimascio commented on #52
@richdouglasevans please do. thanks so much!

[2019-09-21 17:54] richdouglasevans commented on #53
Hurrah! This has been resolved and the coffee is now flowing like a fine wine ☕️ 🎉

[2019-09-21 17:54] #53 closed

[2019-09-21 18:01] cdimascio commented on #53
Thank you!

[2019-09-22 18:50] #52 closed

[2019-09-24 17:10] marrasen commented on #31
I have a query parameter of type object and the default serialization format (style=form and explode=true). The query then contains the name of the properties in the object as query parameters, but I get a "400 Unknown query parameter". Is serialized objects not supported or am I doing something wrong?

[2019-09-24 22:37] gonenduk opened #55 "Validation for security"
Validate if the security defined in the api spec exists in the api call.
If doesn't exist should return 401.

[2019-09-25 13:37] MostafaAbdlrazek opened #56 "Unknown format "decimal" is used in schema"
Whenever I try to validate a request against an openapi.yaml file that contains a `type: number` with `format: decimal` I receive the following error:
[code]

[2019-09-25 13:40] richdouglasevans commented on #56
This _may_ be related to #48

`decimal` isn't in t[he list of formats defined by the OAS](https://spec.openapis.org/oas/v3.0.0.html#data-types) so I _guess_ that's why the OpenAPI validator is erroring. (I think this is a legit bug 'cos it shouldn't.)

[2019-09-25 21:44] silesky opened #57 "tests fail intermittently with 400"
When I'm running tests where I'm spinning up new instances of express servers between suites, I'm getting _intermittent_ 400  errors for the tests that deal with a particular POST endpoint (requestBody validation). The failure happens about once every couple of tries.

When I mock the validator or comment it out, all the tests pass consistently.

I'm not absolutely sure, but my hunch is that the t

[2019-09-27 02:36] cdimascio commented on #57
Interesting. Thanks for the details. Will have a look. If you find any additional info please pass it along. Curious if you have any additional  insight as to where it may be going wrong. It sounds like a potentially shared instance of the validator or some internal validator state is used across all the express servers that you are spinning up. It would be fantastic if you are able to put togethe

[2019-09-27 02:36] cdimascio commented on #55
This is a feature we should add

[2019-09-27 02:38] cdimascio commented on #56
Thanks @richdouglasevans. Will look into providing a sane default.
@MostafaAbdlrazek if possible you can work around this by using one of the defined number types / formats

[2019-10-02 11:47] medolino opened #58 "Missing list of additional properties, when additionalProperties error is thrown"
When additionalProperties validation fails, following error is thrown:

[code]

Is there any chance to add a list of additional properties to error message. It would be really helpfull to know, which properties should be removed from payload.

Information about additional properties is available in `validator.errors` array, generated by `ajv` validator (https://github.com/cdimascio/express-openapi

[2019-10-02 15:19] cdimascio commented on #58
Yes we should definitely make this available.
I'm away until next week. I will plan to look at this then. If contributes something in the meantime I'll certainly have a look as well.

Thanks for the issue, @medolino

[2019-10-02 18:17] cdimascio commented on #58
@medolino instead of making the change next week, it done now. check out v2.3.0

[2019-10-02 18:17] #58 closed

[2019-10-03 05:58] medolino commented on #58
@cdimascio, it works great! Thanks for the quick response and resolution.

[2019-10-04 11:58] dod38fr opened #60 "using enum in schema leads to unexpected results"
Hi

With the following schema:
[code]

A call with body set to `{foo: 'bar', bogus: 'baz'}` is rejected (which is expected), but a call with body set to `{foo: 'bar'}` is also rejected which is not expected.

Is this a bug or did I misunderstood OpenApi specification ?

If needed I can provide a patch so that express-openapi-validator's tests show this behavior.

All the best

[2019-10-04 21:26] cdimascio commented on #60
i'm a bit confused by what you are trying to express.
[code]

Perhaps you want something like
[code]

[2019-10-07 08:24] dod38fr commented on #60
@cdimascio We want to validate that the body contains an object with only allowed keys. In this case, I've boiled down the issue to only one property.

In other word, I want the validation to allow a body containing ` { foo: "bar" } ` and fail a body containing `{foo: "baz", bogus: "baz"}`.

The second example should fail because `bogus` is not in the list of allowed keys (as specified in the `enu

[2019-10-07 11:55] cdimascio commented on #60
No problem. Have you tried additionalProperties: false.

See example here:
The spec:
https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/additional.properties.yaml#L52

The test:
https://github.com/cdimascio/express-openapi-validator/blob/master/test/additional.props.spec.ts#L37

This test ensures that only explicit props are allowed in this case, name (required) and

[2019-10-07 14:12] dod38fr commented on #60
Yes ! this resolves my problem.

On the other hand, you might want to check why specifying `enum` with properties leads to weird results. I would have expected a consistent behavior or an error.

Feel free to leave this bug open to track this issue or to close it.

Thanks for the help ! :-)

All the best

[2019-10-07 20:25] cdimascio commented on #60
Woop! Excellent news! I'm glad it worked out.

The validator is properly handling the enum cases. There are examples of them working in the tests. I'm fairly certain that the specification you provided above is not behaviorally valid, despite it passing validation. Enums describe values and not keys. The OpenAPI spec allows one to define an enum property as a type object, however, the value should

[2019-10-07 20:26] cdimascio commented on #55
I've started work on security validation, https://github.com/cdimascio/express-openapi-validator/tree/security
It should be coming relatively soon

[2019-10-07 20:38] SpencerLawrenceBrown opened #61 "Response Validation Issue - "Cannot read property 'then' of undefined in modded.mung""
Hi,

It looks like response validation was just added a few days ago, so this could be a known issue or not. So far I really appreciate how straight-forward and friendly this library is. Thank you!

Now to the issue:

I have a simple example app using OpenApiValidator to validate requests and responses.

I am sending the request
[code]

When I have the `validateResponses` flag set to false, my res

[2019-10-07 21:21] cdimascio commented on #61
@SpencerLawrenceBrown thanks for the issue.
which version of express-openapi-validator are you using?

[2019-10-07 21:26] SpencerLawrenceBrown commented on #61
2.3.0

[2019-10-07 21:27] SpencerLawrenceBrown commented on #61
it seems to be related to how
[code]
is compiled to js. When its compiled it becomes:

[code]

[2019-10-07 21:29] SpencerLawrenceBrown commented on #61
^^ in modded.express.mung

[2019-10-07 21:33] SpencerLawrenceBrown commented on #61
I just downgraded to 2.1.5 and it works fine. Looks like a change between 2.1.5 and 2.3.0

[2019-10-07 21:44] cdimascio commented on #61
Thanks @SpencerLawrenceBrown. I spotted the issue. It should be resolved in v2.3.1.

[2019-10-07 21:44] #61 closed

[2019-10-08 01:22] cdimascio commented on #48
i've made progress on this issue. A fix should be available by the end of the week

[2019-10-08 16:00] cdimascio commented on #56
unknown formats are supported in v2.4.0.

[2019-10-08 16:01] cdimascio commented on #48
@robianmcd @richdouglasevans @SilkJaer Unknown formats are supported in v2.4.0. Please give it a spin. I welcome any feedback

[2019-10-08 16:02] #48 closed

[2019-10-08 16:17] robianmcd commented on #48
Great to hear. Thanks!

[2019-10-08 18:54] gonenduk commented on #55
I think the best would be if you only verify the existence of the required security object and not verify the security itself because it is related to implementation.
For example, suppose we require a JWT in the header. You should only check if the authentication header value exists and if not return 401. You should not verify the token itself. This will be done in the routes of the app that is us

[2019-10-09 00:23] cdimascio commented on #55
I agree. Your description is very much in line with my thinking. The first version will provide hooks to allow the developer to provide the actual security validation logic. As you mentioned, in the case of a missing auth header the validator can certainly return the 401 directly. Anything more complicated will be left to the developer. At the start, the developer will be required to handle much o

[2019-10-09 09:26] gonenduk opened #64 "body type string is not recognized"
When expecting a body parameter of type string (not a json!) - an error is returned saying the body parameter is not a string even if it is.
Bellow is a sample yaml code that shows it.
The references are for the definitions of the id param and the returned values (not relevant here).

[code]

[2019-10-09 09:28] gonenduk commented on #64
Note: In the example above there is also an enum on the string value, but it can be removed for this sample. The issue is with the string type - not the enum.

[2019-10-09 15:28] cdimascio commented on #64
@gonenduk Can you ensure you are able to parse body text

For example, ensure you're able to parser both text and json bodies with express. For example, you might use the bodyParser middlewares:

e.g.

[code]

i have a hunch that perhaps everything is parsed to json and thus the validator is getting `req.body` with an empty JSON value e.g. `{}`, rather than a string value e.g. `whatever string the

[2019-10-09 15:47] gonenduk commented on #64
Thanks! That was the problem :)
In the code I added:
app.use(express.json());
app.use(express.text());

[2019-10-09 15:47] #64 closed

[2019-10-09 15:48] gonenduk commented on #55
I think you can actually release the first version even without hooks. Only verify the required security entity exists and return 401 if it doesn't.
Hooks are useful only to perform the security validation in full before you continue to validate the other parameters.

[2019-10-09 17:42] cdimascio commented on #64
Fantastic! I added some notes to the README. Do you feel the validator should do more here, that is beyond some notes in the README it.

[2019-10-09 18:32] gonenduk commented on #64
Not sure there is anything you can do in the validator in this case.
Maybe extend the error message after saying it should be a string, add the type you got - in my case i believe it was undefined (it was not a json and there was no parser for text so req.body left undefined)
maybe adding the typeof req.body to the error message info will help. But I'm not so sure about this.

[2019-10-10 00:42] cdimascio commented on #55
That’s a good point. Very much appreciate your thoughts and perspective.

[2019-10-10 17:45] SpencerLawrenceBrown opened #65 "Validator does not work with express router"
I am not sure if this is a feature request or a bug, but the validator does not validate requests and responses to/from express routers.

When I originally set up my app, all of my routes lived in the app.ts file and were being validated correctly.

`app.ts`
[code]

however I am going to have a lot of routes + middlewares and want to use express routers to split them up. So I split my routes to us

[2019-10-10 18:06] SpencerLawrenceBrown commented on #65
Looks like the validator middleware only gets pushed onto the app not the routes:

`express-openapi-validator/dist/index.js`
[code]

I imagine this is the issue.

[2019-10-10 18:19] SpencerLawrenceBrown commented on #65
ok wow, did more digging and it turns out that the order in which the middlewares are added matters
:(

`Validates correctly`
[code]

`Does not validate`
[code]

[2019-10-10 18:19] SpencerLawrenceBrown commented on #65
Let me know if you'd like me to open up a pr to talk about this in the documentation

[2019-10-10 21:40] cdimascio commented on #65
I believe the issue is the fact in the second example (Does not validate), the `bodyParser` middleware is set after the routes are installed.

Assuming this is the case, perhaps, a note should be added to the documentation.

Note that I can certainly have the validator install the middleware autoamtically, however I feel the choice of parser should be left to the user and not to the library.

I'm

[2019-10-11 22:52] cdimascio commented on #65
@SpencerLawrenceBrown i've added some notes to the doc. feel free to provide feedback. thanks!

[2019-10-11 22:52] #65 closed

[2019-10-12 03:37] cdimascio commented on #55
v2.5.0 now provides security validation.
please give it a try.
i'm super interested to hear you feedback.
thanks!

[2019-10-12 03:37] #55 closed

[2019-10-12 10:42] gonenduk commented on #55
Hi,
Thanks for the effort!
I am still trying to understand how to use the hooks and why I need them instead of doing the checks done in the hook in the normal handlers. Maybe it's good for seperation.

Anyway, I tried to call an api that requires a JWT in the header without having one set. I got this error: "message": "Cannot read property 'JWT' of undefined"
Is this your error or the package that

[2019-10-12 13:46] cdimascio commented on #55
Thanks for he feedback. I will think on providing the info to downstream middleware as well. The data would need to be hung on the request to do it. Hooks provide the data explicitly through a function call. If you have example of a lib that does things differently or perhaps more intuitively, please let me know.I’ll certainly have a look and potentially incorporate ideas here.

 As for the JWT er

[2019-10-12 15:01] cdimascio commented on #55
I’ll also look to provide a more complete example with auth, so that it’s easier to get up and running quickly

[2019-10-12 15:30] gonenduk commented on #55
The fact that the error states JWT it means it comes from the validator.
The actual code only checks the token and gets it from the authentication header.
Anyway, this is the stack of the error 401:
error [rid: 4f71c374-25a9-4ca2-b8f6-9731460ddaf6]: Error: Cannot read property 'JWT' of undefined
    at Object.validationError (/Users/gonen/repos/basejs/node_modules/express-openapi-validator/dist/mi

[2019-10-12 16:59] cdimascio commented on #55
Sure thing. I just set up a gitter. Let's see if this helps. Join the chat: https://gitter.im/cdimascio-oss/community
I'll be back online in a few hours

[2019-10-12 22:10] cdimascio commented on #55
@richdouglasevans @sheldhur @SpencerLawrenceBrown you may be interested in the gitter community.
feel free to chime in. we've had a small discussion around the openapi security feature.
i recently delivered a version of the feature, however, i'm very much open to feedback. i want to make sure that what is implemented in done in a useful way. @gonenduk has already had some good feedback. would love

[2019-10-12 23:47] cdimascio opened #67 "enable security validation without providing an explicit security handler"
discussion [here](https://github.com/cdimascio/express-openapi-validator/issues/55)
more details on [gitter](https://gitter.im/cdimascio-oss/community)

[2019-10-14 02:36] cdimascio commented on #67
implemented

[2019-10-14 02:36] #67 closed

[2019-10-14 02:38] cdimascio opened #70 "add support for OR security lists, global security, and local security overrides"

[2019-10-14 02:40] #70 closed

[2019-10-14 16:25] cdimascio commented on #34
reposting the following info provided by @gonenduk

For example, when I create a new product - I supply several fields and the product is created in the db and an id is given to it, as well as ownerId and creation time. The newly created object is returned with the new values - all of them.
Later on I can use this id to retrieve the product, delete it or update it. But I can never change the id or

[2019-10-14 16:43] cdimascio commented on #34
https://swagger.io/docs/specification/data-models/data-types/

[2019-10-14 17:06] gonenduk commented on #34
And more specific here: https://swagger.io/docs/specification/data-models/data-types/#readonly-writeonly

[2019-10-14 17:39] cdimascio commented on #34
For those participating in Hacktoberfest who want to look into this issue, See the PR above for getting started tips. Some implementation hints are provided

[2019-10-17 13:39] medolino opened #74 "Can't use multiple Media Types in combination with "multipart/form-data" in `requestBody.content`"
I am trying to create a route schema, which supports two requestBody contents (`application/json` and `multipart/form-data`). When I send `application/json` request, `unsupported media type` error is returned. `multipart/form-data` works ok.

I think the problem is in `isMultipart(req)` function, which does not predict that other content types might be present in schema configuration. (https://git

[2019-10-17 22:46] cdimascio commented on #74
@medolino thanks so much for the issue and thanks for digging into the code. Feel free to submit a PR with your fix.

[2019-10-18 14:52] #74 closed

[2019-10-20 00:11] cdimascio commented on #34
v2.8.0 provides support for `readOnly` properties. thanks @gonenduk @frankcalise!

[2019-10-20 00:11] #34 closed

[2019-10-20 15:22] #60 closed

[2019-10-20 15:26] cdimascio opened #76 "Support OpenAPI writeOnly properties"
`writeOnly` properties detailed here: https://swagger.io/docs/specification/data-models/data-types/#readonly-writeonly

[2019-10-21 19:41] charlocharlie opened #81 "Creating multiple app instances causes spec read to be empty"
While writing unit tests for an express app, I kept seeing the error `version missing from OpenAPI specification` when creating multiple Express app instances within one Jest test file.

After some debugging, it looks like the root cause is [loadSpecFile](https://github.com/cdimascio/express-openapi-validator/blob/master/src/framework/util.ts#L31) not throwing an error when performing `require(abs

[2019-10-21 20:30] cdimascio commented on #81
Thanks for the issue @charlocharlie. The reproducible project is much appreciated.  will have a look

[2019-10-22 00:03] cdimascio commented on #81
I think i see the issue, should have a fix soon

[2019-10-22 00:12] cdimascio commented on #81
@charlocharlie, please give v2.8.1 a try. it should fix the issue described. thanks!

[2019-10-22 00:13] cdimascio commented on #57
@silesky i wonder if the fix for #81 might resolve the issue you describe above. would you mind trying v2.8.1 to if it also solves this issue?

[2019-10-22 00:14] #81 closed

[2019-10-22 02:26] cdimascio opened #83 "enum validation error should include the list of allowed enum values"
it will be more helpful if the following validation error contains the list of allowed enum values
[code]

[2019-10-22 08:06] greenkeeper[bot] opened #85 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-10-22 15:30] #85 closed

[2019-10-22 21:24] cdimascio commented on #76
available in 2.9.0

[2019-10-22 21:24] #76 closed

[2019-10-23 22:37] #83 closed

[2019-10-24 09:30] LadIQe opened #88 "Cannot read security of undefined"
Hi,

Im trying to make it work, but Im getting this error

[code]

Im using node, docker, express etc.

Here is my code:
[code]

documentation is JSON object. According to error, which is pointing on row 16, it looks like problem is here:
`const securities = req.openapi.schema.security || context.apiDoc.security;`

I tried to add security[] to my documentation, but it doesnt work, so I assume prob

[2019-10-24 12:03] cdimascio commented on #88
@LadIQe, thanks for the issue. I will have a look. Would you mind outputting the content of documentation here, so I can reproduce. Thanks!

[2019-10-24 12:17] LadIQe commented on #88
Code is splitted into smaller parts for better readability, so we are using module.exports in js files.

Here is file with documentation code. Its just part of it. Hope you understand.
[doc.txt](https://github.com/cdimascio/express-openapi-validator/files/3767421/doc.txt)

[2019-10-24 13:36] cdimascio commented on #88
did a super quick test with `GET /todos`
Note that i inlined the entire doc i.e. the contents of doc.txt

This seems to work for `GET /todos`
Does that endpoint work for you?
If so perhaps the issue is with the documentation snipped you posted above.
Will do a bit more digging, but wanted to provide this information in case it helps to reveal something more

[code]

[2019-10-24 13:45] cdimascio commented on #88
FYI, if its easier to chat directly, we can use this gitter: https://gitter.im/cdimascio-oss/community

[2019-10-24 13:58] LadIQe commented on #88
I signed into gitter so we can talk there ;)

[2019-10-24 14:10] LadIQe commented on #88
ok it seems it solved with changing rows order. It looks like swagger ui express was to blame.

My previous code where was problem
[code]

Now when I change order, it works
[code]

So it would be good to make a documentation about it for people who use swagger-ui-express. It can saves them a lot of time

[2019-10-24 14:55] cdimascio commented on #88
ideally, yes it should work. if it is not working, i certainly want to get it working for you :)

To make sure i understand where we are currently I'll attempt to summarize:
(let me know if the following is accurate)
- security validation is now working. the solution was to move the swagger ui serve middleware prior to installing the OpenApiValidator
- response validation is returning an error?

a

[2019-10-24 15:04] LadIQe commented on #88
yes, security error was fixed with moving swagger-ui prior to installing validator, so this is fixed. Now when I change response schema in OpenAPI documentation to test, if response validation works, and I execute it in swagger ui, I get no error. I looked into console, if something is there, but console/terminal is clear

As you can see on image below, my response schema is little bit different t

[2019-10-24 15:20] cdimascio commented on #88
Thanks @LadIQe. I'm going to create a new issue for the response case you pasted above.

[2019-10-24 15:22] cdimascio opened #89 "response validation allows schema to pass that has some differences"
The following was posted by @LadIQe from #88. Copying details here
Here is code in my app.js

[code]

[2019-10-24 15:34] cdimascio commented on #88
I've added an FAQ section describing how to integrate `swagger-ui-express`
Let me know if you feel more information can be provided to help users with this use case

[2019-10-24 15:34] #88 closed

[2019-10-24 16:17] cdimascio commented on #88
Thank you too! Much appreciated
I'll have a look at the response issue soon, though i may not get to it until this weekend.

[2019-10-24 16:27] LadIQe commented on #88
Thats absolutely ok :) I appreciate your effort :) thank you very much

[2019-10-25 01:43] cdimascio commented on #89
@LadIQe Ajv does not support a default of additionalProperties: false since it diverges from JSON schema. OpenAPI I believe does use this as the default (ticket reference [here](https://github.com/epoberezkin/ajv/issues/634)

The workaround is for me to recursively traverse the spec adding the additionalProperties: false if additionalProperties is not specified. This is a bit of work but is probab

[2019-10-25 06:38] LadIQe commented on #89
Hi, I tried your workaround, but it doesnt work

Here is original response for logged user
[code]

I have tried these versions
[code]
-------------------------------------------------
[code]
I have tried even this versions
[code]
--------------------------------------------
[code]

But none of them worked. Maybe Im doing something wrong, so feel free to alert me

[2019-10-25 07:45] gonenduk opened #90 "Use of undefined resources or methods gets stuck"
Suppose we define a GET method on the resource /api/users.
If we try to access GET /api/users2 - we never get a reply instead of 404 (resource not found).
If we try to access POST /api/users - we never get a reply instead of 405 (method not allowed).

Some people might want to allow a pass through if resource is not found or method not defined. Maybe an option should be available to allow it (defa

[2019-10-25 08:29] comino commented on #90
I think the behaviour you request describe is the expected behaviour.

From openapi.security.js:
[code]

The problem is, that the check for undefined paths is falling through in my tests and throwing at "req.openapi.schema.security" leading to a unresponsive behavior.

Send: https://github.com/cdimascio/express-openapi-validator/pull/91

[2019-10-25 08:48] gonenduk commented on #90
cool!
And what do you get if you call a defined url but with an undefined method?

[2019-10-25 09:36] comino commented on #90
404 / 405 works in unit test and sample project with the simple one-line-fix.

The issue can be reproduced by using a top level security definiton. The existing unit test only tested this for per endpoint security definition.

[2019-10-25 10:01] comino opened #92 "Global apiKey query param not detected"
When using a top level defined apiKey as query parameter, the apiKey is not recognized in requests.

[code]

Reson is that we are looking in the headers, not in the query param ;)
[code]
Will send a PR

[2019-10-25 10:17] comino commented on #92
Send PR: https://github.com/cdimascio/express-openapi-validator/pull/93

[2019-10-25 11:46] cdimascio commented on #92
@comino. Thanks for the PR. I'll get this merged in and published. Thank you!

[2019-10-25 13:38] #92 closed

[2019-10-25 15:20] cdimascio commented on #90
fixed in v2.12.2. Thanks @comino!

[2019-10-25 15:20] #90 closed

[2019-10-25 20:20] frejonb opened #95 "Discriminator support"
Do you support validation against the discriminator spec https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#discriminatorObject ?

[2019-10-25 23:40] cdimascio commented on #95
To quote Evgeny

Assuming this is the case, then yes. express-openapi-validator does have support for `oneOf`

[2019-10-26 07:44] gonenduk commented on #56
I think this issue can be closed.

[2019-10-26 07:47] gonenduk commented on #90
Verified the fix works on my scenario. It does :)

[2019-10-26 09:46] gonenduk opened #96 "Unhandled async exceptions in validator middleware(s)"
Issue #90 made me wonder a little how come I didn't get any reply from the package when there was an exception thrown during the (security) validations. Express.js does catch every exception and calls next with the exception error. Why didn't my error handler got called with the exception?
The only cases Express.js doesn't catch - are exceptions thrown in an async operation. I went and check the c

[2019-10-26 15:38] cdimascio commented on #96
Thanks. Can you provide an example of this suggestion. I'll look at be integrating it into the package.

[2019-10-26 15:40] cdimascio commented on #96
There are a few places I throw. It may be that these need to be changed to `return next(err)` rather than `throw err`

[2019-10-26 15:47] gonenduk commented on #96
You should be able to always throw, as you work with async functions and a throw is actually a rejected promise, you only need to be able to catch them and convert to next(error). Also, in case of bugs, like we had with the security issue checking undefined path, an exception will be thrown anyway...
For your tests, try to install version 2.12.1 which had the bug. Call an undefined path and you wi

[2019-10-26 16:14] gonenduk commented on #96
You can also create in middleware/utils.js a new exported function called safe, like this (sorry I don't use TypeScript format):
`
const safe = (fn) => (req, res, next) => {
  Promise.resolve(fn(req, res, next)).catch(next);
};
`
And then use this function everywhere you return a middleware, like in openapi.security.js line 6:
`
return safe(async (req, res, next) => { original content of function.

[2019-10-26 17:48] frejonb commented on #95
Fair enough

[2019-10-26 17:48] #95 closed

[2019-10-26 19:18] gonenduk commented on #96
Before we move on with this - I found a dead simple library which replaces the need to wrap each and every route with the catch(next).
Let me test it and get back to you!
[express-async-errors](https://www.npmjs.com/package/express-async-errors)

[2019-10-26 19:33] gonenduk commented on #96
Ok, it works very well. However, it is a one place where you change the behaviour of the entire express lib of the running process... so it's not up to the validator to do it - not using this easy way.
I am closing this issue for now as it is less urgent. Whoever wants to protect his middlewares (and the validator middlewares) can do it.

[2019-10-26 19:33] #96 closed

[2019-10-28 13:22] ctiaffay-conserto opened #97 "Can't validate an array ?"
Hello There

I must be missing something but I can't validate an simple array response :

OpenApi3 Schema :

[code]

Error shown is :
[code]

Router :
[code]

If I disable response validator, the array of values is correctly displayed. Some other of myl routes (returning Objects) are OK though ..

Any help ?

Thanks

[2019-10-28 22:12] cdimascio commented on #97
@ctiaffay-conserto Thanks for the issue and the example. I will have a look

[2019-10-28 23:21] cdimascio commented on #97
@ctiaffay-conserto I put together a quick test case to try this
Here is the api spec:

https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/response.validation.yaml#L80

and here is the test

https://github.com/cdimascio/express-openapi-validator/blob/master/test/response.validation.spec.ts#L56

and the test route impl

https://github.com/cdimascio/express-openapi-vali

[2019-10-29 00:39] cdimascio commented on #89
@LadIQe i've made some modifications to the response validator to add support for `additionalProperties`. `additionalProperties: false` still must be explicitly set

Here is an example test case for reference:

- openapi component schema with explicit, `additionalProperties: false`

https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/response.validation.yaml#L140

- r

[2019-10-29 06:30] LadIQe commented on #89
@cdimascio thank you for your reply. Unfortunately, it still doesnt work. Validator can validate my documentation (when I make mistake), but still it doesnt validate swagger-ui-express

Idk, maybe problem is somewhere here:
[code]

[2019-10-29 06:40] LadIQe commented on #89
@cdimascio ok again I changed order of swagger-ui and validator, now I got this:

[code]

[2019-10-29 09:02] ctiaffay-conserto commented on #97
Ok stop, my fault !

I was mixing route with the same base in a bad order :

Doesn't work :
`GET /entity/{id}`
`GET /entity/route`

Works :
`GET /entity/route`
`GET /entity/{id}`

I don't know if it's a bug though or a bad practice from my side (id is a string (email) and should never be in conflict with "route" but ... )

[2019-10-29 11:31] cdimascio commented on #97
Interesting. I would have expected that to work just fine. The route order 'shouldnt' matter. I'll add this to the art of test cases and see if j can reproduce

[2019-10-29 15:22] plastic-abubakr opened #99 "Strict contract responses"
Is there a configuration that I'm missing that strips out any fields that are not defined in the response schema?

[2019-10-29 16:22] cdimascio commented on #99
thanks for the issue @plastic-abubakr.
currently, we do not strip out fields not defined in the response schema, however its certainly worth consideration.
can you describe your use case, the desired behavior, and an example. thanks!

[2019-10-30 12:58] gonenduk commented on #97
In express.js first comes first served.
If you define the dynamic route before the static one - it will be the one being served.
GET /entity/route will be served by /entity/:id where the id parameter will have the value "route".
In case you have both static and dynamic routes that share the same path - alwats put the static ones first.

[2019-10-30 13:12] ctiaffay-conserto commented on #97
Yep
It was the case in my express routing, dynamic route was last.
But for this validator, it's the order inside the JSON/YAML open api that caused the bug, it wasn't the last. But everythings OK after fixing it :)

[2019-10-30 16:55] greenkeeper[bot] opened #100 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.1` to `12.12.2`.

🚨 [View failing branch](https://github.com/cdimascio/express-openapi-validator/compare/master...cdimascio:greenkeeper%2F%40types%2Fnode-12.12.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@

[2019-10-30 23:02] cdimascio commented on #97
Thanks for the clarification. This does sound like a candidate for the readme. @ctiaffay-conserto, @gonenduk would one of you want to write up a note for the readme and create a pull request. I'll certainly review and merge

[2019-10-31 00:50] cdimascio commented on #99
prior to a recent fix, responses were allowing additional properties to pass validation. we could consider making this option again. is that what you are looking for?

[2019-10-31 00:50] cdimascio commented on #99
@plastic-abubakr ^

[2019-10-31 23:06] cdimascio commented on #99
Got it. This makes sense. I'll add support for this.

[2019-11-01 07:45] richdouglasevans commented on #99
By all means add support for this: I understand the issue and the motivation 👍

This does expand the scope of this library though, a library which has `validator` in the project name. My expectation of a validator is that it will _validate_: if you add support for transformation also the library will continue to validate… but, I don't expect a validator to _transform_.

Transformation of either th

[2019-11-01 10:26] comino commented on #99
@richdouglasevans I tend to disagree. The widely used JSON validation library "joi" also decided to support "stripUnknown" to strip unknown fields from a payload. Users like me would end up in adding Joi just to implement a sanitizer to request and response.

Personally I would like to see this feature ( but would disable it by default).

[2019-11-02 17:12] catadch opened #104 "Support for discriminators?"
I can't work out if discriminators are supposed to be supported, or not. I certainly can't get them to be honored. If I use express-ajv-swagger-validation then they are honored, but default values are not. Kind of hoping express-openapi-validator might be a one-stop-shop as everything else works a treat.

[2019-11-02 17:58] catadch commented on #104
Actually, it could be that oneOf isn't working. I have schema types with different properties and they're not being distinguished from one another.

[2019-11-02 19:02] gonenduk commented on #104
Can you give an example? allOf is working well for me.

[2019-11-02 19:54] #100 closed

[2019-11-02 19:56] cdimascio commented on #99
in v2.14.2 you can get the behavior you are looking for with the following option:

[code]

This will validate responses, but remove any additionalProperties that would not pass schema validation.

[2019-11-02 19:56] #99 closed

[2019-11-02 19:59] cdimascio commented on #57
closing this out due to inactivity. i believe this is resolved by #81

[2019-11-02 19:59] #57 closed

[2019-11-02 20:15] catadch commented on #104
So my schema is pretty big, but way down in it I have something like this:

[code]

[2019-11-02 21:39] cdimascio commented on #104
@catadch would you mind posting the whole spec as well as the request body you are POSTing with. i'd like to repro this to investigate.

if you do not wish to post the entire spec here publicly, you can direct message it to me on [gitter](https://gitter.im/cdimascio-oss/community)

[2019-11-02 23:22] catadch commented on #104
@cdimascio can't send you the whole schema for copyright / ip reasons and in simplifying / anonymizing for a reproducible test case, the problem goes away : (

If I figure out what the problem is, I'll let you know.

[2019-11-03 00:06] cdimascio commented on #104
@catadch i created a few tests to exercise the schema you sent. it looks to work
see here -> https://github.com/cdimascio/express-openapi-validator/pull/105/files

there may be some other element that is contributing to the issue.
it would be great if you can provide a snippet that can repro the issue.

feel free to modify my tests as well

[2019-11-03 00:14] catadch commented on #104
Ok, I found the problem.

In the schema below, it's the enums / defaults for the two "value" number type properties that causes the problem.

Comment either one out and the problem goes away.

I have a stand-alone project to demonstrate this is you want it.

[code]

[2019-11-03 00:28] cdimascio commented on #104
hmm. i added a new test that adds the value properties in a manner similar to what you show above
same PR here -> https://github.com/cdimascio/express-openapi-validator/pull/105/files

I'm still not able to reproduce

please send along your sample project
also, feel free to review my test to make sure i'm exercising your case properly

[2019-11-03 00:39] catadch commented on #104
@cdimascio try this:

`https://github.com/catadch/express-openapi-validator-test`

Let me know when you'e cloned it and I'll make it private again.

[2019-11-03 00:50] cdimascio commented on #104
i cloned it, ran `npm start`, but appears `index.js` is missing

[2019-11-03 00:51] catadch commented on #104
`$ npm test`

[2019-11-03 00:52] cdimascio commented on #104
gotcha. just picked up the readme change. thanks!
(fyi, i'm heading out shortly, but will definitely have a look tomorrow)
thanks for your help on this

[2019-11-03 00:53] catadch commented on #104
No worries.

It's 01:00 where I am and I've been working on this for 48 hours straight, so i'm out of here too.

[2019-11-03 00:53] cdimascio commented on #104
get some sleep :) hopefully we'll have some answers soon.

[2019-11-03 02:19] cdimascio commented on #104
This is odd. I added your spec and tests into the test suite and they pass O.o
https://github.com/cdimascio/express-openapi-validator/pull/107

[2019-11-03 02:37] cdimascio commented on #104
nevermind. it's now reproducible.

[2019-11-03 03:26] cdimascio commented on #104
This looks like an issue with Ajv and how defaults are handled. It seems when in the context of oneOf etc, there is sufficient ambiguity. This is why we see a proliferation of errors in this case.

see this issue: https://github.com/epoberezkin/ajv/issues/42

removing the `default` keyword in this case value seems to fix it, however I know this is not the behavior you want.

it does choose the app

[2019-11-03 04:20] cdimascio commented on #104
All in all, discriminators should work for most cases, however as we see here, when ambiguity is present in the schema and the discriminator is the needed to inform a choice, the validator can fail. Ideally, Ajv would support this. However, in the case that it does not, a performant solution is non trivial. I'm open to ideas.
On the plus side, I believe this issue is limited to cases where oneOf o

[2019-11-03 20:26] cdimascio commented on #104
Keeping this open. Will investigate possible solutions for this case

[2019-11-03 20:51] cdimascio commented on #104
@catadch i've added some notes to the Ajv discussion [here](https://github.com/epoberezkin/ajv-keywords/issues/35#issuecomment-549176873). Feel free to add to the discussion. Perhaps, we'll get some traction or better understand how we might be able to solve this edge case

[2019-11-05 02:29] cdimascio commented on #104
@catadch curious to know your thoughts on my comments above and how you are currently planning to proceed

[2019-11-06 00:50] SpencerLawrenceBrown opened #108 "incorrectly erroring on nullable date-time"
Hi,

I think there is an issue with how nullable date-time fields are handled.

When a property is `type: string, format: date-time, nullable: true`, the null value is coerced into an empty string which fails the date-time validation.

I know this because if I remove the `format: date-time` in my example then
[code]
becomes
[code]
and passes validation.

Example that breaks:

`yaml`
[code]

`objec

[2019-11-06 01:01] SpencerLawrenceBrown commented on #108
I think I found the issue and I will open a PR

[2019-11-06 02:51] cdimascio commented on #108
Thanks @SpencerLawrenceBrown. the fix is available in 2.14.2

[2019-11-06 02:51] #108 closed

[2019-11-06 18:49] plastic-abubakr commented on #99
This does not seem to be working

[2019-11-06 22:21] cdimascio commented on #99
@plastic-abubakr I have a couple of tests to demonstrate this functionality. Perhaps have a quick look to see if your look similar. I believe this should work now, the caveat is that `additionalProperties: false` must be used in addition to the removeAdditional: 'failing'

Here are some examples in the test suite

1. Configure the validator to remove additional
https://github.com/cdimascio/express

[2019-11-07 18:36] comino opened #111 "Security definition in query overwritten with additional query parameters"
Using a APIKey as quere parameter and having more parameters causes the apiKey query parameter beeing rejected "Unknown query parameter apiKey"

Example:
[code]

Both tests fail with 400. This was recently introduced and working before.
*Investigating*

[2019-11-08 10:05] henhal opened #113 "Support custom basePath"
I have an OpenAPI 3.0.2 definition which I use to create the public documentation for my API. In the spec, I list the URL:s of my public servers under the `servers` section.
Now I am trying to use the same definition document with express-openapi-validator to validate my requests, but my backend server is running in a private VPC behind a proxy and is not using the same base path as the public fac

[2019-11-08 11:31] henhal opened #114 "Error message produced for missing content-type is weird"
If a path requires a request body of type `application/json` but the request has no `Content-Type` header set, express-openapi-validator will produce the following error:

415 - `unsupported media type not_provided`

This is hard to understand - `not_provided` seems to be used as an internal constant for missing `Content-Type` but this should perhaps not be returned outside of the module? A better

[2019-11-08 12:07] comino commented on #111
Now had tome to start digging, it turns out that unknown query parameters are only rejected if any query parameters are defined for that path.

[code]
Since security query parameters dont appear in the schema under query param they are rejected.

In general: If we reject the request on an unknown query parameter we should always reject even if no query parameters were defined at all - so I would r

[2019-11-08 12:43] henhal commented on #113
Assuming PR's are welcome, I provided one for you to look at.

Thanks.

[2019-11-08 14:30] comino commented on #111
I came up with two options to fix this:

Option A:
We add the security definitions to the validation Schema:

[code]

[2019-11-09 03:37] #111 closed

[2019-11-09 03:41] cdimascio commented on #111
@comino, you're fix is in 2.14.3. thanks again!

[2019-11-09 04:02] cdimascio commented on #114
@henhal thanks for the issue. the message is fixed in 2.14..4

[2019-11-09 04:02] #114 closed

[2019-11-09 04:37] cdimascio commented on #113
@henhal PRs are always welcome. We love contributors! Thanks for you interest in the project :)

With respect to the servers proposal...
I'm reluctant to add this feature for two reasons:
1. The performance (despite doubling the route count) is negligible. For example, on my Macbook, I can perform well over 200,000 lookups per millisecond on a js object containing 100,000 entries - see https://jsp

[2019-11-09 07:54] henhal commented on #113
Thanks for the input. I honestly don't think a base path option is very cluttering, and other open api adapters I've worked with provide this, but I see your point. I actually already use a preprocessing step on my spec (with yimp) so I guess I could solve it there though.

However, I want to add that I think flexibility is key. For example I'd also have liked being able to skip certain types of v

[2019-11-11 16:35] comino opened #117 "Query parameter of top-level security definitions not whitelisted"
Sorry to bring this topic up again ...

My previous PR https://github.com/cdimascio/express-openapi-validator/pull/112 added whitelisting for security query parameters.

There is an issue with my implementation since it is only using the security definition of the path. Query parameters of a top-level security definition are not covered by this.

Will work on a fix and submit PR

[2019-11-11 17:11] rafalneves opened #119 "Validator is caching wrong API descriptor"
If you have express routes layout like this:

_express.js:_
`
app.use('/service', authRouter);
`
_authRouter.js_
`
serviceRouter.route('/alive')
  .get((req, res) => {
    res.sendStatus(200);
  });
`

Response req.path = /alive

In my case I was Mocha testing two consecutive routes /service/alive and /app/alive (examples) and getting errors in the second because was being validated with the first

[2019-11-12 01:23] cdimascio commented on #119
Thanks for the issues and the fix @rafalneves. Looking at the PR now

[2019-11-12 01:38] #117 closed

[2019-11-12 01:40] cdimascio commented on #119
fix merged and available in `v2.14.5`

[2019-11-12 01:40] #119 closed

[2019-11-12 01:43] cdimascio commented on #113
Thanks @henhal. I'm going to leave this open for a bit.

[2019-11-12 13:25] mk811 opened #124 "unsupported media type for "application/json; charset=utf-8""
Hi, my company has a rule that we mandatory set `Content-Type: application.json; charset=utf-8` to all the request/response header. (I know the `charset=utf-8` is probably redundant for json though.)
Since OpenAPI Validator drop charactors of Content-Type after the charactor of `;` as below, our OpenAPI Validator cannot find the appropriate request body schema and respond `unsupported media type a

[2019-11-12 20:00] cdimascio commented on #124
@mk811 i agree, the raw should be used. a PR is will be greatly appreciated!
we likely also want to fall back to the `media-type` if the `charset` or `boundary` are not present

The syntax is as such:
e.g.
[code]
we should fall back to the `media-type` if charset or boundary are missing

[2019-11-13 05:58] mk811 commented on #124
@cdimascio  Sounds great. Thank you for the quick reply.

To sum up, if the `Content-Type` has `charset` or `boundary` in itself, we will use `Content-Type` to find appropriate request/response body from spec yaml, e.g. `text/html; charset=UTF-8`.
If not, we will use `media-type` instead, e.g. `text/html`.

Does it sound good for you?

[2019-11-13 16:53] jy95 opened #125 "request.query.settings should be object"
Hello,

Is [serialized objects](https://swagger.io/docs/specification/serialization/) not supported or am I doing something wrong?
I have an endpoint defined like that ( I deliberately simplified this ) :

[code]

I tested two approaches that have failed with Postman ( that imported the api definition ) :

**{{baseUrl}}/api/someGet?settings={"onlyValidated":true}**

[code]

**{{baseUrl}}/api/someG

[2019-11-13 20:47] cdimascio commented on #125
@jy95 serialized objects are not yet supported. this is definitely something we will plan to support. hopefully soon. this weekend i'll at least have a look at what is involved. thanks for raising this

[2019-11-14 01:01] cdimascio commented on #124
Yes, that sounds good.

[2019-11-15 02:51] cdimascio commented on #124
@mk811 how are you making out? If u have any questions or want to discuss more freely, feel free to join us on gitter. https://gitter.im/cdimascio-oss/community

[2019-11-15 03:49] thetumper opened #127 "Unexpected errors for anyOf schemas with additionalProperties: false"
The following is a portion of my openapi 3.0 spec, just the relevant schemas:

<pre><code>
components:
  requestBodies:
    Contacts:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Contacts'
      description: Set of contact data for a new contact.
      required: true
  schemas:
    AddressArrayType:
      type: object
      properties:

[2019-11-15 12:50] cdimascio commented on #127
Thanks @thethmper. Could you send me a snippet of the Ajv code that you used to compare validation; I'm particularly interested in those options.

[2019-11-15 16:12] thetumper commented on #127
Crud!  I'm sorry.  I realized the test case with Ajv was missing the scenario of having two contact mechanism types in the payload.  It fails for Ajv also.  Tests with Ajv here:

https://github.com/thetumper/contact-schema-validator

Looks like this is related to the known issue of combining schemas and restricting additional properties described here:

https://json-schema.org/understanding-json-s

[2019-11-15 16:31] thetumper commented on #127
Drat.  That doesn't work.  When I move the property restriction out, an invalid property is not caught.  I'll commit an updated schema and test showing that.  Although...this seems to be more of an Ajv or general problem, not particular to express-openapi-validator.

[2019-11-17 03:32] cdimascio commented on #127
Thanks for investigating this issue. If you believe it is an Ajv issue, please feel free to file an issue there. Perhaps link it here, so I can track progress and integrate the fix when availalbe

[2019-11-17 15:33] #124 closed

[2019-11-17 15:40] cdimascio commented on #124
fix available in `v2.15.1`

[2019-11-18 14:52] thetumper commented on #127
Filed an issue on ajv:

https://github.com/epoberezkin/ajv/issues/1123

It may result in "this is a known limitation of the spec", but we'll see.

Thanks!

[2019-11-19 15:30] dod38fr opened #130 "Add support to split the specification file using $refs?"
Hi

Our swagger specification file is growing and we would like to [split it](https://azimi.me/2015/07/16/split-swagger-into-smaller-files.html).

OpenApi specification mentions:

Unfortunately, I cannot find a way to use `$ref` with an URL to a local file. Something like:
[code]
does not work, the file `test.yaml` is not loaded.

Is there any other way to split the specification file ?

All the b

[2019-11-19 15:55] cdimascio commented on #130
you can split oas specs using the rules defined here: https://swagger.io/docs/specification/using-ref/ best!

[2019-11-19 16:05] dod38fr commented on #130
yes, that's what I'm trying to do, but the `test.yaml` file is not loaded. This file is located in the same directory as the main swagger file.

[2019-11-19 16:15] dod38fr commented on #130
Here's a patch to split one of your swagger test files. I would expect  `test/request.bodies.ref.spec.ts` to work even with this patch: https://paste.debian.net/1116984/

[2019-11-20 01:37] cdimascio commented on #130
@dod38fr this is currently not supported. this looks like a good enhancement. i'll start digging into potential methods to resolve local files and add their conents to the schema.

[2019-11-20 07:48] dod38fr commented on #130
After re-reading OpenApi spec, I believe that my patch above is slightly wrong. `test.yaml` should contain only the Schema object. In other word, it should not contain `openapi` field. See https://paste.debian.net/1117063 for an updated patch.

[2019-11-20 15:36] #56 closed

[2019-11-21 04:14] thetumper commented on #127
@cdimascio I was able to resolve this issue with changes to the schema definitions, after finding an example on another ajv issue.  My latest commit has the changes that resolved it for me, in case anyone is interested:

https://github.com/thetumper/contact-schema-validator

I'm closing this issue, as there is a resolution at least for the scenario I was trying to specify, and it is related to the

[2019-11-21 04:14] #127 closed

[2019-11-21 11:01] rgcunha opened #133 "Rejecting unknown query parameters should be optional"
Hi,

Would it be possible to make unknown query parameter validation optional?
https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.request.validator.ts#L109

Problem:
We have an API for a react-native app that needs to support multiple client versions. Some of the legacy versions still send query params which are no longer specified in the latest API spec as

[2019-11-21 15:32] cdimascio commented on #133
@rgcunha yes. this is a reasonable request. we'll plan to provide this option to the request validator

[2019-11-22 01:00] Gi60s opened #134 "Supporting libraries"
You may be interested in the [OpenAPI Enforcer](https://www.npmjs.com/package/openapi-enforcer) that is essentially a set of helper methods that would make what you're doing very easy. It already has a lot of the features that are being requested within your issues. It is thoroughly documented and tested, so check it out.

Full disclaimer, I wrote this library so I am biased. I also wrote an [expr

[2019-11-22 01:08] #134 closed

[2019-11-22 01:08] cdimascio commented on #134
Thanks will have a lot ok

[2019-11-22 17:51] ckeboss opened #136 "Query parameters including `[]` are not parsed correctly."
If you have a parameter such as:
[code]
which `?filter[foo]=1` would be valid, the validator responds with `Unknown query parameter filter` because it uses whichever query parser express is configured with. In this example, `req.query` would be:
[code]
which fails validation. I would propose to not use the express parsed query param and instead parse it independently to handle this.

[2019-11-22 21:11] cdimascio commented on #133
hi @rgcunha, give `2.16.0` a try.
You can set
[code]
to allow unknown query params to pass validation

[2019-11-22 21:11] #133 closed

[2019-11-23 02:17] rgcunha commented on #133
tested. works as expected. thanks @cdimascio 👌

[2019-11-24 03:44] cdimascio commented on #130
@dod38fr thanks. after digging into this issue and related works, i believe i can leverage json-schema-ref-parser to dereference any referenced schema files to construct the fully de-referenced schema. once we have a full de-referenced schema, express-openapi-validator should 'just work' as is.

[2019-11-24 14:47] HugoMario opened #137 "Validator does not work with OpenAPI v3 definition with empty servers object."
This issue can be reproduced with the given example on repo, just switching
https://github.com/cdimascio/express-openapi-validator/blob/master/example/example.yaml#L10
[code]
for
[code]

endpoints should be changes on https://github.com/cdimascio/express-openapi-validator/blob/master/example/app.js#L36-L57 from
[code]
to
[code]
other way, we would get a `404` `v1/pets` not found.

So having that,

[2019-11-24 15:28] cdimascio commented on #137
Thanks @HugoMario. I will get this change in sometime today. Feel free to submit a PR if you like and I'll gladly merge it. Thanks again!

[2019-11-24 15:29] HugoMario commented on #137
sure, i'm on it

[2019-11-25 01:38] #137 closed

[2019-11-25 01:44] cdimascio commented on #137
you fix is available in `v2.16.1` thanks again

[2019-11-25 08:32] dod38fr commented on #130
Cool.. Thanks for following up so fast on this.

[2019-11-25 13:04] cdimascio commented on #136
Will dig into this some. Thanks for the issue

[2019-11-25 14:29] cdimascio commented on #130
@dod38fr i've implemented this in `v2.17.0`, please give it a try. let me know if you run into issues.

[2019-11-25 14:30] #130 closed

[2019-11-25 15:20] ckeboss commented on #136
I have a proposed solution. Will make a PR later today

On Mon, Nov 25, 2019, 05:04 Carmine DiMascio <notifications@github.com>
wrote:

[2019-11-25 18:14] supercoffee opened #141 "Add ability to ignore validation on routes to avoid 404 status for undocumented routes"
I have added this library to an existing express project, however, not all the existing endpoints are documented in my OAPI spec.  In this scenario, all the existing endpoints which are not documented are flagged by the SecurityValidator as non-existent. Is there a way to allow undocumented routes to bypass this middleware?

**My installation**

[code]

**Stack trace**
[code]

Based on my inspecti

[2019-11-25 22:21] ckeboss opened #143 "Add support for content all content types"
I noticed the `TODO` comment for `add support for content all content types`.

Is there a current idea on how to do this? I would be happy to do the work.

[2019-11-26 03:49] cdimascio commented on #143
awesome! i very much welcome the help. thanks

all in all, this area hasn't been deeply explored. some types may just work, others may require a bunch of work.

as a starting point, have a look https://swagger.io/specification/#mediaTypeObject, particularly the Media Type Object and Media Type Examples sections

as for ways to get started:
- create some tests using different mime types and observe

[2019-11-26 04:00] cdimascio commented on #141
currently, if a route resides beneath the base path, the validator requires it to be documented. if the route does not reside beneath the basepath all checks are ignored.

does the route you'd like to ignore reside beneath base path?

if so, perhaps we can consider providing an `ignoreRoutes` option. this option, for example, might take a regex value that's used to match routes. if a route matches

[2019-11-26 08:51] Aidenir commented on #141
@cdimascio Yes please do. We're trying to integrate this into our codebase, but don't have all our endpoints documented yet. Meaning we can't gradually introduce this but must do it all in one go, which we don't have the bandwidth for.

[2019-11-26 08:55] Aidenir opened #144 "Install validator on an Express Router"
We currently have a very large codebase and not everything is documented in our spec doc. So my idea was to introduce this into Routers instead, so we could introduce it on an endpoint basis gradually instead. But unless I install this on the actual app it doesn't appear to do anything what so ever. I've tried going through the code to find any reason for this, but as I'm somewhat new to express I

[2019-11-26 13:08] Haruki-Mortis opened #145 "Support readOnly + required combination"
Hello there.

There is a problem if a property is required and readOnly at the same time.

In follow case the schema works fine in the response validation.
However, the request validation fails if no id is passed.

**Current validation result**
[code]

**Expected validation result**
[code]

**Schema**
[code]
**[Documentation ](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0

[2019-11-26 15:53] supercoffee commented on #141
@cdimascio

Yes, that's the issue. The affected routes are children of the base path which I haven't documented yet. As @Aidenir mentioned, it would be nice to incrementally apply validation by documenting existing endpoints.

[2019-11-26 20:44] rowanc1 opened #146 "Disallow Unknown Body Parameters?"
Awesome library, thanks for putting it together!

Working off of the example provided, I was expecting the validation to cover `requestBody` in the OpenAPI 3.0 schema. As a user of APIs I often make typos or misunderstand the documentation, being able to be alerted by the API would be nice.

A similar interface to the `allowUnknownQueryParameters` (see #133) would be ideal:

[code]

Right now addi

[2019-11-26 21:05] rowanc1 commented on #146
I just found out how to do this by adding `additionalProperties: false` to the OpenAPI schema.

Perhaps it could be worth putting this in the example documentation?

[2019-11-27 01:01] ckeboss commented on #143
Looking further into this, I may have bitten off a bit more than I can chew for supporting all media types.

What I did do, as it's what my use-case needed, is add support for any `json` media type, allowing for parsing anything with the `+json` suffex, as defined in https://tools.ietf.org/html/rfc6838.

[2019-11-27 03:01] cdimascio commented on #146
Thanks, @rowanc1. You're correct, this can be accomplished with `additionalProperties: false`.
I also agree that we should get this into the README. Would you be willing to add an example to the `FAQ` section of the README?

[2019-11-27 03:13] cdimascio commented on #145
@Haruki-Mortis Thanks for the issue. I working on a fix for readOnly and required. writeOnly and required likely requires a similar change. i'll create a separate issue for writeOnly and copy the relevant notes from your post above.

[2019-11-27 03:17] cdimascio opened #149 "Support writeOnly + required combination"
Notes below copied from @Haruki-Mortis [readonly issue](https://github.com/cdimascio/express-openapi-validator/issues/145)
**Documentation definition**
**writeOnly** (The writeOnly functionality has not been checked yet)

related issue: https://github.com/cdimascio/express-openapi-validator/issues/145

[2019-11-27 03:53] cdimascio commented on #145
@Haruki-Mortis please give v2.17.1 a try.

[2019-11-27 03:53] #145 closed

[2019-11-27 04:22] cdimascio commented on #141
Will explore this

[2019-11-27 11:34] scriptify opened #151 "Endless loop caused by json-schema-ref-parser"
Hello!

For some strange reason I yet not know, the "bundle" method of the class "$RefParser" seems to cause an endless loop on line 16: https://github.com/cdimascio/express-openapi-validator/blob/b8e34304ab5c2821a51c986e43b4b6ae4db51d05/src/framework/json.ref.schema.ts#L16

As I am the first one with this issue, maybe it is caused by my setup.

Those are my dependencies:

[code]

I also tried usi

[2019-11-27 13:32] scriptify commented on #151
Update: I don't know why yet, but it has to do something with the database connection I'm establishing, which seems very strange. If I establish the MongoDB connection _after_ calling **install**, it works just fine. Otherwise, it keeps blocking the whole thread. I am not sure why this is happening.

[2019-11-27 16:43] cdimascio commented on #151
@scriptify this change is part of >2.17.0 to enable support spec splitting via $refs. the change has been live for 2days, so other may run into this.

based on the code snippet you provided, this is coming from the use of package `deasync`. i used this package (despite the risks) to synchronously resolve all `$refs` in a multiple file spec. i did this in order to preserve the current api. using `d

[2019-11-27 16:49] cdimascio commented on #151
Also, if you can provide a simple express app that demonstrates the problem, I'll dig in.

[2019-11-27 17:10] jy95 commented on #125
any possible workaround? ( Until this is implemented)

[2019-11-27 17:44] cdimascio commented on #151
@scriptify i put together a super simple test with mongodb. i was able to setup a connection prior to installing middleware

here is the full server source code

[code]

You can use the spec.yaml from [here](https://github.com/cdimascio/express-openapi-validator/blob/master/example/example.yaml)

[2019-11-27 17:44] cdimascio commented on #151
in any case, i'm still interested in finding out how to repro the issue you are hitting

[2019-11-27 17:51] scriptify commented on #151
I'll create a minimal example today after work. Thanks in the mean time!

[2019-11-27 17:59] cdimascio commented on #144
The library must utilize express' `app.param([name], callback)` in order to ensure path params match those defined in your spec definition. unfortunately, this is only available at the app level and not to middleware functions. this is a key reason why the validator is not implemented as a traditional middleware function.

that being said, i plan to introduce a feature that enables you to provide

[2019-11-27 18:57] #146 closed

[2019-11-27 19:24] scriptify commented on #151
I've put together a minimal example, you can find it here: https://github.com/scriptify/express-openapi-validator-issue-151
I tried to mimic the development environment I'm using as precise as possible, sorry for the many unneeded dependencies I make you install. Instructions can be found in the README. Would love to contribute if we're able to find the issue!

[2019-11-27 22:12] cdimascio commented on #144
This issue is related to Add ability to ignore validation on routes to avoid 404 status for undocumented routes #141
The assumption here is that by providing a mechanism to ignore validation on paths, we can make it possible to gradually introduce express-openapi-validator into a large codebase.

[2019-11-27 22:18] cdimascio commented on #141
@supercoffee @Aidenir please give `v2.18.0` a try. `ignorePaths` is available there

[2019-11-27 22:18] #141 closed

[2019-11-27 22:19] cdimascio commented on #144
Closing this out as I believe #157 gives you what you need.
Please reopen if not the case.

[2019-11-27 22:19] #144 closed

[2019-11-27 22:31] ckeboss opened #158 "allowReserved not validated properly."
Just ran into this. May or may not be an issue with AJV.

[2019-11-28 00:10] cdimascio commented on #151
i gave this a try, but i'm not seeing the issue

![image](https://user-images.githubusercontent.com/4706618/69767195-263c6b00-1149-11ea-9dc0-5f021fe46056.png)

I tried with
node `v12.7.0` and `10.14.1`

[2019-11-28 00:15] cdimascio commented on #158
thanks @ckeboss. could\ you provide an example showing the input, the expected result, and the actual result.

[2019-11-28 00:34] cdimascio commented on #125
If you upgrade to the latest version, you can use the `ignorePaths` option to skip validation on any routes that have this requirement. It's certainly not a solution, but it should allow you to work around the issue while waiting on the implementation

@comino have you been able to make any progress on the impl?

[2019-11-28 07:35] stanleynguyen opened #159 "Could not locate bindings file"
I've just upgraded to `2.18.0` and faced with this issue

[code]

Does anyone know what might be the potential cause?

[2019-11-28 08:02] scriptify commented on #151
Switching to node `v12.7.0` resolved the issue! Before I was using `v12.13.1`. I never thought that this could be the cause. So this very version of `deasync` could be incompatible with `v12.13.1`, or it's an issue with node itself.

[2019-11-28 08:17] scriptify commented on #151
Maybe it's due to the fact that deasync is using very low level building blocks and directly modifying the behaviour of the event loop.
To better understand why deasync is needed here: It is needed because the `bundle` method of `json-schema-ref-parser` is asynchronous, right? So the only remaining solutions here would be reweiting this library in a synchronous manner, or making the setup process

[2019-11-28 14:08] cdimascio commented on #159
Can you try running `npm rebuild`

[2019-11-28 14:20] stanleynguyen commented on #159
@cdimascio same thing happen. My node version is `v10.16.0` and npm version is `6.13.1` if these are helpful

[2019-11-28 15:58] cdimascio commented on #159
thanks @stanleynguyen. what os are you running?
fyi: i'm looking into removing the dependency on deasync.

[2019-11-28 17:28] cdimascio commented on #151
It is possible to make the parse async. I have a  working version in a local branch. It will cause a a breaking API change, thus will need a major version bump. I certainly plan to make the change. Still exploring. I'll make the branch available, would live the feedback

[2019-11-28 17:39] scriptify commented on #151
In which branch can it be found? So I'll close this issue now, thanks for your help!

[2019-11-28 17:39] #151 closed

[2019-11-28 19:12] cdimascio commented on #159
One more thing to try https://github.com/nodejs/node-gyp/wiki/Updating-npm's-bundled-node-gyp
Let me know how it goes.

Note that I am looking to remove the dependency on deasync

[2019-11-29 01:06] cdimascio commented on #151
@scriptify you can find the async version on the branch, `async_` [here](https://github.com/cdimascio/express-openapi-validator/tree/async_1)

Here is an [example](https://github.com/cdimascio/express-openapi-validator/blob/async_1/example/app.js#L34) of what an app might look like.

Note that `install` method would return a promise, then user-defined routes are then defined once the install promi

[2019-11-29 01:21] yskeat opened #160 "Multi multer options"
I have multiple file upload API to handle different file use case.
Each API will have its own storage and file filter options.
Is there a way to achieve it in express-openapi-validator?

[2019-11-29 02:35] cdimascio commented on #160
@yskeat currently, the validator takes one set of multi opts which means they cannot be configured per endpoint.

one way to get the behavior you desire would be to use `ignorePaths`. By using `ignorePaths`, you can disable the validator on the particular routes that require specialized handling.

`ignorePaths` gives you a way to indirectly handle your use case, however, if you have thoughts on ho

[2019-11-29 02:58] stanleynguyen commented on #159
Same thing still happened after I updated npm's node-gyp. I'm using macOS.
On another note, we are facing the same issue on our CI running with base image of Docker node 10 image.

[2019-11-29 08:02] scriptify commented on #151
Looks good. This could be even more convenient when using toplevel await.

Would it also be possible to `install` the validator alongside, without having to wait until everything was set up?

[2019-11-29 14:11] cdimascio commented on #151
Yeah, agreed, aop level await is nice; almost no difference in usage. The order of middleware matters, thus the validator needs to be set up prior your routes

[2019-11-29 15:38] dod38fr commented on #130
It's working great :+1:

Thanks a bunch !

[2019-11-30 02:46] cdimascio commented on #159
@stanleynguyen which docker image are you using?

Note that the project uses both the Node 10 and Node 12 docker images as provided by Travis to install dependencies and execute tests. In both cases, all dependencies are successfully install and all tests pass. see [here](https://travis-ci.org/cdimascio/express-openapi-validator)

[2019-11-30 04:05] cdimascio commented on #159
FYI: I did a quick test using the following docker image `node:10-alpine` and had no issue.

[2019-11-30 06:48] stanleynguyen commented on #159
That's strange 🤔 We are using the same image as well
The new version without deasync sounds awesome! If this's too much of a hassle for you to check, we can always wait for the next version 👍
Btw there's an extra piece of information, I'm using some internal APIs of your package. For the previous version (without deasync error), it's something like this
[code]

With the recent update, I've been tr

[2019-11-30 11:19] gonenduk opened #162 "Issue with deasync from version 2.17.0"
I have a problem with mongodb connection after I started to use version 2.17.0 and above.
In my base app, I first connect to the DBs and then initialise the routes.
The mongo db connection is successful, but then it gets a disconnection with a refuse error and a exception is thrown. The last 3 lines of the stack are:
`    at TCPConnectWrap.afterConnect [as oncomplete] (net.js:1134:14)
    at Funct

[2019-11-30 14:41] cdimascio commented on #162
Thanks @gonenduk. There are a few others having issues with deasync. I’m looking to remove the dependency, however removing it means an api change. Would you you mind having a look at the proposal here. https://github.com/cdimascio/express-openapi-validator/pull/161
Would like your feedback

[2019-11-30 16:30] cdimascio commented on #162
@gonenduk i've released an alpha version of v3. please give it a try. it makes `deasync` optional. it must be explicitly installed and is only needed if using the lib synchronously

The new dep is: "express-openapi-validator": "^3.0.0-alpha.1"

See the alpha readme [here](https://github.com/cdimascio/express-openapi-validator/tree/async_1)

[2019-11-30 16:35] cdimascio commented on #159
@stanleynguyen you can try the new version now. I've released it as alpha in order to get feedback. It is feature complete.

See the [alpha readme](https://github.com/cdimascio/express-openapi-validator/tree/async_1) for details. Please provide feedback on the new api, etc

[2019-11-30 21:31] gonenduk commented on #162
I tried the new beta and it seems to work fine!
Didn't find any new issues.

[2019-12-01 11:10] stanleynguyen commented on #159
Hey @cdimascio , I have tried 3.0.0 and it's working perfectly. However, imho, the async way of constructing and installing the validator into the app feels a bit weird and less flexible for me (like an unnecessary evil). However, I'm fully behind deasync removal from the package.

[2019-12-01 21:05] cdimascio commented on #159
Yes. the blocking parse certainly makes usage more straightforward. unfortunately to parse json ref's, asynchronicity is necessary. the synchronous install is still part of v3 and can be used with `installSync`. that being said, `installSync` requires `deasync` and as we've seen, deasync has been at the root of many recent issues.

[2019-12-02 04:01] yskeat commented on #160
@cdimascio  I just notice that v3 is been release. Congratulation.

I yet to try out v3 so I assume most of the code is the same as v2.

Here is my suggestion on how to solve my problem.

Since multer option cannot be configure per endpoint, how about if multer option is null or undefined, ignore installMultipathMiddleware? It doesn't make any sense for me to go through an empty multer option for

[2019-12-02 05:09] cdimascio commented on #160
This sounds reasonable, though I'd suggest a separate option to disable the middleware or potentially have multerOpts also take the string disable.

[2019-12-02 14:07] ctiaffay-conserto opened #165 "Nullable enum ?"
Hi there

I have to filter a list of entities on a field which is based on a nullable enum : `http://localhost/list?limit=10&filter=val_1`

I need to be able to get :
- all entities (without using the filter at all) : `http://localhost/list?limit=10`
- only entities with an enum value (not null in database) : `http://localhost/list?limit=10&filter=enum_val1`
- only entities with NO enum value (nul

[2019-12-02 19:04] faroceann commented on #160
@cdimascio  For my use case, `multerOpts` should definitely have the option to disable, or be disabled by default.  ` express-openapi-validator` doesn't do automatic body  parsing, why should it do automatic file upload handling?

[2019-12-03 00:14] yskeat commented on #160
As for my experience, multipath/form-data or multer covered less then 2% of my REST API.

If I am going to use express-openapi-validator in all of my every microservices, I strongly prefer multerOpts to opt in instead of opt out, at least it save 1 line of my code to
multerOpts: false || null || "disable".

[2019-12-03 00:18] cdimascio commented on #162
fixed in 3.0.0

[2019-12-03 00:18] #162 closed

[2019-12-03 00:18] cdimascio commented on #159
fixed in v3.0.0

[2019-12-03 00:18] #159 closed

[2019-12-03 02:41] cdimascio commented on #160
i agree. the reason for opt-out is backward compatibility. given its been live 1 day. i'm willing to consider changing it to `opt-in`. I agree that is a better design.

Perhaps,  we introduce a new top-level property e.g.

[code]

if `fileUpload` is present the upload middleware is enabled, if not, its disabled.
thoughts?

[2019-12-03 05:24] yskeat commented on #160
So far I only tried pull request in private projects in Gitlab.
I never participate in public project pull request but I don't mind to give it a try.
Please do guide me if anything goes wrong.

[2019-12-03 14:06] cdimascio commented on #160
sure thing. will gladly provide any guidance you need. feel free to reach out on our [gitter](https://gitter.im/cdimascio-oss/community) channel too.

[2019-12-03 14:24] cdimascio opened #167 "better handling of multer errors"
issue for pr #166

[2019-12-03 14:25] #167 closed

[2019-12-03 18:41] cdimascio commented on #125
@jy95 please give `v3.0.2` a try.
it should improve the query param serialization handling. please let me know how it goes

[2019-12-03 18:41] #125 closed

[2019-12-03 18:49] jy95 commented on #125
Thanks @cdimascio : I will test it when I have time this week ( I have problems with multipart/form-data queries to deal with first )

[2019-12-04 02:08] cdimascio commented on #113
@henhal you're point about security is a very good one. There certainly should be a way to opt-out of security, particularly since this is an area gateways often handle. I will be sure to add that feature asap.
that being said, i'm happy to revisit base path. it would be great to hear another compelling argument to sway me :)

[2019-12-04 02:11] cdimascio opened #170 "enable option to opt-out of security validation"
express-openapi-validator should enable users to opt-out of security validation

the motivation for this ticket is based on the following from @henhal

[2019-12-04 10:23] ctiaffay-conserto commented on #165
Found a workaround to get it working :

`enum: [null, '', 'val_1', 'val_2', 'val_3'],`

The empty string `''` value is needed for the request validator to accept an empty url query param when having `filter=`
The `null` vaue is needed for the response validator to accept any null value in response.

But it kind of break the swagger-ui and documentation by adding two possibles values just for the "

[2019-12-05 03:00] cdimascio commented on #165
Cool. I appreciate the write-up and the example. It's super helpful. Based on your feedback, it seems their issue is an issue in the request validator's query param handler. I'm sure, with a small fix, we can get this working with `null` in the enum list. However, since you specified `nullable: true` that shouldn't be necessary. We'll look into that as well.

In any case, I'm glad you found a work

[2019-12-06 19:39] jy95 commented on #125
It works like a charm : I can access object properties as expected ( `req.query.settings` )

[2019-12-07 19:41] #170 closed

[2019-12-09 21:30] greenkeeper[bot] opened #175 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `12.12.15` to `12.12.16`.

🚨 [View failing branch](https://github.com/cdimascio/express-openapi-validator/compare/master...cdimascio:greenkeeper%2F%40types%2Fnode-12.12.16).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

[2019-12-10 20:29] jy95 opened #176 "Multiple file upload - Got 400"
Hello,

In Open API V3 specs, it is possible to specify how multiple file upload is handled ( https://swagger.io/docs/specification/describing-request-body/file-upload/ ).
[code]

After that, I documented the following endpoint ( that does a bulk insert of exercises with their zip files sources ) :

[code]

I expected this to work but I got a nice 400 error :
![image](https://user-images.githubuse

[2019-12-10 20:56] jy95 commented on #176
If you need a supertest request example :
[code]

[2019-12-11 02:40] cdimascio commented on #176
Thanks for all the detail.
Currently, only 1 file is able to be uploaded. It's possible we'll add support for more cases. That being said, complex upload cases are out of arguably out of scope for the validator.

As a result, I am planning to make it possible to opt-out of file upload so that folks with more complex use cases, can manage those cases themselves. In the meantime, you can use `ignore

[2019-12-11 10:02] jy95 commented on #176
Is it just possible to ignore the `files` types in validation only ?
The problem is that the validator tried to validate this field whereas it is `''` because of multer (it also occurs for a single upload endpoint )

![image](https://user-images.githubusercontent.com/9306961/70610943-b5935500-1c04-11ea-8fe5-821ed5260c20.png)

[2019-12-11 10:18] foway0 opened #177 "Support to fetch file that set express's router automatically."
I'm writing an issue through Google Translator. I hope the contents are well communicated.

Sir,
Your project is amazing.
However, it would be nice to have additional features.
I'd like to propose to consider introducing additional features, so I'm writing an issue.
If you don't mind me asking please to consider the following features.
For example, set `operationId`, `eov-controller` (name is just

[2019-12-11 14:40] jy95 commented on #176
@cdimascio I think I found a nice way to allow multiple uploads (and keep the single upload to work also ) - the PR awaits you ^^

[2019-12-11 19:02] websi96 opened #179 "install two validators for different specs - $ref broken"
Hey all,

I'm trying to install multiple OpenApiValidators for different spec yaml files.
I do this with an async for loop awaiting the install(app) function for each spec.
This works great, only the $ref is broken here.
error.message: "can't resolve reference #/components/schemas/annotations from id #"

[code]

Any Ideas, how to solve this?

thanks in advance!

[2019-12-12 03:22] cdimascio commented on #177
Thanks @foway0. This is a nice idea. It's certainly worth considering.

We do welcome PRs.

If you would like to attempt an initial pass at implementing your proposed feature, I will certainly consider integrating it.

Let me know if you would like to give it a try.

If so, there is also a gitter channel that we can use to chat in real time if desired. https://gitter.im/cdimascio-oss/community

[2019-12-12 19:59] thetumper opened #180 "validateSecurity: false is still resulting in a 401"
I have a security definition applied globally (all routes):

<pre>
  security:
    - bearerAuth: []
</pre>

And, this in components:

<pre>
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
</pre>

With the validator installed like this:

<pre>
new OpenApiValidator({
  apiSpec: leadsAPISpecJSON,
  validateSecurity: false
}).install(app);
</pre>

When

[2019-12-12 21:27] cdimascio commented on #180
Can you verify that you are using the latest version
This should work.

The example/app.js can be used to demonstrate this.

**Disable security**

[code]

[code]

**Using default options**

[code]

[code]

[2019-12-12 21:46] thetumper commented on #180
Ack.  Sorry!  I still had version 2.15.1.  This was only added in latest (3.1.1).

[2019-12-12 21:54] cdimascio commented on #180
👍 note v3.1.1 has some breaking changes. have a look at the readme. simply upgrading will cause problems.

the validator api is now async by default. if you choose to continue to use a blocking `install` (similar to v2), you must explicitly call `installSync(..)`. There are some gotchas about a sync installl that had caused users some pain, hence the change in v3.

anyway, have a peek at the readm

[2019-12-12 21:55] #180 closed

[2019-12-13 01:23] cdimascio commented on #179
can you provide me your spec or at least the relevant snippets, so that i can attempt to repro

[2019-12-13 03:50] thetumper commented on #180
Thanks so much!  I did notice the async install, and got that working with promise.then, as in the example.  Working fine now.

[2019-12-13 04:00] foway0 commented on #177
@cdimascio
Thank you for reply.

Okay, I will try it once.
Please let me know if there are any procedures for PRs.

[2019-12-13 04:08] cdimascio commented on #177
Fantastic!

There is no special procedure for PR. Essentially, implement the feature, create tests, and ensure existing tests continue to pass.

I use prettier for linting/formatting. Codacy will check code quality on push and make suggestions. Use the recommendations that make sense. It’s not mandatory to conform to all of its suggestions.

See [CONTRIBUTING.md](https://github.com/cdimascio/expre

[2019-12-13 11:58] websi96 commented on #179
Hy @cdimascio
Thank you for the quick response! I really like this project 👍

Here are my specs:

api_v1.yaml:
[code]

api_v2.yaml:
[code]

thanks!
Websi

[2019-12-13 19:18] cdimascio commented on #143
this is available in v3.2.0. much thanks to @ckeboss!

[2019-12-13 19:18] #143 closed

[2019-12-14 01:48] #176 closed

[2019-12-14 01:57] cdimascio commented on #176
@jy95 thanks for the PR! your work is a nice improvement over what is current. the change is merged and available in `v3.2.2`. thanks again!

[2019-12-14 02:04] #175 closed

[2019-12-15 03:39] cdimascio commented on #179
I just put together a super simple example and things appear to be working.

Here is the example source
**specs**
i used the specs you posted above, but named them `v1.yaml` and `v2.yaml`

**app.js**
[code]

**manual test**
to test execute the following two curls

[code]

let me know how i can change up my example to repro your scenario **OR** if you can post your code to public repo along with se

[2019-12-16 19:40] jy95 opened #183 "Issue with some $ref"
Hello,

I saw it is possible to split specifications into multiple files.
I tried to split mine ( [from my master branch](https://raw.githubusercontent.com/SourceCodeOER/sourcecode_api/master/api.yml) ) into a [separate branch](https://github.com/SourceCodeOER/sourcecode_api/tree/delete_exercises_and_tags) : the ["main file"](https://raw.githubusercontent.com/SourceCodeOER/sourcecode_api/delete_ex

[2019-12-16 21:08] jy95 commented on #183
@cdimascio I maybe found the explanation and it is not funny :(
https://github.com/APIDevTools/json-schema-ref-parser/issues/44

[2019-12-17 12:44] AKGP opened #185 "Type json check is missing in validation"
Getting error if there is not application/json type found.

[2019-12-17 13:59] cdimascio commented on #185
hi @AKGP, please provide a bit more detail. for example:
- a snippet of your api spec
- an example of the api call you make,
- the expected behavior
- the actual behavior

[2019-12-17 16:12] websi96 commented on #179
Hey @cdimascio
thank you for the extensive reply!

Now I noticed my problem:
I did not immediately set the routes after the install of the validator.
I installed both validators and then set up the routes for both apis.
This led to the $ref problem.

Doing the setup one by one fixes this.

thank you for the help!
websi

[2019-12-17 16:12] #179 closed

[2019-12-17 17:10] JacobLey opened #186 "anyOf/oneOf/allOf should not imply type=object"
Hello,

I think I've hit an unintentional backwards incompatibility caused by this PR/commit: https://github.com/cdimascio/express-openapi-validator/pull/126/commits/bc44495375eb730becd602d3b1f0bf75fb2d3c1e

In my case, I have an input that I accept as a number or a string (using `allOf`) to represent a timestamp.  When provided a string, the JSON parsing fails, but I believe it should not be pars

[2019-12-18 00:19] cdimascio commented on #186
@JacobLey, thanks for jumping on this. im on board with your approach. Will review the PR soon.

[2019-12-18 21:51] AlekseyMko opened #190 "allowEmptyValue flag is ignored"
Hello, looks like ``allowEmptyValue`` flag is not validated

**yuml snippet:**
[code]

**request url:**
``/api/storyInfo?storyId`` or ``/api/storyInfo?storyId=``

**AR**: Validator accepted the query, the handler was called
**ER** Validator should throw an error

[2019-12-18 22:08] AlekseyMko opened #191 "Security handler for 'Bearer' does not exist"
Hello,
I am working with Google cloud functions and they use "Bearer" token  in the Authorization header.

I have got an exception when tried to implement the validateSecurity hendler

[cloud.google.com/functions/docs/securing/authenticating](cloud.google.com/functions/docs/securing/authenticating)

Many thanks

[2019-12-18 23:42] cdimascio commented on #191
@AlekseyMko we do support Bearer authentication.
See OpenAPI spec for [Bearer](https://swagger.io/docs/specification/authentication/bearer-authentication/) auth
Here is an example in this project's tests:

https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/security.top.level.yaml#L95
https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/se

[2019-12-18 23:42] #191 closed

[2019-12-18 23:48] #136 closed

[2019-12-19 00:40] cdimascio commented on #186
Thanks, @JacobLey. This is fixed in `v3.2.3`

[2019-12-19 00:40] #186 closed

[2019-12-19 00:45] cdimascio commented on #190
@AlekseyMko thanks for the issue. this certainly needs to be added
Are you interested in taking a crack at? it believe this requires we add custom ajv keyword.
if interested, let's chat on [gitter](https://gitter.im/cdimascio-oss/community)

[2019-12-19 07:40] AlekseyMko commented on #191
Thank you,
It does work!

[2019-12-19 16:57] cdimascio commented on #191
Woop!

[2019-12-19 19:44] dewita opened #192 "Postman - nested parameters for query"
Hi,

I have a little concern with postman when it comes to deal with nested parameters ([swagger - parameter Serialization](https://swagger.io/docs/specification/serialization/))

There's no `settings` object generated (see screenshot below).

<img width="2032" alt="Capture d’écran 2019-12-19 à 20 15 04" src="https://user-images.githubusercontent.com/26024628/71202815-30abd980-229d-11ea-8593-6678f

[2019-12-20 14:59] cdimascio commented on #192
Can u provide your openapi yaml

[2019-12-20 15:10] dewita commented on #192
Sure !

[code]

[2019-12-20 19:46] jy95 commented on #192
@cdimascio I think I found a simple way to solve @dewita issue : more information on my PR #193

[2019-12-22 00:36] #192 closed

[2019-12-22 00:40] cdimascio commented on #192
thanks @jy95
@dewita the fix is in `v3.2.4`

[2019-12-22 00:41] cdimascio opened #194 "cleanup: refactor query parameter serialization logic"

[2019-12-24 00:13] #194 closed

[2019-12-24 00:14] #183 closed

[2019-12-24 01:04] cdimascio commented on #183
@jy95, merged your PR. the new option for the json schema ref parser is available in `v3.5.0`

[2019-12-28 17:54] cdimascio commented on #190
FYI: [OpenAPI](https://swagger.io/specification/) spec describes this as not recommended and likely to be removed.

[2019-12-29 06:42] Starrboy1 opened #199 "Hello every1, I have new issue, Please Any1 help!"
I have new issue while using an Emulator called ''SmartGaga'' on OpenGL as a renderer it causes black screen while playing after few minutes, Note ; I have AMD with full driver packs already installed all drivers with ''DriverPack'' . . So any help please?
![eceaa5a2-9c5c-485d-a708-0589649071d7](https://user-images.githubusercontent.com/59328281/71553356-2b762980-2a17-11ea-8b5a-93a2b5214b1b.jpg)

[2019-12-29 14:30] #199 closed

[2019-12-30 18:28] cdimascio commented on #160
@yskeat enabling the default file uploader is optional in v3.4.1. it can be disabled with the following

[code]

[2019-12-30 18:28] #160 closed

[2019-12-30 19:43] cdimascio commented on #190
openapi notes that The default should be `false`, which is not honored by the validator. will look into it

[2019-12-30 20:53] cdimascio commented on #165
@ctiaffay-conserto i believe this will be (at least partially) resolved by https://github.com/cdimascio/express-openapi-validator/issues/190. once merged, you should be able to set `allowEmptyValue: true` which should solve the request part

[2019-12-30 22:47] cdimascio commented on #190
@AlekseyMko this is fixed in v3.5.0.
fyi @ctiaffay-conserto

[2019-12-30 22:47] #190 closed

[2019-12-30 22:52] cdimascio commented on #160
@faroceann fyi ^
file upload can now be disabled

[2019-12-30 22:54] cdimascio opened #207 "v4 - fileUpload should be opt-in, rather than opt-out"

[2019-12-31 02:03] yskeat commented on #160
Thanks for the info. Will check it out later

[2019-12-31 19:01] cdimascio commented on #158
@ckeboss  this is fixed in v3.6.0

[2019-12-31 19:01] #158 closed

[2019-12-31 20:17] nagarajanceg opened #209 "Given example app not possible to start?"
Repository cloned and done npm install in both express-open-validator & example directory. Then tried to do npm start at example directory ends up in an error.

[code]

node version: v10.13.0
npm version: 6.4.1

npm ls express-openapi-validator :
properly listed express-openapi-validator@3.6.0

Tried this repo "https://github.com/cdimascio/express-openapi-validator-example" and it properly works t

[2019-12-31 20:49] cdimascio commented on #209
@nagarajanceg thanks for the issue. please pull the latest for fixes. there is also a new [README](https://github.com/cdimascio/express-openapi-validator/blob/master/example/README.md)

[2019-12-31 20:49] #209 closed

[2020-01-07 16:06] dannydeut opened #210 "Custom validator for unknown formats"
First of all, great module! It is working really well and saved us a lot of time.

There is an option `unknownFormats` to ignore custom formats. Is it possible to write your own validator and somehow inject it? Would be nice if I could use the base of this module instead of writing extra code to do same as this module does. Any other suggestions are welcome as well.

[2020-01-08 02:24] cdimascio commented on #210
@dannydeut thank you. this is a great idea.
if you already have some ideas, i would love to hear your thoughts. particularly if you have ideas on how you envision the interface, etc.

[2020-01-10 04:08] cdimascio opened #213 "update `install` type signatures"
*copying the notes from @vdmitriy's PR #211*

@vdmitriy given this new change, it appears the install methods should have their type signatures updated to indicate that either an express Application or an express Router.

is this correct?

Assuming so, would you mind updating the signatures on the 3 install methods.

For example, in src/index.ts the type signatures should indicate the acceptable p

[2020-01-10 19:09] eden opened #214 "path templates matched incorrectly"
According to the OpenAPI spec, path templates should match specific to general: http://spec.openapis.org/oas/v3.0.2#path-templating-matching

Currently, if you define an API with the following paths, the request validation improperly throws a method not allowed validation error if one defines a schema that isn't supported by the other.

[code]

If you swap the order when you specify it in the open

[2020-01-11 02:37] #214 closed

[2020-01-11 02:40] cdimascio commented on #214
thanks for the issue, @eden. this should be resolved in v3.6.2. please give it a try

[2020-01-12 00:13] nagarajanceg commented on #177
Hi Cdimascio,
    This feature is really cool and reduce additional boilerplate code to set up express router. Also provide ease in debugging by looking at yaml to figure out the controller. It would be great if this feature is available.

[2020-01-13 13:28] dannydeut commented on #113
I don't known if it applies to this issue. We have a variable in our base path (see specs [serverObject](https://swagger.io/specification/#serverObject)). The validator is only applied when I use the default value "000000". The validator does not work when I do a request on `/v1/org/123456/`.

[code]

[2020-01-13 13:34] dannydeut commented on #210
@cdimascio Haven't really though about it. I guess you only need callback function that should returns success or an error message. As arguments I think you need the `value` and the matching object property with all its members.

[2020-01-13 21:47] eden commented on #214
Works great! Thanks for the quick fix.

[2020-01-15 15:59] TomHartogs opened #218 "TypeError caused when request received on different URL then server URL"
When testing my API locally I receive a TypeError when I have another server defined in the openapi spec (the mock server in this case).

Using the option `ignorePaths: true` does not prevent this error. I only seem to be able to get rid of the error by deleting the Servers section from the openapi spec.

The specific error thrown is:
`TypeError: Cannot destructure property 'pathParam' of 'undefin

[2020-01-15 16:19] cdimascio commented on #218
@TomHartogs please give v3.6.4. i fixed the destructure issue.
let me know how it goes.
if it solves it great. if not, please provide me more details i.e. a canonical example of your spec and service so that i can repro. thanks!

[2020-01-15 18:26] TomHartogs commented on #218
@cdimascio Thank you for the super-fast response! I can indeed confirm that this problem is no longer there in v3.6.4.

[2020-01-15 18:26] #218 closed

[2020-01-15 18:33] TomHartogs opened #219 "Sending empty response passes response check successfully"
For one of my paths I have defined a response schema for express-openapi-validator (EOV) to validate. However, I noticed that no error was thrown by EOV when I send a response using `res.sendStatus(201)` without a body. Sending a response with `res.json()` also does not throw an error. Sending a response with `res.json({})` does throw an error.

This might be done by choice, but I was unable to fi

[2020-01-16 01:58] cdimascio commented on #219
@TomHartogs thanks for the issue. fixed in `3.6.5`.

[2020-01-16 01:58] #219 closed

[2020-01-16 01:58] cdimascio commented on #213
fixed in `3.6.5`

[2020-01-16 01:58] #213 closed

[2020-01-16 02:04] JacobLey opened #222 "fileUploader doesn't fully replace multerOpts"
Hello,

I think I've run into an issue regarding the change from `multerOpts` to `fileUploader`.

https://github.com/cdimascio/express-openapi-validator/pull/205/files
With the recent version `3.6.3` when I provide `multerOpts` (unchanged usage, but according to README it is acceptable for now) files get cached locally instead of forwarded onto the provided storage (I was providing a `storage` att

[2020-01-16 02:13] cdimascio commented on #222
thanks for the ticket and the fix. merged in `3.6.6`

[2020-01-16 02:13] #222 closed

[2020-01-16 03:57] cdimascio commented on #113
Thanks  @dannydeut. This is a gap.we do plsn to add support  server variables. Feel free to create a separate issue for this.

[2020-01-29 13:36] Cactusbone opened #224 "Option to accept unhandled routes"
For routes not defined in specs, I'd like to be able to not have a failure, for examples when routes are added after OpenApiValidator.install call (in my case asynchronously), or to be able to have multiple specs with overlapping baseUrl (in multiple OpenApiValidator instances), to sort code to my liking.

It this already possible ?

[2020-01-29 15:07] cdimascio commented on #224
@Cactusbone thanks for the question.
there are few options.
1. you can instruct the validator to ignore certain routes via a regex. have a look at the `ignorePaths` option. any routes matched by the regex will be ignored by the validator
2. have a look at the [multiple validators/specs example](https://github.com/cdimascio/express-openapi-validator#Example-Multiple-Validators-and-API-specs)
3. (no

[2020-01-30 16:28] comino opened #226 "MulterOptions required when having securityHandlers"
Updating from 2.13.x to 2.15 and also 3.x causes an error message on startup:
"Error: multerOpts must be an object or undefined"

index.js:

[code]

I don't really understand why we would check for "securityHandlers" at that place. I assume the author meant to check multerOpts instead so like:

[code]

[2020-01-30 16:36] comino commented on #226
Send https://github.com/cdimascio/express-openapi-validator/pull/227

If I'm understanding it wrong, sorry and close MR please.

[2020-01-31 03:08] #226 closed

[2020-01-31 13:12] Cactusbone commented on #224
@cdimascio thanks for the answer

I'm trying to add openapi-validator gradually in an already existing project, so we have a lot of existing routes, and we'd like to only use openapi-validator for specific routes, without breaking our usual REST route organization, mutiple validators example use a distinct baseUrl for each validator instance. I'll try overlapping routes when I'll need them though

[2020-01-31 19:34] cdimascio commented on #224
@Cactusbone That should work. `ignorePaths` is also your friend. With `ignorePaths` you should construct the regex to match all routes you plan to ignore.

closing this issue for now. If you find the existing functionality doesn't suit your needs, please re-open and we'll look to provide a better solution.

thanks for your interest in the project

[2020-01-31 19:34] #224 closed

[2020-02-03 09:58] Cactusbone commented on #224
ignorePaths is kinda hard to maintain though, watchPath regexp or a flag to allow unknown routes would be easier to use in my case

[2020-02-03 13:28] foway0 commented on #177
@cdimascio

Sorry for I am late. I'm learning typescript first time.

I create a new branch. (WIP yet)
[https://github.com/foway0/express-openapi-validator/pull/2/files](url)

When initializing OpenApiValidator, you can specify a controller as an option. If you set an absolute path in the controller,  routing is automatically initialized by interpreting the `x-eov-operationId` and `x-eov-controlle

[2020-02-04 02:02] cdimascio commented on #177
@foway0 Excellent! Thank you.
I will have at your work within the next day or so.
Please create a pull request in this repo. It will make it easier for me to follow along and comment.
Thank you again. I'm really looking forward to this feature.

[2020-02-09 04:36] cdimascio commented on #177
@foway0 I've created a PR that contains your feature work
https://github.com/cdimascio/express-openapi-validator/pull/228

[2020-02-10 16:59] nagarajanceg commented on #177
Awesome! Thanks to @foway0. It's really helpful

@cdimascio
Are these changes are readily available in any existing version or it's going to available in future versions?

[2020-02-10 20:07] cdimascio commented on #177
@nagarajanceg this will be in a version soon. i haven't yet gotten to review / test the new functionality. i'm hoping to get to it this weekend.
if you're up for it, feel free to provide review comments and/or clone the PR branch #228, test it out, and raise any gaps, bugs, etc that need attention. thanks!

[2020-02-13 00:53] cdimascio commented on #177
@foway0 @nagarajanceg this feature is now available in version `3.7.0-alpha.1`. please give it a try and provide feedback.
Thanks so much for your work, @foway0!

[2020-02-13 00:53] #177 closed

[2020-02-13 01:05] cdimascio opened #231 "Improve documentation for auto-wiring / x-eov-operations example"
Looking for help to improve the examples READMEs, particularly [examples/2-eov-operation  READMEs](https://github.com/cdimascio/express-openapi-validator/tree/master/examples/2-eov-operations)

[2020-02-13 07:58] doron-au10tix opened #232 "No validation for custom headers"
Hi,

I have defined in my open api spec required headers for an endpoint and although not received, the validator doesn't reject the request and performs no validation.

example of the open-api spec:
[code]

[2020-02-13 21:17] cdimascio commented on #232
@doron-au10tix i wrote a couple test cases for this. they all work properly
see the 3 cases [here](https://github.com/cdimascio/express-openapi-validator/blob/master/test/headers.2.spec.ts#L46)

[2020-02-13 21:18] cdimascio commented on #232
are you using the latest version or at least latest stable `v3.6.7`

[2020-02-13 21:22] cdimascio commented on #232
FYI: [this](https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/headers.yaml) is the spec i used for testing

[2020-02-14 14:37] mathewmeconry opened #233 "pathParams"
This typing has from my point of view the wrong type assigned:
[code]

should be
[code]

during debugging the `pathParams` is an object:
![image](https://user-images.githubusercontent.com/4057473/74540254-bff10880-4f3f-11ea-8349-e2332fc7e499.png)

File where I found it:
https://github.com/cdimascio/express-openapi-validator/blob/461e960bb36661fdcdb8957f53f324911f370390/src/framework/types.ts#L401

[2020-02-14 16:29] cdimascio commented on #233
@mathewmeconry thanks. i think you're right. please open a PR. thanks a lot!

[2020-02-14 16:48] mathewmeconry commented on #233
@cdimascio  here you go :)

[2020-02-14 22:04] #233 closed

[2020-02-15 17:33] stanleynguyen commented on #232
I'm having the same error for v3.7.0 as well. My spec has something like this:
[code]

[2020-02-15 19:14] stanleynguyen commented on #232
I found out that my problem was actually because `install` function being run after routes had been setup. I've fixed it by moving `OpenApiValidator.install` up

[2020-02-16 18:29] cdimascio commented on #232
Excellent. Glad you sorted it out. Please let me know if the documentation needs updating to make this clear. Thanks @stanleynguyen

[2020-02-16 18:29] #232 closed

[2020-02-19 18:04] mirekgw opened #237 "Support for string format binary e.g. application/octet-stream"
Hi,
Maybe I'm doing something wrong but I'm trying to have an endpoint that is used for sending binary data, with PUT. The API definition is like this:
      requestBody:
        description: Binary Data Stream
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
It looks ok according to this: https://swagger.io/docs/speci

[2020-02-19 22:18] cdimascio commented on #237
@mirekgw thanks for the issue. this sounds like a bug / missing feature. either way, we'll certainly add support.
if you know where things went awry, feel free to submit a PR. they are most welcome.
if not, i'll try to take a look this weekend.

[2020-02-21 03:25] stanleynguyen opened #238 "Missing parameter name at 8"
I'm using express-openapi-validator on macOS Catalina like below
[code]
but I'm getting this error on all of my requests
![Screenshot 2020-02-21 at 10 22 00 AM](https://user-images.githubusercontent.com/12974927/75001623-831f9700-5494-11ea-9da1-e3bb883ae475.png)

[2020-02-21 11:34] luboskriz opened #239 "Aggregation of allOf not supported - Response validation"
I am getting the following error when validating response for a /route endpoint (see schema and the response example below)
[code]
**Expected result:** The validation should pass

### Example 1 - Demonstrates the issue
Having the following schema, the below response causes validation error - no additional properties
Schema:
[code]
Response:
[code]

### Example 2 - No issue

If there is just one it

[2020-02-22 02:48] cdimascio commented on #237
@mirekgw this should be fixed in version 3.8.0
here is the [test case](https://github.com/cdimascio/express-openapi-validator/blob/master/test/multipart.spec.ts#L72)

[2020-02-22 02:49] cdimascio commented on #237
this fix should honor `format: binary`

[2020-02-22 02:51] cdimascio commented on #237
closing this out. please reopen if the issue persists

[2020-02-22 02:59] cdimascio commented on #238
@stanleynguyen based on the trace, it seems to be failing in the call to pathToRegex [here](https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.metadata.ts#L47)

could you can modify the file referenced in the image below, the console.log the parameters passed to `pathToRegex`. this info may help me to understand the issue without a reproducible example
![ima

[2020-02-23 15:08] stanleynguyen commented on #238
@cdimascio thank you for the prompt response.
Turns out I have invalid character in my route under `servers`, which is `expressRoute /Xendit/:{cookiecutter.service_name}/0.0.1/`

[2020-02-23 15:08] #238 closed

[2020-02-24 16:21] cdimascio commented on #239
thanks will have a look. currently, response validation is not quite as robust as request validation. this certainly needs to be improved.

[2020-02-24 16:44] cdimascio commented on #239
@luboskriz thanks for the issue. i'll have a look. it's possible that this is related to https://github.com/cdimascio/express-openapi-validator/issues/104

[2020-02-25 10:19] johandalabacka opened #241 "Encoding of space in query"
Hi

I have a problem. axios sends queries there space is encoded as + like

http://localhost:8080/abd/lucat/employees?search=Fredrik+Johansson&limit=10

and this results in an error from express-openapi-validator:

[code]

The line here includes + as a reserved character in queries
https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/parsers/req.parameter.mutator.ts#L

[2020-02-25 10:38] johandalabacka commented on #241
I worked around it by defining my own paramsSerializer:

[code]

[2020-02-25 12:12] jtinbergen opened #242 "RequestValidator.validate uses req.originalUrl"
This results in a lot of cache entries in the middlewareCache because all the parameter values are taken into consideration too.

/customer/1234/detail/1289
/customer/1235/detail/1288

These two calls with the same method and content type create two entries in the cache. Perhaps the openAPI url definition /customer/{something}/detail/{somthingelse} would be a better key?

[2020-02-25 12:17] jtinbergen opened #243 "coerceTypes is all or nothing"
When you do not want coerceTypes to correct malformed payloads sent into your API you MUST mark your openAPI parameters as String or no API call will succeed.

/test/{number}/detail/{number2}

This call will fail since parameters are always strings (you do not have a choice!).

Ideally you would want to always coerce parameters when possible (since you don't have a choice in sending them as string

[2020-02-25 15:08] mirekgw commented on #237
Guys,
First of all thank you very much for super fast response. It's great to see you care for you product better than most paid frameworks :)

I took latest version of lib (3.8.0) and unfortunately the issue is not fixed for me. I did some debugging and here is the results:

[2020-02-25 15:29] cdimascio commented on #242
@jtinbergen thanks. This should get fixed. I like your proposal.
When `openapi.request.validator.ts` builds up the middleware cache, it has access to the `req.opeanpi` object. This contains

[code]

This seems like a good candidate to replace `originalUrl` [here](https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.request.validator.ts#L73)

i'll look at this

[2020-02-25 15:30] mirekgw commented on #237
I have issues with including formatted code here so hopefully image can help
![image](https://user-images.githubusercontent.com/61246716/75261921-0c640000-57ec-11ea-8efc-b0af1a6e199e.png)

[2020-02-25 15:55] mirekgw commented on #237
var data1 = data.body;
        if (data1 !== undefined) {
            var errs_1 = errors;
            if (typeof data1 !== "string") {
                var dataType1 = typeof data1;
                var coerced1 = undefined;
                if (dataType1 == 'number' || dataType1 == 'boolean') coerced1 = '' + data1;
                else if (data1 === null) coerced1 = '';
                if (coerced1

[2020-02-25 17:40] mirekgw commented on #237
I believe I know what the issue is. The problem is that ajv library is for JSON validation and as we all know it's text only format. OpenApi introduced strange construct i.e. string with format binary. It's not compatible with JSON so basically we can't use it (or at least we can't validate that with ajv). Not sure how to proceed here, I'm not expecting JSON spec will be extended with "binary" for

[2020-02-25 18:22] cdimascio commented on #242
@jtinbergen this should be fixed in `3.9.0`. let me know how it goes. thanks!

[2020-02-25 18:22] #242 closed

[2020-02-25 18:26] mirekgw opened #245 "how ignorePaths work?"
I'm trying to **not** validate request data for specific path and I was trying to use ignorePaths, but it seems it's not working as I tough.

I have a path in openapi .yaml file that I would like to exclude from body verification. But I would still like to use param parsing that openapi validator is doing (in `applyOpenApiMetadata` function).

I'm seeing when request is processed that `lookupRoute

[2020-02-25 18:30] cdimascio commented on #241
Your workaround is the best way to handle this.

The `+` character is a reserved character according to [RFC3986](https://tools.ietf.org/html/rfc3986), thus the validator is doing the right thing.

At this point in time, I think it makes sense to close this and wait for the axios fix.
Thoughts?

[2020-02-25 21:07] severinwullschleger opened #246 "Date is not validated correctly as type: string, format: date-time"
Hi

I want to return the _created_ and _lastModified_ timestamp from the database which I define in my ORM with type _Date_.

If I print the response object in my express router before returning it, it looks like this:
[code]

If I call the endpoint I get the following reponse object:
[code]
-> correctly stringified

As soon as I set the validateResponses option in the OpenApiValidator on true, I

[2020-02-25 21:26] martinbark commented on #246
I just hit this same issue today.  It's because the date is an object not a string.  At the point the response it validated it's still a Date object.  When you print it [date.toJSON()](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toJSON) is called to convert it to a string.  It's not specific to Date, you would see this issue on any object that has a [toJSO

[2020-02-25 21:48] severinwullschleger commented on #246
Thanks a lot. The workaround worked for me too.

[2020-02-25 22:40] cdimascio commented on #245
thanks @mirekgw , just checked the code`ignorePaths` is broken. the test cases are also broken and incorrectly pass. we'll have a look.

[2020-02-25 23:03] cdimascio commented on #245
should have a fix soon see #247
in terms of intended behavior... provide a regex to `ignorePaths`. Path matched by the regex will be ignored.

[2020-02-25 23:05] cdimascio commented on #245
fix is in `v3.9.1`

[2020-02-26 01:38] cdimascio commented on #237
@mirekgw, thanks for digging in an investigating this. this is very helpful. if you don't mind sharing a canonical version of your spec and express app (perhaps via a public repo on github). I'll certainly have a look. It will help to have a reproducible example, one to explore possible workarounds/solutions

[2020-02-26 08:25] mirekgw commented on #237
I will prepare sample app to reproduce.

As to the issue, I believe I have found an easy solution and I will create PR later today. Hopefully you will accept the idea, that is not verifying body at all if the content-type is 'application/octet-stream'.  I believe verifying `octet-stream` content don't make any sense as it's just bunch of bytes. I quickly patched .js file containing `buildMiddlewar

[2020-02-26 13:35] Haruki-Mortis opened #248 "Feature: Extendable fileUploader"
Hello again :)

I'm going to use multer to upload files, but there are some specific issues with your file uploader.
I want to handle the file upload with multer and then the file should be uploaded to an AWS S3 Bucket.

When I use your fileUploader, the file is only saved in my local folder. It would be really nice if I could add a middleware to your fileUploader so that I can process the new Fil

[2020-02-26 14:43] mirekgw commented on #237
I prepared repo with sample app that reproduces the issue, sent invite to @cdimascio. I will create PR with proposed fix in few minutes.

Could you reopen the issue, as it's not fixed for me, and I don't have rights to reopen.
Thanks

[2020-02-26 17:05] mirekgw commented on #237
Don't have rights to create branch, so I'll type here what I would put in PR.
As I mention before my idea is that there is no point to validate request's body if content-type is application/octet-stream. So I propose to change src/middlewares/openapi.request.validator.ts file in following way:
`private buildMiddleware()` function , add new line at line 94 and modify 95 & 96:

    const isOctetStre

[2020-02-26 20:36] cdimascio commented on #237
Thanks for your efforts, @mirekgw. They are greatly appreciated. I'll be sure to try your repo within the next few days. Please feel free to submit a PR. I'll definitely have a look. Thanks again!

[2020-02-27 08:20] Haruki-Mortis commented on #248
* However, if the fileUploader is set false, your validator will no longer validate my openapi definitions for files.

This is wrong. It's more like your validator can't validate the body anymore. It fails if the fileUploader is false and the body property "image" is required.

[code]

[2020-02-27 09:15] AKGP opened #249 "Request body property is coerced e.g. ("123" coerced to123)"
Hi,  I am using openapi: 3.0.2 with express-openAPI-validator ^2.0.0
I am getting the following problem:
When I am using
[code]

its changing the integer values to string
like
[code]
and I am getting

[code]

Please fix this problem as I am getting validation issue due to this

[2020-02-27 13:01] cdimascio commented on #249
@AKGP, can u share your spec. I wonder if the property `a` is specified as a string and not a number

[2020-02-27 18:19] cdimascio commented on #245
@mirekgw did you have success with the fix? Note, i also made some updates to the README.

[2020-02-27 18:19] #245 closed

[2020-02-27 22:18] WilliamStewart commented on #133
Any way of doing this for a specific endpoint instead of globally?

[2020-02-27 22:29] cdimascio commented on #133
@WilliamStewart Currently, there is not. It's something to consider. Feel free to open an issue and perhaps a description of the use case.
I'd argue that better to keep this behavior consistent (choose one or the other for the entirety of the API) in order to alleviate confusion amongst the APIs users.

[2020-02-28 12:32] AKGP commented on #249
[code]
i am using this but when I put the value as 100 in request body I found it got changed to "100"after validation instead it show throw an error of type mismatch.

[2020-02-28 12:33] #185 closed

[2020-02-28 22:33] luboskriz commented on #239
Hi @cdimascio I am happy that you will look at the issue!

I am working on a larger rapidly growing project and this is a no go blocker for us. I tried couple workarounds, but none of them works for me completely.

I would need to have this fixed as soon as possible, so if it is not a priority for you and you could give me some hints, I would like to help fixing it, even though I am not definitely

[2020-02-29 01:51] cdimascio commented on #239
@luboskriz this issue occurs for both request and response validation. it's an issue in AJV itself. The arguably its how JSON Schema works
see the thread here https://github.com/epoberezkin/ajv/issues/837

All in all, a workaround is to remove `additonalProperties: false`

[2020-02-29 01:57] cdimascio commented on #249
Because you spec specifies monthly income as a string. AJV will coerce the value according to its [coercion rules](https://github.com/epoberezkin/ajv/blob/master/COERCION.md). In this case, `100`can be coerced to the correct type, thus its coerced from the number `100` to expected type string, `"100"`.

This is currently the expected behavior,

[2020-02-29 21:53] cdimascio commented on #237
@mirekgw note that you create a PR even though you can't creat a branch in this repo here is how

**tldr**
Find a project you want to contribute to
Fork it
Clone it to your local system
Make a new branch
Make your changes
Push it back to your repo
Click the Compare & pull request button
Click Create pull request to open a new pull request

Detailed steps with example: https://opensource.com/articl

[2020-02-29 21:54] cdimascio commented on #237
Also if u submit and we merge your change to master, you will show up on this project's contributors page :)

[2020-03-02 07:50] mirekgw commented on #237
Created PR

[2020-03-03 08:29] faroceann opened #252 "loadSpec() issues, asynchronous middleware registration"
In some cases it may not ideal to have `express-openapi-validator` load and dereference the provided Open API spec on its own.

Would it be feasible for us to add support for a string or buffer argument in place of `filePath` in [loadSpec()](https://github.com/faroceann/express-openapi-validator/blob/master/src/framework/index.ts#L76) which skips the JSON scheme dereferencing and calls to `fs`?

[2020-03-03 14:36] cdimascio commented on #252
Can you describe your use case?
Also please provide some detail about the behavior you are experiencing.

As for providing a buffer or string, the validator already accepts a string, however it will still dereference it. We could potentially can add an option to instruct the validator to skip the dereference phase (by adding a disable option to the refParser option). This could ensure the spec is

[2020-03-03 14:49] cdimascio commented on #252
@faroceann thanks for the issue. Can you describe the issue in a bit more detail. We could potentially add an additional option to $refParser that disables the dereference phase. That being said I’d like to understand your issue in a bit more depth. Thanks!

[2020-03-03 19:16] faroceann commented on #252
Hey @cdimascio, there are two things going on here, the first is that we compile and deference our OpenAPI spec ourself, so we don't need those phases to occur.

The second thing, which is more nuanced, is that the way `express-openapi-validator` temporarily changes the CWD and loads the file using an absolute path is not ideal for my scenario. I need to resolve and load the spec file in our own m

[2020-03-03 22:11] cdimascio commented on #252
@faroceann I've created a PR #252. The PR it continue to support the two methods of providing an api spec; that being the ability to provide either a path or JSON object as`apiSpec`

Additionally, the enhancement adds a new option to `$refParser`. `$refParser` can now be set to false, thus disabling the dereference/bundle and instead keeps the object as-is or loads the file using `fs` as-is

[2020-03-03 22:40] cdimascio commented on #237
fix is in `v3.9.3`

[2020-03-03 22:40] #237 closed

[2020-03-04 05:38] faroceann commented on #252
Thank you @cdimascio for putting together the PR.

It wasn't clear to me upon first look that this library supports providing a JSON object as `apiSpec`.

While I still think having the option skip dereferencing feels useful, and I tested your PR and it worked, I found a different root cause of my original issue. Loadspec() was not working for me due to `deasync` – I did not realize there was a pe

[2020-03-04 06:22] faroceann commented on #252
Update: I took a look and found out why doing this synchronously would be challenging, and why you chose `deasync`.  😄It looks the `json-schema-ref-parser` dependency is strictly async.

One much better approach  I found was to use `await`
[code]

Instead of a non-awaited `.installSync()`. This allows my middlewares to bootstrap in the order I want.

[2020-03-04 06:22] #252 closed

[2020-03-04 19:05] cdimascio commented on #252
Yes. Deaync is there for folks who were using it in v2. There are a lot of gotchas with deasync, hence with v3 we did continue to support it, but it is not recommended. Certainly use install() and either promises or async /await.

[2020-03-04 19:06] cdimascio commented on #252
All being said, is the option to disable the ref parser no longer necessary for your use case?

[2020-03-05 01:16] faroceann commented on #252
Yes, it's no longer necessary   – Thank you so much for your help

[2020-03-06 10:12] TorstenForth opened #256 "URI-encoded path parameters get broken"
Hi,

I submit a string containing the '/' character with Swagger UI in the browser (as a path parameter).
When I receive the string in req.params, the string contains the URI-encoded '%2F'.

I was debugging into the source code and found out that the req.params (which are URI-decoded by Express) are overwritten with the original (not URI-decoded) values.
The params are overwritten in the file src/

[2020-03-06 14:36] cdimascio commented on #256
@TorstenForth thanks for the issue. perhaps the validator (like express) must also decode the path param prior to overriding it. is this effectively what you are suggesting? also if you feel so inclined, feel free to make the change and submit a PR. i'm happy to review

[2020-03-06 16:22] TorstenForth commented on #256
@cdimascio Thanks for the quick reply. Decoding the path params would work for me. I'm not familiar with the internals of the validator. Why are the parameters actually overwritten?

 Is it ok to change line 140 to
``req.params[name] = decodeURIComponent(pathParams[name]) || req.params[name];``?

I tried to push a branch with the fix for the pull request but I gut a 'Permission denied' error.

[2020-03-06 16:43] cdimascio commented on #256
Sure, please give that a try. If all `200+` tests pass, we should be good shape, but i'll review to be sure.

To create the PR*
**tldr**
- Find a project you want to contribute to
- Fork it
- Clone it to your local system
- Make a new branch
- Make your changes
- Push it back to your repo
- From the Github UI, Click the Compare & pull request button (NOTE: this button will be present for some wind

[2020-03-06 17:10] cdimascio commented on #256
Also, if you don't, please provide the relevant aspects of your spec, your express handler function, and the http call you are making. this will help me to repro

[2020-03-06 17:13] cdimascio commented on #256
If your change does not work, another thing to try might be to modify
[openapi.metadata.ts line 55](https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.metadata.ts#L55). This is where the param value is extracted. It may need to be decoded there as it's much earlier in the process. the override occur very late.

something like
[code]

[2020-03-07 03:34] cdimascio commented on #256
@TorstenForth i had a look at this issue. it should be resolved now. see `v3.9.4`. let me know how it goes. thanks!

[2020-03-07 03:34] #256 closed

[2020-03-08 21:09] luboskriz commented on #239
Thanks for the investigation, @cdimascio, appreciate it. I will implement some workaround.

[2020-03-08 23:53] cdimascio commented on #239
FYI, u saw this today, [json-schema-merge-all-off](https://github.com/mokkabonna/json-schema-merge-allof). I will plan to look into it. Im curious it might help this situation. If so, perhaps I can leverage it within this lib

[2020-03-09 08:48] TorstenForth commented on #256
@cdimascio Thank you very much. It works well now.

[2020-03-14 04:48] patrickhammond opened #260 "Validation incorrectly passes when response is array instead of object"
When response validation is turned on, if the response is an array instead of an object validation incorrectly passes instead of failing with a 500 error.

Have tried all three values for coerceTypes with no change in behavior.

Test case demonstrating the issue can be found here:
https://github.com/patrickhammond/express-openapi-validator/commit/3cfd7e6c672bbad2291b476568ab477d9692cd31

I've trac

[2020-03-15 03:45] cdimascio commented on #260
@patrickhammond, for this misbehaving case, are you using `allOf`, `anyOf`, or `oneOf?
It would be great if you can provide the relevant snippets from your spec

[2020-03-16 13:12] patrickhammond commented on #260
Not using `allOf`, `anyOf`, or `oneOf` in the spec. I've updated the spec in my demo fork to include `FlatPet` that removes the `allOf` and also mirrors the same structure when I discovered this behavior.

Hope this helps and stay healthy!

[2020-03-16 21:36] cdimascio commented on #260
Here's a way to fix it, add `type: object` to `FlatPet`

It seems when the type is missing, ajv tries to do its best to reconcile the data with the schema. In this case, it accepts the array. Perhaps it's using the first item (speculating. haven't yet looked at its code)

[code]

[2020-03-17 15:45] patrickhammond commented on #260
@cdimascio Just verified that works. Thank you!

Not actually seeing that there is a defined default value for the type field (https://tools.ietf.org/html/draft-wright-json-schema-validation-00#section-5.21, https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.3.md#schemaObject) so am wondering if this should be a warning?

For what it's worth, as soon as I ran my document through

[2020-03-17 20:22] cdimascio commented on #260
@patrickhammond thanks for pointing out the linter. i had been using https://editor.swagger.io which doesn't catch the missing attribute.
at the least, I'll add this to the FAQ. i'll keep the issue open for a bit. i'd like to do a bit more exploration to see whether this case can be identified in code and (as you suggested) emit a warning.

[2020-03-20 20:14] greenkeeper[bot] opened #263 "An in-range update of morgan is breaking the build 🚨"
***
☝️ **Important announcement:** Greenkeeper will be saying goodbye 👋 and passing the torch to Snyk on June 3rd, 2020! [Find out how to migrate to Snyk and more at greenkeeper.io](https://greenkeeper.io)
***
## The devDependency [morgan](https://github.com/expressjs/morgan) was updated from `1.9.1` to `1.10.0`.

🚨 [View failing branch](https://github.com/cdimascio/express-openapi-validator/compa

[2020-03-22 13:58] sheldhur opened #265 "fast-json-stringify"
Hi.
If we have schema for response validation then we can use it in `fast-json-stringify`. This should increase performance.

[2020-03-22 14:04] cdimascio commented on #265
@sheldhur, this sounds like a good idea. Would u be interested in putting a PR together?

[2020-03-22 14:09] sheldhur commented on #265
@cdimascio sorry, I do not have time to do this. I saw this solution in `fastify`, I thought it might be useful

[2020-03-23 03:27] cdimascio commented on #265
No worries. Appreciate the tip and your interest.

[2020-03-26 13:59] bluenote10 opened #266 "Nullable object property fails to validate `null`"
**Describe the bug**

I'm working with an API that requires differentiating between properties that are `T | undefined` or `T | null`.

In OpenAPI 3.0, `T | null` properties seem to be modelled like:

[code]

In both cases the validator does not accept `null` as a valid value. Errors are `'should be object'` and `'should match some schema in anyOf'`.

**To Reproduce**

Validate above against `{ ot

[2020-04-01 19:10] cdimascio commented on #266
@bluenote10
Using the first form e.g. `nullableObjectMaybeNullA`, `nullable` would be ignored given its a sibling to the `$ref`, hence that won't work.

The second form is, well, complicated, see https://github.com/OAI/OpenAPI-Specification/issues/1368

That being said, I did some playing around. The following will pass validation:
Note: moving `nullable: true` to `OtherObject`

[code]

There is s

[2020-04-02 11:45] bluenote10 commented on #266
Thanks for looking into this! Yes, that seems to be a bit of a mess in OpenAPI 3.0. My interpretation of [Clarify Semantics of nullable in OpenAPI 3.0](https://github.com/OAI/OpenAPI-Specification/blob/master/proposals/003_Clarify-Nullable.md) was that at least the second form is valid. Other indicators:

- The online swagger validator shows the second form as valid, and actually outputs a warning

[2020-04-02 14:18] bluenote10 opened #268 "Any work-around for ajv's undesired number coercing rules?"
**Is your feature request related to a problem? Please describe.**

Since this library is using ajv under the hood, the issue is probably a fundamental problem in ajv, which I have reported [here](https://github.com/epoberezkin/ajv/issues/1182). I'm not sure if this will be actioned on ajv side, so I'm wondering if a work-around is feasible in terms of the hooks in the middleware.

In short: Coerc

[2020-04-03 21:49] cdimascio commented on #268
One possible workaround is to add `nullable: true`.

[code]

[2020-04-04 07:47] bluenote10 commented on #268
As I have tried to explain in the other ticket already, this is not really a solution.

Maybe it helps to explain the context. The API is in the context of numerical data science, where data gets pushed from Python clients. In the data science community it is a standard to represent missing numbers as `NaN` (Numpy/Pandas follow that rule). The API consists of maybe 15 types all containing mainly `

[2020-04-08 01:29] cdimascio commented on #268
Thanks @bluenote10, I'll explore possible options.

[2020-04-09 14:51] jordandobrev opened #270 "Wildcard content types support"
Using content types `*.*` does not work atm when specified in requestBody.

[code]

When route is reached the validation returns `unsupported media type`

[2020-04-09 14:56] jordandobrev opened #271 "Content types with parameters validate wrong request data"
When the same content type is used with different properties in the requestBody the validation always validates agains the first content type schema.

Example:
[code]

Atm the content type validation passes but it always validates the request against `BasicUser` instead of `InternalUser` when the request is made with `application/vnd.company.user+json; type=internal`

[2020-04-09 19:39] cdimascio commented on #270
Thanks for the issue @jordandobrev. Would you be up for taking a stab at it?

Here are some tips:

I believe [this method](https://github.com/cdimascio/express-openapi-validator/blob/53e53d772865d2adedeef89d7702909ebf6e9c8f/src/middlewares/parsers/body.parse.ts#L28) needs to be updated to handle wildcards. That is, it should select a matching wildcard schema if a match is not found.

You could add

[2020-04-09 19:45] cdimascio commented on #271
This issue is similar to #270. The content matcher is ignoring the boundary. Perhaps, boundary should only be ignored for multipart?

[2020-04-10 08:39] jordandobrev commented on #270
Yeah sure I’ll have a go this or next week and will PR it.

[2020-04-10 14:37] cdimascio commented on #270
Awesome! Thanks so much.

[2020-04-12 07:48] bluenote10 commented on #268
Thanks for looking into it!

In my opinion the best solution would be to have a custom coercion mechanism in ajv already, and express-openapi-validator only forwards setting to it. That would allow users to define their desired behavior regarding `number` coercing, and also pass in custom "coercers" for any user type `T`.

[2020-04-13 15:37] #270 closed

[2020-04-13 15:37] cdimascio commented on #270
available in `v3.12.0`

[2020-04-13 15:38] cdimascio commented on #271
fixed in `v3.12.0`

[2020-04-13 15:38] #271 closed

[2020-04-13 15:55] #263 closed

[2020-04-15 18:25] akanduri opened #275 "Validation is not working properly in case of oneOf of the schamas"
Validation is not working properly in case of oneOf of the schemas

Here are the details,

Note: few properties are the same name both of the schemas.

Post call :
      oneOf:
          #ref: registerFormObj
          #ref: registrationDetailsFormObj

registerFormObj:
      {
  "register_type": "XXX",
  "register_token": {
    "register_value": "1234",
    "registration_source": "PO",
    "regpro

[2020-04-16 21:55] komikoni opened #276 "Difference from swagger-express-validator"
I used to use swagger-express-validator when using OAS V2.
https://github.com/gargol/swagger-express-validator

It was very convenient, but it did not support V3.
So I found express-openapi-validator.

Unfortunately Some features of swagger-express-validator are missing.

- requestValidationFn
- responseValidationFn
- ajvRequestOptions
- ajvResponseOptions

Any ideas for implementing similar funct

[2020-04-17 22:01] cdimascio commented on #276
Can u describe some of the features your looking for in more detail?

Some notes which may be relevant:

With respect to Ajv ootions, a number of the most relevant Ajv options can be tweaked via the validator's options object. See the README to view the validators option. There should be good coverage for the more frequent customizations. Note that if there is a particular Ajv option that you are

[2020-04-21 02:15] #276 closed

[2020-04-22 03:27] cdimascio commented on #275
@akanduri can you provide you openapi spec. i'll take a look

[2020-04-24 10:18] tkarls opened #280 "Support cookie based security validation?"
I have an API and added both Bearer token authentication as well as support for sessions with cookies. But now the openapi validater never ever complain about missing credentials if I have them both listed in the security array.

It works as expected when I only use bearer auth (getting 401 and error message if no bearer token is present). But as soon as I add the cookie based auth to the security

[2020-04-24 23:51] cdimascio commented on #280
@tkarls Yep. We need to get this implemented.
Would you mind providing the relevant snippet from your API spec

[2020-04-25 00:40] cdimascio commented on #280
initial cookie auth support: https://github.com/cdimascio/express-openapi-validator/commit/b7d7afc5fa3f2fdf3ec4560ae0db4b80aa26903e

[2020-04-25 00:43] cdimascio commented on #280
@tkarls please give `v3.12.5` a try. let me know if suits your needs.

[2020-04-26 07:31] gudbrand3 opened #281 "Multi versioned api specification - only first version being initiated"
**Describe the bug**
It seems that when trying to load multiple api specifications for validation of different versions the await new OpenApiValidator only recognises the first version provided in the array of multiple.

**To Reproduce**
**app.js**
[code]

**app/validator.js**
[code]

**app/routes.js**
[code]

**Actual behavior**
The validator always works for the first version defined in the arra

[2020-04-26 18:30] cdimascio commented on #281
@gudbrand3 two things:
1. I noticed a mistake in the example provided in the README. The same bug is present in app which is at least contributing to the problem.
[code]
2. I've updated the README and also created a new complete [example](https://github.com/cdimascio/express-openapi-validator/tree/master/examples/2-standard-multiple-api-specs)

Please give this a try. Let me know how it goes

[2020-04-26 18:34] cdimascio commented on #281
@gudbrand3  i'm closing this seeing the problem once the app code is fixed i.e. bullet 1. above. Also, the new example works.

Please reopen if you continue to see the issue after applying the fixes. Thanks!

[2020-04-26 18:34] #281 closed

[2020-04-26 18:35] cdimascio commented on #280
@tkarls this is fixed in the latest version, please re-open if you still have issues. Thank you!

[2020-04-26 18:35] #280 closed

[2020-04-26 19:44] cdimascio commented on #270
@all-contributors add @jordandobrev for code and test

[2020-04-27 07:58] tkarls commented on #280
@cdimascio Wow, this was quick 😁

I will test the latest version during the day!
Many thanks!

[2020-04-27 11:34] tkarls commented on #280
@cdimascio
I have tested it in my project now and it works!
Only small thing left would be that it only returns the error of the first validation that failed. So if I don't send in any cookie nor any token I get an error message that complains about only one of them (the first that failed) which is the first I list in the openapi spec.

Which is different from other request validations where I get

[2020-04-27 18:18] tkarls commented on #210
I too would like that.

I think instead of passing in an array with strings like ['formats', 'to', ignore'] one could pass in a map with format validators.

[code]

[2020-04-28 12:52] cdimascio commented on #280
thanks @tkarls. i'll create a ticket for the errors. will be good to have the same representation

[2020-04-28 12:55] cdimascio opened #284 "If multiple security are not met, the first unmet security error is returned, instead an error per each unmet security"
If multiple securities are configured for an endpoint and multiple are not met, the `errors` object only contains the first security error, instead of all security errors.

[2020-05-04 18:03] joerg-walter-de opened #285 "Handle typos in operationIds / missing handler better"
A mismatch of operationIds (when autmatically mapped) and the actual handler functions doesn't yield  any usable error message. The name of the missing function / path etc. should be displayed.

[2020-05-04 19:27] cdimascio commented on #285
hi @joerg-walter-de, are you using the latest version?

note that very recently pushed a couple of commits that improve the messaging around typos in operations. Here is the most recent of these commits.

https://github.com/cdimascio/express-openapi-validator/blob/master/src/index.ts#L264

let me know if upgrading to the latest solves your issue. if not perhaps you can provide a brief snippet so t

[2020-05-04 21:45] joerg-walter-de opened #286 "Reading extra properties attached to method in paths a handler function is associated with"
I would like to attach arbitrary properties to a method description block that can be read from a handler function. Is that possible right now?

[2020-05-05 13:46] theBoEffect commented on #275
@akanduri , sorry if this isn't applicable, but I just wanted to let you know I did run into this recently as well. The problem was that my request matched more than one of the oneOf objects and it must only match 1 of them (exactly one), which looks like the same problem here. You could probably make this work by adding an "additionalProperties: false" to your registerFormObj. Alternatively, sinc

[2020-05-05 20:14] xeoneux opened #287 "Default values missing in query"
First of all, thanks a lot for this package @cdimascio

I couldn't find any other lib that handles OpenAPI v3 well, is well maintained and has a good amount of tests 😄

So here's my issue:
For example, I'm using this schema:
[code]

Along with this query item:
[code]

Then, inside the route, the `req.query.sort` is an empty object instead of the default values, `{ sort: {field: 'id', order: 'ASC'}

[2020-05-06 13:23] cdimascio commented on #287
@xeoneux, I created 2 new tests for `deepObject` that uses default values. The tests are similar to your use case. They also appear to work.

Here are some links

tests:
- https://github.com/cdimascio/express-openapi-validator/blob/master/test/serialized.objects.spec.ts#L138
- https://github.com/cdimascio/express-openapi-validator/blob/master/test/serialized.objects.spec.ts#L138

spec:
- https://g

[2020-05-06 13:30] cdimascio commented on #285
@joerg-walter-de sounds like the upgrade solved the issue? if not please reopen

[2020-05-06 13:30] #285 closed

[2020-05-06 13:36] cdimascio commented on #286
can you provide some additional detail about what you'd like to do. are proposing new vendor extensions?

[2020-05-06 15:33] xeoneux commented on #287
Hi @cdimascio, I created a repo for the case here: https://github.com/xeoneux/express-openapi-validator-default-query-issue

I'm using $ref for schema to query object and I can see your test as well for that `deep_object_2` but it's not working for this case.

[2020-05-06 19:22] xeoneux opened #288 "Response validation: Automatically coerce date data type to ISO string"
**Is your feature request related to a problem? Please describe.**
When validating responses, if the data type is a js `Date` object, the validation of type string with format date-time fails.

[code]

**Describe the solution you'd like**
The lib should try to coerce the type to ISO string and then try validation on it.

[code]

**Describe alternatives you've considered**
I have to programmaticall

[2020-05-07 04:15] cdimascio commented on #287
@xeoneux Thanks for the sample. I'm working on a fix. Should have something soon

[2020-05-07 12:39] hpl002 opened #290 "validation error even if format declared in unknownFormats"
**Describe the bug**
Title says it. Trying to verify schema with custom format. Error is thrown even if the format name is included in unknownFormats array.

**To Reproduce**
run with supplied .yaml

**Actual behavior**
See error output

**Expected behavior**
No errors, rest of schema is valid

**Examples and context**

**YAML:**
[code]
**ERROR:**
[code]

**JS**
[code]

[2020-05-07 13:01] #287 closed

[2020-05-07 13:03] #290 closed

[2020-05-07 13:07] hpl002 commented on #290
Please reopen.

Closed too quickly. Assumed i read the documentation wrong, but seemingly not so.
Have also tried by providing a options object as specified in https://github.com/cdimascio/express-openapi-validator#openapivalidator-options but to no avail.

Would appreciate some clarification or the direction to a verified example..

[2020-05-07 13:10] cdimascio commented on #290
@hpl002  Note the error: `Error: openapi.validator: args.apiDoc was invalid.  See the output.` This seems to indicate that your spec is invalid
First, validate your spec to ensure it's syntactically correct. A tool like [swagger editor](https://editor.swagger.io/) can help

[2020-05-07 13:14] xeoneux commented on #287
Sure, will you create a release on npm please?

[2020-05-07 13:35] hpl002 commented on #290
The spec is fine. To verify i tried the following:
[code]
**Note:** here i changed pathName to something without dashes( - ). Swagger editor only throws an error because i have not prefixed they custom keyword with _x-_, which is exactly the problem that _unknownFormats_ solves? Am i misunderstanding?

Using properly prefixed custom extensions throws yet another error (However, this format would b

[2020-05-07 13:43] cdimascio commented on #290
@hpl002 i think you may be misunderstanding the spec. your first example is not valid. you can't  use an arbitrary property e.g. `uuid` directly under a path. in the second example you're effectively declaring a vendor extension. a vendor extension is not a format, and likely not what you want.

here is more information about openapi datatypes:
https://swagger.io/docs/specification/data-models/dat

[2020-05-07 14:26] hpl002 commented on #290
aha! My usage is **completely wrong,** no question about that.

However, what i'm trying to achieve is seemingly still not supported.
**Are vendor extension supported on path level?** They are allowed according to the [spec](https://swagger.io/docs/specification/openapi-extensions/)

[code]

They work perfectly fine on operator level.

For reference:
x-vendorExtension1 breaks
x-vendorExtension2 do

[2020-05-07 15:15] cdimascio commented on #290
fixed the issue with vendor extension declared in path. see `v3.12.9`

[2020-05-07 15:33] cdimascio commented on #287
Yes. Its already [available](https://www.npmjs.com/package/express-openapi-validator).  Let me know how it goes

[2020-05-07 16:23] hpl002 commented on #290
Great! 🥇 👏

Appreciate the swift support!

[2020-05-07 17:05] cdimascio commented on #288
@xeoneux is this occurring with response validation?

[2020-05-07 17:20] xeoneux commented on #288
This is with response validation, didn't check the request part.

[2020-05-07 20:26] cdimascio commented on #288
@xeoneux I did some investigation here. This is a bit tricky to solve. I'm not sure a satisfactory solution exists within Ajv.

I tried to create a custom Ajv keyword. A keyword will enable me to manipulate the `Date` object and convert it to a string e.g. `toISOString()`, The problem is described [here](https://github.com/epoberezkin/ajv/issues/141#issuecomment-270692820) and [here](https://githu

[2020-05-07 20:28] cdimascio commented on #288
keeping this open, perhaps folks have alternative ideas

[2020-05-07 20:43] xeoneux commented on #287
Works perfectly fine! Thanks @cdimascio 😄

[2020-05-09 01:34] vedenj commented on #231
@cdimascio this link is broken. I assume you're talking about https://github.com/cdimascio/express-openapi-validator/tree/master/examples/3-eov-operations?

[2020-05-09 02:59] cdimascio commented on #231
@vedenj thanks, yes that is the one.

[2020-05-11 21:06] santiagovazquez opened #291 "Response Validation passes when sending a number value instead of a string"
Response Validation not working as it should. It passes the type validation when sending a number over a string.

**To Reproduce**

Spec for the response
[code]
On my endpoint:
[code]
Configurations: `validateResponses: true, validateFormats: 'full'`

**Actual behavior**
It does not fail and also changes the type on the response.
For the example above with `validateResponses: true`, the JSON respo

[2020-05-11 21:22] santiagovazquez commented on #291
Sorry, my bad.

[2020-05-11 21:22] #291 closed

[2020-05-12 15:52] electrotype commented on #288
I have the same problem and found this, which is related: https://github.com/cdimascio/express-openapi-validator/issues/246

Still a workaround, but hey.

[2020-05-12 15:58] electrotype commented on #246
Using `send` seems to be required for me instead:

[code]

[2020-05-13 16:38] mdwheele opened #292 "Support "fully qualified" operationId that include the handler prefix"
Hello!

☝️ First, thank you so much for this package. I stumbled across this looking for resources that would promote my application's OpenAPI specification as the "source of truth" for Express as well as docgen and this hits all the marks.

I use [Spotlight](https://stoplight.io) to manage my API specification and am able to specify `operationId`, as usual. However, to use this library, I need to

[2020-05-13 18:59] cdimascio commented on #292
@mdwheele thanks for the ticket and your interest in the project. I like the idea, though I'm a bit hesitant to support it. here's why...

`operationId` is defined by the OpenAPI specification as a unique string used to identify an operation. Tools e.g. code generators commonly use the value of `operationId` as names for a corresponding method.

As such I don't think I should provide `operationId`

[2020-05-13 19:52] cdimascio commented on #292
@mdwheele, please feel free to take a crack at it. I like the ideas.

The following, in particular, is a no-brainer. This should be supported

I like the connexion example. It's clearly working in that ecosystem. There is still a tooling challenge around codegen and the like. Perhaps, it's something reasonably compromised. Ultimately, if one chooses to use complex values for`operationId`, they ris

[2020-05-15 08:23] nrail-joerg-walter opened #293 "Bug: Validation error somehow caused by maxLength property"
I have

[code]

and

[code]
AccountEmailAddress is used in another flat schema without oneOf relations.

I get this strange error:

[code]

When I comment out the maxLength property it is accepted.

redoc and ibm-openapi-validator accept the specification.

[2020-05-15 08:49] nrail-joerg-walter commented on #293
Got it.Type: maxlength instead of maxLength

[2020-05-15 16:06] #293 closed

[2020-05-18 21:13] rhalukongor opened #294 "NPE when using object query parameters with style: form and explode: true"
**Describe the bug**
When a schema includes object query parameters with style: form and explode:true an NPE is thrown:

**To Reproduce**
Try using the first schema in this [SO answer](https://stackoverflow.com/a/49199240)

**Actual behavior**
An NPE is thrown with the following stacktrace:
[code]

**Expected behavior**
Validation should work

**Examples and context**
This is the schema I've had t

[2020-05-18 21:40] rhalukongor opened #295 "Consider dividing installation into two steps for schema processing and middleware"
**Is your feature request related to a problem? Please describe.**
Current API forces the function that builds the routes to be async since the installation is async. (I know there is the sync version but if I understand correctly, it may be problematic).

**Describe the solution you'd like**
I would prefer installation to be made in two steps:
1. An async `validator.setup(options) => middleware`

[2020-05-19 00:59] cdimascio commented on #294
@rhalukongor the spec looks malformatted

note: I often use https://editor.swagger.io/ when writing the spec to ensure its syntactically correct.

try something like this:
[code]

[2020-05-19 02:33] ckeboss opened #296 "Route matching does not take into account method"
**Describe the bug**
2 routes are defined:

[code]

PATCH /foo/foo-bar

security will not find the schema because it will be looking in the route `/foo/:id` and only a GET is defined, so a 405 will be thrown.

**To Reproduce**
See above

**Actual behavior**
See above

**Expected behavior**
I believe the lookupRoute should take into account if the schema exists. It looks like it's intentional right

[2020-05-19 10:21] rhalukongor commented on #294
I do use the editor and I couldn't notice the difference with what you've sent above.*
I use the schema version 3 BTW.

\*  except for the `parameters` being an array and the example not having an `explode`

[2020-05-19 12:50] cdimascio commented on #294
@rhalukongor apologies I accidentally left out `explode`. I've edited the schema above to include it. there are subtle differences between our examples. for instance, your example has a few properties that are misplaced e.g. `explode` and `style`

[2020-05-19 13:37] nrail-joerg-walter opened #297 "Unintelligable error when requesting POST method"
I get in the debugger:

[code]

The schema NewPasskey does exist. The prop newPasskey does exist in that schema.
The ref #/components/schemas/NewPasskey does exist. But it is not involved in the requested route/method.

NewPasskey contains a ref to another file. When I remove that ref the request passes.
But then a similar error is displayed on response validation.

Finally after removing all refs

[2020-05-19 13:53] rhalukongor commented on #294
OK. Edited the example to emphasize that `style` and `explode` are in the correct spot and at the same level with your example. (moved them up, keeping the same level)
If I'm not mistaken, if this was a schema issue, I would have different errors:
- Swagger editor would show the error
- `install` step would probably fail or I would have an initialization time error, not a request time error

[2020-05-19 14:31] rhalukongor commented on #294
OK figured this out. In the example I've renamed properties to help with illustrating the issue. In my code however, the parent and the child property had the same name. Apparently the aforementioned error happens when these parents and children carry the same property name.

I'm not familiar with the OpenAPI spec enough to tell whether sharing the same name is allowed. It that's the case, this is

[2020-05-19 15:37] cdimascio commented on #296
the issue may be the fact the `/foo/:id` and `/foo/:slug` have different path paramater names

it should work if the path parameter name is the same e.g.
[code]

looks like have different parameter names for the same route is causing the problem.

[2020-05-19 15:53] cdimascio commented on #296
@ckeboss i don't believe what you are looking for is currently supported by openapi. it certainly is not for swagger 2. it appears to be an open discussion for OAS3.
- https://github.com/swagger-api/swagger-editor/issues/854
- https://github.com/OAI/OpenAPI-Specification/issues/1635

[2020-05-19 23:24] suchy opened #298 "Responses statuses documentation"
Hi, is there any list of status codes express-openapi-validator respond with?

Didn't find that in docs and I'd like to be sure what and in which case I'm going to send to user.

Also I'd like to map all errors to distinguish bugs and operational errors.

Thanks! :)

[2020-05-20 00:50] cdimascio commented on #298
@suchy Thanks. I'll look to get something into the README.
For now, here's the shortlist:

**Requests:**
`400` validation errors
`401` security authentication error e.g. missing api-key, Authorization header, etc
`404` a path is not declared in the API spec
`405` if a path exists, but does not have a schema declared for the method

**Responses**
`500` - for all validation errors

[2020-05-20 01:13] cdimascio commented on #298
readme has been updated with this information

[2020-05-20 01:13] #298 closed

[2020-05-20 07:06] suchy commented on #298
Thanks for quick reaction! :pizza:

[2020-05-20 08:08] nrail-joerg-walter commented on #297
I get this error when requesting another operation:

[code]

The offending element seems to be  a parameter referenced as being in that other file common.yaml:

[code]

I get the feeling that the common.yaml file is not including properly.

[2020-05-20 08:26] nrail-joerg-walter commented on #297
In the parsed schema I see for this path:

![image](https://user-images.githubusercontent.com/64463556/82423637-54f62700-9a84-11ea-9f5b-21a291c89a4c.png)

[2020-05-20 08:35] nrail-joerg-walter commented on #297
The first five parameters are located in the common.yaml file.
These do not appear in the components.parameters section. In this section only definitions from the main file seem to be.

There is a path GET roles and in this the parameters from common.yaml seem to be listed.

[2020-05-20 08:52] nrail-joerg-walter commented on #297
I switched to refParser mode dereference. Now the definitions from the other file do appear and it is somehow working.

But now  I get

[code]

for an in query parameter. But path parameters must not have style props.

![image](https://user-images.githubusercontent.com/64463556/82426344-03e83200-9a88-11ea-93b1-0ce3f45bc305.png)

[2020-05-20 09:15] efabris opened #299 "Throw custom Error instead of simple Error object"
Actually in the request validation process an error is thrown in this way:

`throw validationError(errorCode, req.path, description);`

This approach does not allow to use the power of "istanceof" instruction in the error middleware to detect the error type and add type based logic. The unique way to detect the error type is to check err.status.

A possible solutions could be the use of class and

[2020-05-20 09:39] PavlenkoXX opened #300 "query array - how do i allow reserved characters in query string"
I am using OpenAPI 3.0 and I created swagger get route with query param:

[code]

and using swagger-ui-express on UI everything good and I can send array of values to endpoint

`/endpoint?test=1,2,3`

but validator brings me error

`Parameter 'test' must be url encoded. It's value may not contain reserved characters.`

what's wrong with that?

[2020-05-20 13:18] nrail-joerg-walter commented on #297
I stand corrected: query parameters can have style props. I set style: pipeDelimited and now it works

[2020-05-20 15:47] cdimascio commented on #300
@PavlenkoXX , in your openapi spec, set `allowReserved: true`, if you want to allow reserved characters.
Below is a snippet from the OpenAPI doc

from https://swagger.io/docs/specification/serialization/

[2020-05-21 02:44] cdimascio commented on #300
https://www.ietf.org/rfc/rfc2396.txt

[2020-05-21 02:45] #300 closed

[2020-05-21 02:46] cdimascio commented on #297
@nrail-joerg-walter are you all set? Can this be closed?

[2020-05-21 02:48] cdimascio commented on #294
Can u provide an updated version of your spec that causes the error?

[2020-05-21 06:57] komikoni commented on #276
I'm sorry I can't reply.

You're right The error object that can be parsed is returned, so you can process it freely.
There is no problem.

I decided to use express-openapi-validator for a cool project.

I'll send you some coffee! (Is it coming now? ^ _ ^)
Also give feedback.

[2020-05-22 02:44] cdimascio commented on #276
@komikoni thanks so much!!

[2020-05-23 04:04] cdimascio commented on #299
Available in v3.14.0

[2020-05-23 04:04] #299 closed

[2020-05-25 08:14] nrail-joerg-walter commented on #297
@cdimascio

My code works. But I am not sure about closing:

What about this:

https://github.com/cdimascio/express-openapi-validator/issues/297#issuecomment-631322333
?
Or the fact that the other refParser mode doesn't seem to work?

[2020-05-25 21:22] lucasprograms opened #305 "Unable to use array as a path parameter"
**Describe the bug**
Unable to use array as a path parameter.

**To Reproduce**
Schema:

[code]

Request:
[code]

**Actual behavior**

400 Error:
[code]

**Expected behavior**
Request is not considered to be "bad"

Is there something obviously wrong with my openapi spec? I cannot get any array path parameters to work.

[2020-05-25 22:55] cdimascio commented on #305
@lucasprograms thanks for the issue. this needs to be fixed

[2020-05-26 01:04] cdimascio commented on #305
@lucasprograms this should be fixed in `v3.14.1`

[2020-05-26 01:04] #305 closed

[2020-05-26 01:10] lucasprograms commented on #305
@cdimascio Thank you very, very much!

[2020-05-26 01:22] cdimascio commented on #297
@nrail-joerg-walter this issue may be better suited for the [json-schema-ref-parser](https://github.com/APIDevTools/json-schema-ref-parser) library that express-openapi-validator uses to parse $refs.

[2020-05-26 18:59] efabris opened #308 "Support for Status Code and Header validation in response."
I defined a path in my "openapi.yml" with a response defined in this way:

[code]

However if i send back an empty response with a different error code, or if I send back a "302 "response with "Location" header set to a non URL string, no errors are triggered also if i set "validateResponses" to "true".

Looking in the repo code I cannot find the validation of status code and header in the respons

[2020-05-27 03:45] silesky opened #309 ""params": { "additionalProperty": "default" }, "should NOT have additional properties""
"version": "3.12.3",

I've encountered the following unhelpful ajv error. It's not something that has any open issues around it, and the data path of "" does not make sense. Can someone tell me what is happening? I've trimmed my openapi document down to a single path, and I still get the error.

No json schema linter complains.

**Describe the bug**
// on startup, I get the following error:
[code]

[2020-05-27 21:41] cdimascio commented on #309
@silesky default is not a valid value for additionalProperties. It should be try, false, or a schema.

https://swagger.io/docs/specification/data-models/keywords/

[2020-05-28 00:22] cdimascio commented on #309
@silesky upon a brief review, i don't see anything obviously wrong. are you able to narrow it down the stanza that's causing the issue?

[2020-05-28 00:24] cdimascio commented on #296
closing this out as its not supported by oas3. please reopen if/when this or similar use cases become supported by the spec. also, if there are existing tools that provide this functionality, it will be good to list those. perhaps, we can borrow some of those ideas

[2020-05-28 00:24] #296 closed

[2020-05-28 00:26] cdimascio commented on #308
@efabris currently, only the body is validated in the response. this should be improved.

[2020-05-28 00:32] silesky commented on #309
@cdimascio, thank you.
Yes, I figured it out.
[code]
when I changed it to:
[code]

It worked.

[2020-05-28 02:28] #309 closed

[2020-05-28 06:44] efabris commented on #308
@cdimascio absolutely. I will start working on it tonight.

[2020-05-28 18:34] nrail-joerg-walter commented on #275
I am struggling with:

[code]

with

[code]

this results in :

[code]
Is this error correct?

[2020-05-29 02:02] cdimascio commented on #275
I believe that is expected.
tldr, Try removing `additionalProperties: false`

Here is some information with respect to use of `anyOf`, `oneOf` etc with `additionalProperties`

https://github.com/ajv-validator/ajv/blob/master/FAQ.md#additional-properties-inside-compound-keywords-anyof-oneof-etc

[2020-05-29 10:50] sergebesson opened #310 "Not found path not work with express router"
**Describe the bug**
if using an express router instead of app express, a path not defined does not return the Not Found error

**Examples and context**
example with code bug_openapi.js
[code]
`node bug_openapi.js` to start server
`curl http://localhost:3000/api/notDefined` return 200 - url api not defined.
however, a path is not defined in apiSpec. The return should have been 404 Not Found

[2020-05-29 17:46] mdwheele commented on #292
Hey @cdimascio, I've made some time to work on this. I'm planning on sending a PR early next week depending on how things go. I was able to make progress and everything is working amazingly. I really appreciate the time you've spent building this.

One "side-effect" of standardizing operation handlers (i.e. `some-collection.js` will have a `index`, `show`, `create`, etc. function and so would `som

[2020-05-30 03:28] chittolina commented on #249
@cdimascio First of all - really loved this lib. ty so much.

Now, I have a question. Why would the values be coerced *before* the validation? If that's the expected behavior, basically there's no way to use this to return errors in case the user inputs a `number` where we expect a `string`?

I'm having the same issue right now. This is my definition:

[code]

Using this request:

[code]

Works fi

[2020-05-30 14:23] cdimascio commented on #292
This is great to hear. Thanks for the update. Im willing to accept a PR that handles the path like semantics in operation id. I presume this will enable u to solve the above stated issue. As a start, let's only support forward slashes as path delimiters in operation IDs. Thoughts?

[2020-05-31 17:10] cdimascio commented on #249
@chittolina I agree. It would be good to solve this. One possible idea is two use two separate Ajv validators for requests. One for query params and one for req bodies. This would enable coercion to continue to be enabled by default for query params (effectively a necessity) and coercion to be disabled (by default) for req bodies. Typically the body sent by a caller doesn't need to be coerced (and

[2020-05-31 17:19] cdimascio commented on #249
@chittolina would you be interested in taking the first pass at solving this?

Some pointers:
1. The following [function](https://github.com/cdimascio/express-openapi-validator/blob/master/src/framework/ajv/index.ts#L7) creates an AJV validator for requests with options provided by this [caller](https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.request.vali

[2020-05-31 17:40] chittolina commented on #249
@cdimascio Absolutely. I'm gonna start taking a look on the contribution guideline asap and then start working on this one. I will let you know about my updates :-)

[2020-05-31 18:01] cdimascio commented on #249
@chittolina awesome, thanks!

[2020-06-01 01:41] komikoni opened #311 "allowUnknownQueryParameters:false will be skipped if query parameter is not defined in OAS"
**Describe the bug**

When defining the query parameter schema, undefined parameters will result in an error, but if undefined, all will be accepted.

https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.request.validator.ts#L168

**Expected behavior**

If the schema is undefined, instead of skipping it, check for the absence of query parameters.

However, sin

[2020-06-01 16:04] mdwheele commented on #292
Hey @cdimascio! I've sent #312 as a conversation starter. I took a slightly different approach that I think will allow users a great deal of flexibility while allowing us to offer a more prescriptive approach to how folks write their schemas.

[2020-06-04 16:30] gicuuu3 opened #313 "Response validation does not follow #ref"
**Describe the bug**

Specifications written using the `responses` `component` structure are not parsed correctly for the response validation.

**To Reproduce**

define a response as

[code]

**Actual behavior**

The response validation throws `500` with `no schema defined for status code '200' in the openapi spec`

**Expected behavior**

To follow the ref down to the defined schema.

**Examples a

[2020-06-06 22:58] cdimascio commented on #311
@komikoni thanks for the issue. This is a bug. It is fixed in `v3.15.0`.

[2020-06-06 22:58] #311 closed

[2020-06-08 10:24] gn00616031 commented on #210
ajv support this option
**formats**: an object with custom formats. Keys and values will be passed to addFormat method.
So I suggest that you can add this option and pass to ajv, and it can do custom validation as well.

[2020-06-09 02:31] cdimascio commented on #313
@gicuuu3 this should be resolved in `v3.15.1`. please reopen if you continue to have issues

[2020-06-09 02:31] #313 closed

[2020-06-10 00:07] cdimascio opened #316 "Looking for blogs and articles that you've written about express-openapi-validator. Post the link here"
- https://dzone.com/articles/apis-with-nodejs-and-express-automatically-validat

[2020-06-13 00:54] cdimascio commented on #310
@sergebesson thanks for the issue. will get this fixed

[2020-06-13 01:23] cdimascio commented on #310
@sergebesson this is fixed in `v3.16.1`

[2020-06-13 01:23] #310 closed

[2020-06-13 01:24] cdimascio commented on #310
thank you for the reproducible code snippet. i used it as the test [here](https://github.com/cdimascio/express-openapi-validator/blob/master/test/router.spec.ts#L46)

[2020-06-13 01:26] cdimascio commented on #297
closing this out as the message comes from json-schema-ref-parser

[2020-06-13 01:26] #297 closed

[2020-06-13 01:27] cdimascio commented on #292
this feature is available in`v3.16.0`
thanks @mdwheele for you great work

[2020-06-13 01:27] #292 closed

[2020-06-16 18:11] alexandre-okidoo opened #319 "Manage missing operation handlers"
**Is your feature request related to a problem? Please describe.**
When a request has no handler, the resolver throws a generic Error(). Because I use swagger-codegen to generate a client with a documentation-first workflow, I think that it would be great to be able to declare operationId even when there is still no implementation.

**Describe the solution you'd like**
In defaultResolver(), I woul

[2020-06-17 02:23] yuchenshi opened #320 "Colon in OpenAPI path are mistaken as parameters"
**Describe the bug**

I'm working on some APIs that follow the format of `/accounts:lookUp` for example. Right now, EOV treats it the same as `/accounts{lookUp}` instead of the literal colon followed by some more words.

BTW, I'm happy to help fixing this.

**To Reproduce**

1. Load an API specification that has `/accounts:lookUp` > `get` as one of the methods. (See example below.)
2. Optionally a

[2020-06-17 09:33] saimonmoore opened #321 "Is there a changelog?"
**Is your feature request related to a problem? Please describe.**
It's hard to upgrade without a changelog 🙏

**Describe the solution you'd like**
Any kind of changelog for each published version would be really helpful.

[2020-06-17 16:04] cdimascio commented on #319
@alexandre-okidoo please submit a PR. Thanks!

[2020-06-17 21:31] cdimascio commented on #321
this is a good idea. i will look into automated options. if you have recommendations, please let me know

[2020-06-18 02:28] cdimascio commented on #320
@yuchenshi thanks for the issue. It will be great to have your help fixing this. Please feel free to investigate. PRs are very welcome.

Also, don't hesitate to reach out to our gitter channel if u need help or want to discuss.

[2020-06-18 07:57] saimonmoore commented on #321
We use https://github.com/conventional-changelog/conventional-changelog + https://www.npmjs.com/package/commitizen. The combination works very well.

[2020-06-22 08:31] nasht00 opened #323 "Is discriminator supported?"
Does it shortcut validation based on a specific field?

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#discriminatorObject

[2020-06-22 11:41] softmantk opened #324 "ERROR: TypeError: Cannot read property 'schema' of undefined"
**Describe the bug**
I am getting
**ERROR:  TypeError: Cannot read property 'schema' of undefined**
for a very simple api documentation.
**To Reproduce**
Steps to reproduce the behavior.

**Documentation:**

[code]

TO REPRODUCE:

1. CLONE this repo to reproduce the error.

https://github.com/softmantk/open-api-issue-324.git

2. Install and run
[code]
3. Goto swagger ui  and call the api

http://l

[2020-06-23 01:23] cdimascio commented on #323
@nasht00, see my comment https://github.com/ajv-validator/ajv-keywords/issues/35#issuecomment-549176873

As AJV's author mentioned, from the validator's perspective, there is nothing to do. It's a no-op.

However, when defaults are involved, there is some necessary work. The following [ticket](https://github.com/ajv-validator/ajv/issues/1119) has been created to handle defaults.