[2020-06-23 01:27] cdimascio commented on #323
Two additional tickets to review
- https://github.com/cdimascio/express-openapi-validator/issues/95 (This describe it the no-op)
- Default value ambiguity in `oneOf` / Support for discriminator? https://github.com/cdimascio/express-openapi-validator/issues/104 (This is the defaults issue i noted above)

[2020-06-23 01:29] cdimascio commented on #323
closing this as it's handled by issues #104 (open) and #95 (closed).

if you feel your case is different, please reopen with more details, otherwise feel free to add more commentary to #104

[2020-06-23 01:29] #323 closed

[2020-06-24 00:40] cdimascio commented on #324
@softmantk this fails a bit spectacularly, but ultimately the error is due to the route logic

change

[code]

to

[code]

Then this should return success
curl -X GET "http://localhost:3000/api/v1/meeting/01701deb-34cb-46c2-972d-6eeea3850342" -H "accept: application/json"

[2020-06-24 00:52] cdimascio commented on #324
To fix your example, replace these two files
`swagger.yaml`

[code]

app.js

`app.js`

[code]

[2020-06-24 01:00] cdimascio commented on #324
i have a PR that fixes the undefined schema and reports an appropriate error

[2020-06-24 01:03] cdimascio commented on #324
fixed in `v3.16.2`

[2020-06-24 01:03] #324 closed

[2020-06-24 01:07] cdimascio commented on #308
@efabris how are things going? feel free to reach out on [gitter](https://gitter.im/cdimascio-oss/community) if you need help. best

[2020-06-24 16:06] efabris commented on #308
@cdimascio sorry but after a first look, I no longer had time to continue. The new arrival in the family, my daughter, and my job keep me very busy. I hope to be able to work on it in July.

[2020-06-24 20:44] cdimascio commented on #308
@efabris congrats on the new arrival. let me know if you decide to pick it up in july

[2020-06-25 13:26] AndrewIsh opened #326 "Broken ref when using different file for request & response"
**Describe the bug**

I have spent many hours trying to get to the bottom of this with no luck, so I'm hoping I've found a bug and it's not just my ineptness! :-)

I have a very minimal schema representing `get` & `post` methods on a `/queries` endpoint (see schema below). I'm getting some super weird errors when trying to use them. The problem appears to be related to the `post` portion of the sc

[2020-06-27 16:17] cdimascio commented on #326
@AndrewIsh this is a bit cryptic to read. OpenAPI `$ref` paths can be a bit confusing to read due to special characters

See the 'Escape Characters' section [here](https://swagger.io/docs/specification/using-ref/)
tl/dr

Character | Escape With
-- | --
~ | ~0
/ | ~1

For example, to refer to the path `/blogs/{blog_id}/new~posts`, you would use:
`$ref: '#/paths/~1blogs~1{blog_id}~1new~0posts'`

so

[2020-06-27 17:03] cdimascio commented on #326
Hmm.. I see these $ref resolved

[code]

This may be an issue in the json-schema-ref-praser itself
`queries.yaml` looks fishy

[2020-06-28 02:30] cdimascio commented on #326
@AndrewIsh ignore my note above. i'm a bit off with the diagnosis.
i think i may have a fix that resolves the issue above

[2020-06-28 02:31] #326 closed

[2020-06-28 02:35] cdimascio commented on #326
please give `v3.16.4` a try. this should solve it for responses. it possible that this also exists for requests (i haven't tested that yet). in any case, the example above should work
please reopen if you continue to have issues

[2020-06-28 02:41] cdimascio commented on #321
@saimonmoore a changelog now exists. thanks for the tip!

[2020-06-28 02:41] #321 closed

[2020-06-28 02:43] cdimascio commented on #321
currently, its not perfectly aligned with all releases. I'll try to automate this to tighten it up moving forward

[2020-06-28 21:20] saimonmoore commented on #321
Awesome Carmine! Many thanks

On Sun, 28 Jun 2020 at 04:43, Carmine DiMascio <notifications@github.com>
wrote:

[2020-06-29 12:27] AndrewIsh commented on #326
Hi @cdimascio

Thanks so much for responding to this so quickly. Your fix in `v3.16.4` appears to work perfectly!

Thanks for creating such a useful library, it's made life much easier for me on my project :-)

[2020-07-06 12:10] sergebesson commented on #310
thank you for fix :-)

[2020-07-07 03:16] Jakesterwars opened #328 "String type validation is not adhered to request validation"
**Describe the bug**
When using a string type, passing in a number or integer value it does not invalidate the request coming in.

**To Reproduce**
Run the 1-standard example in the examples directory and hit `http://localhost:3000/v1/pets` with the body
`{
    "name": 123,
    "type": "dog"
}`

A heads up you will need to change the post function to use .create instead of .add since that does not

[2020-07-07 23:15] cdimascio commented on #328
@Jakesterwars this is a duplicate of https://github.com/cdimascio/express-openapi-validator/issues/249. I'd looking for help on it. If u r interested, I've outlined a number of hints in the linked issue. Let me know if you are interested in taking a go at it

[2020-07-07 23:16] cdimascio commented on #328
Closing dup if #249

[2020-07-07 23:16] #328 closed

[2020-07-08 03:36] davesag commented on #316
Hey - nice work. It's not a blog but I have just updated my [`api-server-boilerplate`](https://github.com/davesag/api-server-boilerplate) project to include your library.  (see [PR](https://github.com/davesag/api-server-boilerplate/pull/60/files))

[2020-07-09 15:30] ViniGodoy opened #332 "Unknown formats being ignored in request validation"
**Describe the bug**
First of all, thanks for the amazing package! I've refactored my entire server around it! It's truly handy!
I'm using openAPI v3.0.

The OpenID validator was configured as:
[code]

When validating this Schema:
[code]

Configured in this post path:

[code]

But, despite the unknownFormats being passed in the OpenAPIValidator constructor, I still get the following error:

[code]

[2020-07-10 12:23] ViniGodoy commented on #210
I upvote for this thread.

[2020-07-12 01:55] cdimascio commented on #332
@ViniGodoy thanks for the issue. working on a fix

[2020-07-12 02:06] cdimascio commented on #332
fixed in `v3.16.5`

[2020-07-12 02:06] #332 closed

[2020-07-13 14:28] AndrewIsh commented on #326
Hi @cdimascio

Sorry to re-open this one. But I *think* I've just hit the thing you thought I might hit. When you created the fix for my previous problem, you said:

I've just hit a problem that looks to me like it is exactly this.

I have an endpoint with both a `PUT` and `POST` method on, the spec for these two methods is slightly different in that the body for them is different, hence the spec

[2020-07-14 00:22] cdimascio commented on #326
yes. working on a fix

[2020-07-14 00:29] ViniGodoy commented on #332
Wow, that was fast!
Worked like a charm! Thanks!

[2020-07-14 00:39] cdimascio commented on #326
PR #336 should resolve this. let me know how it goes.
thanks!

[2020-07-14 08:57] AndrewIsh commented on #326
Hi @cdimascio

Thanks for the super speedy response. I just tried it and it works perfectly! Many thanks for fixing it, and for your continued work on this extremely useful package! :-)

[2020-07-24 11:16] tumkurrunner opened #341 "Validation failure"
**Description:**
Problem using  Inheritance model
I have a base type Activity and Subtypes SubActivity1 SubActivity2 & SubActivity3 with discriminator propertyName set correct but still I get an error request should match exactly one schema in oneOf. Just to make if the spec is valid I tried https://bitbucket.org/atlassian/swagger-request-validator/src and validation is successful.

I have added t

[2020-08-02 09:54] imsamurai opened #344 "Memory leak in response validator"
**Describe the bug**
Response validaror cache leads to memory leak when openapi endpoint has parameters in url

**To Reproduce**
1. describe openapi endpoint with param /some/{param}
2. turn on response validation
3. send many requests with ramdom param
4. look how memory leaks)

**Actual behavior**
Response validator cache key uses original url https://github.com/cdimascio/express-openapi-validat

[2020-08-04 13:13] cdimascio commented on #344
@imsamurai i will get to this weekend, however do feel free to submit a PR in the meantime. the likely fix is to ensure the path variable is used in the cache key (for the response schema) and not the the value itself

[2020-08-06 00:54] cdimascio commented on #344
@imsamurai thanks for submitting this issue. i just pushed a fix. would you mind rerunning your test against version `v3.16.8`? thanks!

[2020-08-06 17:59] #344 closed

[2020-08-07 10:48] imsamurai commented on #344
@cdimascio now all works fine! Thanks!

[2020-08-14 00:10] cdimascio commented on #320
@yuchenshi, note that is not a valid url character. have you tried url encoding that path segment?

[2020-08-14 00:21] cdimascio commented on #341
@tumkurrunner can you provide the example request
also, i see that the `DecisionRequest` requires `actor`, but actor is not defined as a property anywhere.

it would be good to solve these issues first i.e. that one noted above. also, it will be great if you can provide a canonical version of this spec with the minimum to reveal the error. it will certainly help to make the investigation simpler.

[2020-08-14 00:45] cdimascio commented on #319
@alexandre-okidoo currently, when a handler function does not exist, the validator will not allow the app to start. it will then output an error message to the console describing the the api whose handler is missing.

one approach to solve this (that doesn't require a code change to the validator) is to define a handler that returns `501` not implemented, then attach this handler to any route that

[2020-08-14 01:18] alexandre-okidoo commented on #319
Yes, this fixed my specific situation, that's what I ended up implementing.
However, I had to call the default handler in my handler, which feels a bit
sketchy.

Overall, I think this should be available as an option in the config,
because as you said, throwing a not implemented http code is a valid
behavior and I think that most developer would prefer this behavior over
crashing while developing.

[2020-08-14 01:54] yuchenshi commented on #320
@cdimascio I believe `:` is a valid URL character in the path part of an HTTP(S) URL. To quote [RFC3986](https://www.ietf.org/rfc/rfc3986.txt):

[code]

The last line above explictly allows `:` in `pchar`. In practice, there also exists many URLs like https://en.wikipedia.org/wiki/Template:Welcome and APIs like [Google Identity Platform `accounts:signInWithPassword`](https://cloud.google.com/ident

[2020-08-14 03:15] cdimascio commented on #319
Would you mind sending me a snippet of what u did?

[2020-08-14 13:15] GiriMPT commented on #341
Don't worry I found a work around, I got the answer from here https://github.com/OAI/OpenAPI-Specification/issues/2141#issuecomment-650200324.

[2020-08-14 13:23] alexandre-okidoo commented on #319
Hello, here it is:

[code]

On Thu, 13 Aug 2020 at 23:15, Carmine DiMascio <notifications@github.com>
wrote:

--
[image: photo Alexandre Croteau]

*Alexandre Croteau*
Développeur Web et DevOps

*T.* 1 877 965-4366 #26
*A.* 98 Saint-Germain Ouest, Rimouski
*E.* alexandre@okidoo.ca
*W.* www.okidoo.ca

[image: Icon Linked In] <https://www.linkedin.com/company/1215748/>  [image:
Icon Facebook] <https:

[2020-08-14 13:24] alexandre-okidoo commented on #319
Hello, here it is:

[code]

[2020-08-14 18:06] nealtovsen opened #350 "Non-Object/Array schema types do not parse correctly"
**Describe the bug**

In addition to Object (`{}`) and Array (`[]`) OpenAPI supports all JSON Schema data types, except `null`. I believe this means `string`, `number`, `integer`, and `boolean` should be valid schemas for a `requestBody` or `response`. However, `express-openapi-validator` only seems to be successful at validating schemas that are based on JSON objects and arrays.

Full disclosure:

[2020-08-14 20:47] nealtovsen commented on #350
Update: After further investigation, this appears to be a matter of configuration on the body parser.

If you set it to NOT use "strict" mode...

`app.use(bodyParser.json({ strict: false }));`

...my tests pass. Perhaps a documentation update would be helpful. But I'll close this, since it seems to be working for my requirements!

[2020-08-14 20:47] #350 closed

[2020-08-14 21:24] cdimascio commented on #295
I am experimenting with converting this to standard express middleware [here](https://github.com/cdimascio/express-openapi-validator/pull/351)

[2020-08-15 02:01] cdimascio opened #352 "Install the validator as standard express middleware i.e. via `app.use(...)` or `router.use(...)`"
**Is your feature request related to a problem? Please describe.**
I want to install the validator a standard connect middleware

**Describe the solution you'd like**
`app.use(OpenApiValidator.middleware(opts))`

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-08-15 02:07] cdimascio commented on #295
closing this in favor of #352 - use standard express middleware
@rhalukongor please give `v4.0.0-alpha.1` a try. I would love to get your feedback. Thanks!

[2020-08-15 02:07] #295 closed

[2020-08-15 02:29] cdimascio commented on #352
For those interested in v4, please provide feedback here or in this PR #351

[2020-08-15 15:58] cdimascio commented on #320
@yuchenshi thanks. You’re right

[2020-08-20 10:35] pilerou opened #353 "Serialize in request validation and authorize object when toJSON() matches to the format"
**Is your feature request related to a problem? Please describe.**
I would like to do 2 things :
- serialize String data to Object when I receive it from request
- deserialize object when i want to return the response and validate my response

I have two kinds of objects in my mind :
- Date objects
- Mongodb ObjectID

**Describe the solution you'd like**
It could be great to allow developers to ad

[2020-08-24 20:38] yuchenshi commented on #320
@cdimascio Sure, #355 covers this.

[2020-08-26 09:04] pilerou commented on #353
Actually I didn't manage to make it work.
- I can hack deserialization with `JSON.parse(JSON.stringify(object)) `.
It's good for converting `Date` object to `date-time` json schema. It won't solve the case of a `date` json schema
- I didn't manage to serialize json to objects. I don't know where to do it in the module and I think it's related to AJV usage. I don't know very much how to change some

[2020-08-27 16:41] van001 commented on #316
Nice work guys. I am trying to use your library for a universal gateway that I am building, which is going to support any protocol (REST, GraphQL, Message Q message etc). I was wondering if there is a way that I can use your library to just validate the open-spec (if it's correct), without worrying about express.

[2020-08-27 19:58] rogerzxu opened #356 "schema references require a wrapping object"
When using referencing schemas to define the request or response body, `express-openapi-validator` seems to require a wrapping object in order to pass request and response validation.

### Given the following spec:
[code]

#### Expected Behavior
I should be able to send a `POST` with body
[code]

#### Actual behavior
The spec has a valid schema and does not error out when it is installed. In addit

[2020-08-27 22:48] cdimascio commented on #356
@rogerzxu the use case you describe is pretty straight forward and it should work.
i created the following [test case](https://github.com/cdimascio/express-openapi-validator/blob/master/test/issue.tests/356.campaign.spec.ts#L33) which uses your [spec](https://github.com/cdimascio/express-openapi-validator/blob/master/test/issue.tests/356.campaign.yaml).
you'll see that the test, provides the expec

[2020-08-27 22:49] #356 closed

[2020-08-27 23:13] rogerzxu commented on #356
Hi @cdimascio, the IDL used by swagger and the validator are definitely the same.
I'm able to reproduce the bug in this sample project https://github.com/rogerzxu/express-openapi-validator-test

[2020-08-28 01:01] cdimascio commented on #356
i see. looking at your example, i see that you do not have any body parser middleware. the validator expects that you will provide this.

have a look at the example [here](https://github.com/cdimascio/express-openapi-validator#example-express-api-server)

it should get you bootstrapped

[2020-08-28 01:16] cdimascio commented on #356
@rogerzxu it looks like you did not register any bodyParser middleware. the validator expects that you will provide it.
have a look at the example [here](https://github.com/cdimascio/express-openapi-validator#example-express-api-server). it will get you bootstrapped

The key ingredient that you are missing is a body parser e.g
`const bodyParser = require('body-parser');` and `app.use(bodyParser.js

[2020-08-28 01:17] cdimascio commented on #356
you will want to register that middleware https://github.com/rogerzxu/express-openapi-validator-test/blob/master/src/index.ts#L13

[2020-08-28 01:26] cdimascio commented on #356
The README specifies this in the `Usage` instructions
https://github.com/cdimascio/express-openapi-validator#usage

Let me know if you have thoughts on how to make this more apparent in the README
i'm sure others may have missed that step and run into similar issues

[2020-08-28 01:27] cdimascio commented on #356
On another note, many other have also decided to use `'swagger-ui-express'` alongside `express-openapi-validator`

Would you mind fixing up your repo and perhaps renaming to something like `openapi-swagger-ui-example`?
If you decide to do so. Also, use either the async/await based `install` or the `v4.0.0-alpha.1` install which uses standard connect middleware.

You're repo, provides a a nice simp

[2020-08-28 01:34] cdimascio commented on #316
@van001 We validate the IDL on load before registering middleware. For that initial correctness validation, we use [swagger-parser](https://github.com/APIDevTools/swagger-parser). You may want to look at that.

[2020-08-28 18:01] rogerzxu commented on #356
@cdimascio Thanks for your help!

The bodyParser middleware was indeed the issue. In my case, I had it included in my original code, but had neglected to include it in the sample project. The reason it wasn't working in my original code was because I had it registered after the openapi spec was installed, but before the route definitions. The code [here](https://github.com/cdimascio/express-openap

[2020-09-01 08:59] mahnunchik opened #358 "v4.0.0-alpha.2 not published to NPM"
**Describe the bug**

v4.0.0-alpha.2 not published to NPM https://github.com/cdimascio/express-openapi-validator/releases/tag/v4.0.0-alpha.2

[2020-09-01 10:27] mahnunchik commented on #352
It seems `router.use` not supported for now https://github.com/cdimascio/express-openapi-validator/pull/351#issuecomment-684743497

[2020-09-04 09:54] dchekanov opened #359 "readOnly + required not handled properly"
readOnly + required combination is supposed to be working (#145), but it doesn't in my case.

I traced the issue to the [`cleanseContentSchema`](https://github.com/cdimascio/express-openapi-validator/blob/0447c47996fb77b5d4e29917e50ef4327b6786be/src/middlewares/parsers/body.parse.ts#L85) function.

contentType in my requests (made with axios) equals to this:

[code]

And here's the requestBody:

[

[2020-09-04 20:16] cdimascio commented on #359
@dchekanov currently, it requires a match on the content type + charset. it does not match on boundary. one way to solve is to update your schema to include both `application/json` and `application/json;charset=utf-8`.

i think it's also worth considering whether `charset` (like boundary) should be ignored in the test, thus only matching only matching on `media type`

[2020-09-04 21:31] tannerntannern opened #360 "Inferring wrong Content-Type in response validation"
**Bug Description**
Response validation appears to infer the _request_ `Content-Type` rather than _response_ `Content-Type`, so even though I'm `res.json()`'ing my response, I get an error saying "Cannot validate content type multipart/form-data", since that's the content type of the request in my case.

**Context**
I'm using `4.0.0-alpha.1`

**My Hunch**
I took a peek at [openapi.response.validat

[2020-09-05 03:42] cdimascio commented on #358
alpha.2 is now out.

@mahnunchik, have a look at and my https://github.com/cdimascio/express-openapi-validator/pull/351#issuecomment-687539345 to your question about the router and v4

[2020-09-05 03:42] #358 closed

[2020-09-06 19:23] cdimascio commented on #360
@tannerntannern please give version `v3.16.13` or `v4.0.0-alpha.3` a try. both should provide improved inference on response types. note, these versions will utilize any `accept` header provided, if none provided it tries to discover a match

[2020-09-06 19:55] cdimascio commented on #360
closing, please reopen if you still see issues

[2020-09-06 19:55] #360 closed

[2020-09-07 14:58] cdimascio commented on #359
thanks for the fix, @dchekanov. its in `v3.16.14`

[2020-09-07 14:58] #359 closed

[2020-09-07 14:59] cdimascio commented on #352
@mahnunchik thanks made some progress on it in `v4.0.0-alpha.4`

[2020-09-08 07:28] dchekanov commented on #359
Thank you @cdimascio for responding and releasing a new version so quickly!

[2020-09-08 15:20] tannerntannern commented on #360
Thanks for the quick work @cdimascio, `v4.0.0-alpha.3` seems to infer the response type correctly!

[2020-09-08 16:06] tannerntannern opened #365 "TypeError: app.param is not a function"
**Describe the bug**
All alpha releases of 4.0.0 appear to run into the following error: `TypeError: app.param is not a function`.  For previous alphas, this surfaced as an uncaught promise rejection, but `alpha.4` and `alpha.5` now catch this rejection and kill the request.

**To Reproduce**
I'm having difficulty reproducing this issue on a fresh repo and my time for these issues is limited while

[2020-09-10 02:44] cdimascio commented on #365
@tannerntannern this is fixed in `v4.0.0-alpha.6`

note that there is one minor issue that can't be solved. when nested routers are added to e.g. `app` via `app.use('/api', router`. If a path parameter exists for a the route, `/api/pets/:id` where id is of type `number` e.g. `/api/pets/123`; `123` will be correctly validated/coerced as a number, however, in you terminal middleware function, `req.p

[2020-09-10 02:44] #365 closed

[2020-09-10 03:47] tannerntannern commented on #365
Thanks again for the quick work on this!  I think I may have noticed this path param issue you described earlier, but as you mention, the workaround is simple enough.

[2020-09-12 20:11] gsimon75 opened #367 "Zero and negative numbers aren't recognized as float"
**Describe the bug**
Zero and negative numbers aren't recognized as float, due to [this](https://github.com/cdimascio/express-openapi-validator/blob/7cb473bc9c085e10c8d77448385e7ddc737ceb38/src/framework/ajv/formats.ts#L23)

**To Reproduce**
Define a parameter for an operation to be type=number, format=float, minimum=-10, then try to call that operation with the param value of 0, 0.0, or -1.1

**A

[2020-09-14 03:33] cdimascio commented on #367
@gsimon75 thanks for the issued. fixed in `v3.17.1`

[2020-09-14 03:33] #367 closed

[2020-09-14 18:06] dystopiandev opened #369 "Request validator middleware throws for valid requests (query parsing)"
**Describe the bug**
I use [swagger-routes-express](https://www.npmjs.com/package/swagger-routes-express) to parse and mount OAS3 paths as express routes. I mount the routes after using:

[code]
...but I get errors on all routes, whether or not they require any params.

**Actual behavior**
Throws `Bad Request: request should have required property 'query'`

**Expected behavior**
Shouldn't throw, b

[2020-09-14 21:14] cdimascio commented on #369
interesting. this almost seems as if some middleware in the stack is `null`ing out the req.query. typically, its `{}` when not present.

[2020-09-14 21:29] dystopiandev commented on #369
I'll send a PR shortly.

[2020-09-15 02:08] rabbitfufu opened #372 "Coerce parameters on the route?"
Hello, I'm using the new v4 alpha.  This is a great module!
I have a question...
I have noticed that type coercion works great for parameters that are defined in the query.
However parameters that are a part are the route seem not to be coerced.  For example, in my yaml file I have...

[code]

...however when I then reference this variable in my code, I see this:

`console.log(typeof req.params.id

[2020-09-15 09:40] dystopiandev commented on #369
@cdimascio #371

[2020-09-15 23:16] #369 closed

[2020-09-15 23:39] cdimascio commented on #372
@rabbitfufu tl/dr this is known and currently expected behavior.

**Below is a description of the behavior today**

- The validator will validate the types of all path params for **all** routes using the types declared in your spec. Specifically, this includes routes associated with the top level express `app`, `router`, or nested `router`s.
- In v4, the validator will coerce and **modify** the pa

[2020-09-16 00:12] rabbitfufu commented on #372
Hey Carmine, appreciate the detailed response.  Not a big deal to manually coerce them on my end.  Thanks for this great library, its been very helpful to me.

[2020-09-16 00:12] #372 closed

[2020-09-29 09:01] balazssoltesz opened #375 "multiple handler id"
hello,
is it possible to assign multiple handler id for a specific path?
it would be great in several use case, for example check user permissions, or apply any other middleware only for that path.

[2020-09-29 09:55] Anxium opened #376 "Can't resolve 'deasync' in '.../node_modules/express-openapi-validator/dist/framework'"
**Describe the bug**

When I start my express server,  I got the following error:
[code]

My version of express-openapi-validator is *4.0.2*.

--

If I install the 'deasync' package locally, I don't get this error and everything work correctly.

I guess that 'deasync' must be a dependency of the package instead of a devDependency.

[2020-09-30 00:25] cdimascio commented on #376
@Anxium thanks for the issue. This should be fixed in `v4.0.3`.

[2020-09-30 00:25] #376 closed

[2020-09-30 00:26] cdimascio commented on #375
i can see how this would be useful. perhaps a list of handler where the order is honored. effectively installing them as middleware. thoughts?

[2020-09-30 00:41] cdimascio commented on #352
available in v4!

[2020-09-30 00:41] #352 closed

[2020-09-30 03:35] xg1990 commented on #113
Hi @dannydeut, is there any plan to solve this issue?

[2020-09-30 03:41] xg1990 opened #380 "Why do we validate the server variables? There is no such limitation in OpenAPI 3 specification"
## Problem description

if we have a openapi 3.0 specification like this:

[code]

It will report error that the `basePath` doesn't match the pattern "[^\/#\?]+?"

## Discussion

This pattern check comes from the package `path-to-regexp`.

But I don't think we need such constrains. There is no such limitation in OpenAPI 3 specification

According to https://swagger.io/docs/specification/api-host-a

[2020-09-30 11:20] mounted-software opened #382 "A null value on a property of a object in the request payload can throw a validation error"
**Describe the bug**
I want to return 40X Bad Request if the payload contains a property equal to null.
Example payload request:
{
  "prop": null
}
should receive response:
{
    "status": 409,
    "message": "Bad Request" //or some other message like "request.body should NOT have null property"
}

**To Reproduce**
in openapi.yaml I have a path:
paths:
  /some-path:
    post:
      operationId: cr

[2020-10-01 00:16] cdimascio commented on #243
thanks @jtinbergen. good point. we'll look into it

[2020-10-01 00:21] cdimascio commented on #243
this sounds like the same problem as described in https://github.com/cdimascio/express-openapi-validator/issues/249#issuecomment-636499628. thoughts?

[2020-10-01 00:22] cdimascio commented on #249
@chittolina are you still interested in tackling this?

[2020-10-01 14:22] benblack86 opened #384 "Performance issue with version 4.0.x"
We just upgraded express-openapi-validator from 3.17.2 to 4.0.4 in our service and noticed at least a 20ms jump in latency.

I was wondering if anything comes to mind that could have caused the increase in latency and if you run any performance benchmarks. I can probably put an example together if that would help.

[2020-10-01 15:04] rpastro commented on #384
We observed the same issue on our application after upgrading to v4, so we had to revert back to v3.17.1.

[2020-10-02 01:41] cdimascio commented on #384
@benblack86 thanks will have a look. please, put together the example. it will help greatly. thx!

[2020-10-02 01:42] #380 closed

[2020-10-02 02:35] cdimascio commented on #384
@benblack86 @rpastro @fluffywaffles please give `v4.0.7` a try. i believe the performance issue is now resolved

[2020-10-02 13:40] mounted-software commented on #382
I have found the solution:

set
coerceTypes: false
and the api will validate as expected the nullable:false attribute

[2020-10-02 13:40] #382 closed

[2020-10-02 15:46] benblack86 commented on #384
@cdimascio yes, it is fixed. Thanks for the quick turn around, and the interface is looking a lot better!

[2020-10-02 15:46] #384 closed

[2020-10-04 21:27] cdimascio commented on #268
@bluenote10 this behavior will change based on #387. No longer will a `null` number be coerced to `0`, instead it will remain `null` and throw a 400 validation error, stating that the value `should be number`

[2020-10-04 21:34] bluenote10 commented on #268
Still doesn't allow to round trip `NaN`s -- which is really an important use case in data science applications.

[2020-10-04 23:25] cdimascio commented on #243
@jtinbergen i've put together [PR](#387 ) which attempts to solve these issues via a behavioral change.
- type coercion will will continue to apply to query, path,and header params
- type coercion will not apply to request bodies.

as a result, the `coerceTypes` option becomes a bit ambiguous. i plan to deprecate the property as it's not clear what its behavior should be. all or nothing is not des

[2020-10-04 23:33] cdimascio commented on #249
PR #387 will  fix this. example [test](https://github.com/cdimascio/express-openapi-validator/blob/b909fcf4846f838b6dd7d7e51ab960b916812b23/test/coercion.spec.ts#L42)

[2020-10-04 23:39] cdimascio commented on #249
fixed in `v4.1.0`

[2020-10-04 23:39] #249 closed

[2020-10-04 23:39] cdimascio commented on #243
fixed in `v4.1.0`

[2020-10-04 23:39] #243 closed

[2020-10-06 11:19] karlismelderis opened #389 "Broken readOnly + required combination"
**Describe the bug**
if prop is set to readOnly and required POST/PUT body validation is failing with "required item is missing"
(I'm at version 4.1.0)

**To Reproduce**
example schemas:
[code]

**Actual behavior**
Error is thrown:
[code]

**Expected behavior**
if prop is set to readOnly it's not checked in POST/PUT body

[2020-10-06 12:23] balazssoltesz opened #390 "mutliple authentication handler"
hello,

according to the openapi spec:

im not be able to use two security schema with logical AND in express-openapi-validator.  Its seems to be authenticated if the request passed any of the handlers. Any idea?

[2020-10-06 15:35] balazssoltesz commented on #390
sry i don't know github, and don't know what is the usual way to contribute, but u can find the implementation in my fork on github.

[2020-10-07 07:15] kevinval opened #391 "anyOf/oneOf coerces to property first fitting type (in body response)"
**Describe the bug**
A property defined as `anyOf` with a mixture of `integer`/`boolean` results in being coerced (cast) to the first type it matches. Additionally using `oneOf` isn't possible either as both boolean and an integer value will with both types and the match is no longer `oneOf`.

**To Reproduce**
Having a schema like this:

[code]

And having `validateResponses: true` enabled, when a

[2020-10-07 21:20] cdimascio commented on #391
@kevinval good catch. PR #387 improves the way request validation is handled. Essentially, it no longer performs type coercion on request bodies. Everything else remains the same. A similar change is needed for response bodies. I'll start work on that.

[2020-10-08 00:33] cdimascio commented on #391
@kevinval this should be fixed in `v4.2.0`

[2020-10-08 00:33] #391 closed

[2020-10-08 00:37] kevinval commented on #391
confirmed fixed in `v4.2.0`, thanks for the amazingly fast response :-)

[2020-10-08 09:14] Dakuan commented on #246
horrible

[2020-10-09 22:37] aviskase opened #394 "Non-string query param validation fails when coercion is disabled"
**Describe the bug**
Currently when you disable coercion any non-string query parameter fails validation.

**To Reproduce**
- disabled coercion
- integer query parameter
- automapped operation handler

[code]

[code]

[code]

**Actual behavior**
[code]

**Expected behavior**
[As the coercion is deprecated](https://github.com/cdimascio/express-openapi-validator#%EF%B8%8F-coercetypes-optional---depr

[2020-10-10 00:37] cdimascio commented on #394
in the latest versions, request and response bodies are never coerced, hence there their should not be a need to set coerceTypes to false. type coercion is used only in situations where inputs only arrive as a strings e.g. query string values, path params, ...
all in all, there should no longer be a reason to set type coercion to false.

[2020-10-10 00:44] aviskase commented on #394
@cdimascio so what does deprecation means? Does it mean that in version 5.x the option will be removed but it coercion will still  always happen for path, query params, and cookies? Or that it will be removed and it won't happen for anything?

[2020-10-10 00:49] cdimascio commented on #394
correct. coercion will continue be used in all appropriate cases including those you mentioned. i'll take another look at the readme to try and make it more clear.
if you have suggestions for how to do so, please let me know
thanks so much for you interest in this project

[2020-10-10 00:49] #394 closed

[2020-10-10 00:58] cdimascio commented on #394
i update the section of the README describing `coerceTypes`. Hopefully it adds a bit more clarity

[2020-10-10 01:53] cdimascio commented on #389
@karlismelderis I created [two tests](https://github.com/cdimascio/express-openapi-validator/blob/master/test/read.only.spec.ts#L212-L229) using the [schema](https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/read.only.yaml#L236-L253) provided above. both work correctly. It will be great if you can take at the [two tests](https://github.com/cdimascio/express-openapi-

[2020-10-11 08:38] nasht00 opened #395 "duration"
Would it be possible to validate string format `duration`?

See discussion: https://github.com/OAI/OpenAPI-Specification/issues/359

Definition: https://json-schema.org/draft/2019-09/json-schema-validation.html#rfc.section.7.3.1

[2020-10-13 09:54] Haruki-Mortis opened #396 "Response property casting"
Hey, I updated from version 3.16.11 to the latest version 4.2.0.
Before the update, the values in the response json were automatically casted to the defined property type.

[code]

In the openapi spec:
[code]

This behavior is lost in the latest version.
Is there an option to enable this property casting?

[2020-10-13 14:39] siimsoni commented on #320
Hi all,

It appears I'm having the same problem with conversion of OpenAPI routes to Express routes.

Example:

- OpenAPI route "/{param1}:{param2}"
- Converted to Express route: "/:param1::param2" (causes exception Missing parameter name...)

[2020-10-13 15:57] cdimascio commented on #396
@Haruki-Mortis yes, this changed and as such, there is not an option to auto cast on response bodies. my feeling is that the option is no longer needed. the validator essentially does was it most appropriate in each situation. i'm happy to be challenged on this if you feel there is a strong need.

with respect to coercion (casting), here is the v4.2.0 behavior
- query, path, header, cookie params

[2020-10-13 21:11] ownagedj opened #397 "requestBody is not really optional (unsupported media type undefined)"
**Describe the bug**
If I define an operation with an optional requestBody and I do not send any `content-type` header nor content then the request will result in an 415 error.

**To Reproduce**
See PR

**Actual behavior**
The requestBody is required even though it is optional

**Expected behavior**
The request should succeed without a requestBody

**Examples and context**
See PR

PR: https://gith

[2020-10-14 07:53] Haruki-Mortis commented on #396
@cdimascio thank you for this fast and detailed explanation.
We have a couple of "new" api projects and two of them use something like an automation to generate database queries and filter response bodies.
Your project fits into our projects like a charm and is "the cherry on top".

Unfortunately we can't update your package for these two specific apis.
The "auto cast" feature is necessary for the

[2020-10-14 23:55] cdimascio commented on #397
@ownagedj thanks for your fix. its available in `v4.2.1`

[2020-10-14 23:55] #397 closed

[2020-10-15 01:50] cdimascio commented on #396
i'll consider it. the options would likely look something like the following:

[code]

[code]

[2020-10-16 12:07] Haruki-Mortis commented on #248
@cdimascio sry for the late reply, too.

How about something like this (just a quick example):

## types.ts
[code]

## openapi.multipart.ts
[code]

## openapi.validator.ts
[code]

[2020-10-16 14:30] hallsbyra opened #400 "readOnly does not work together with polymorphic oneOf."
**Describe the bug**
`readOnly` does not work together with polymorphic `oneOf`.

**To Reproduce**

Use this spec:

[code]

POST this request to /v1/orders:

[code]

**Actual behavior**
Validation errors:
[code]

**Expected behavior**
Request should be accepted, since `id` is `readOnly`.

[2020-10-16 16:33] karlismelderis commented on #389
ah missed comment. I will definitely try to create some code example for the case... or will find a bug in our schemas 🤔

[2020-10-17 00:54] cdimascio commented on #248
@Haruki-Mortis Thanks so much for the proposal. Would you mind putting together a PR with your idea? It will be great to expand the capability here.

A couple quick comments to chew on:
- can we do this without pre op middleware? my rule of thumb is to always use a standard express mechanism whenever possible. only add something proprietary when absolutely necessary. It seems like we must enable a

[2020-10-20 15:25] losikov opened #402 "POST empty body request - 500 in @4.2.1"
**Describe the bug**
POST request with empty body. Expect to get 415 status code, and response body set in server.use((err, req, res, next) => {})
The issue is for 4.2.1, **works as expected in 4.2.0**.

**To Reproduce**
[code]

**Actual behavior**
Statuc code: 500
Content-Type: text/html; charset=utf-8
Body: {}

**Expected behavior**
Statuc code: 415
Content-Type: application/json
Body: set in se

[2020-10-20 23:45] JGoodenough commented on #65
@cdimascio I seem to be having the same trouble (it does not seem to be validating requests) however I am following the recommendations outlined above. Here's my code snippets, suggestions would be appreciated thanks!

[2020-10-21 02:49] cdimascio commented on #402
@losikov thanks for the issue. Will have a look

[2020-10-21 02:53] cdimascio commented on #402
This PR is the likely culprit. Feel free to have a look
https://github.com/cdimascio/express-openapi-validator/pull/398

[2020-10-22 01:05] #402 closed

[2020-10-22 01:08] cdimascio commented on #402
@losikov fixed in`4.2.2`

[2020-10-25 02:25] cdimascio commented on #400
The problem is in this [code](https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/parsers/body.parse.ts#L95). As is, it does not handle anyOf, allOf, oneOf.
@hallsbyra Would you be up for taking a stab at it?

The following new test e.g. `test/oneof.readonly.spec.ts`
With the contents of your spec e.g. `test/oneof.readonly.spec.yaml`
can be used to test

[code]

[2020-10-26 02:38] cdimascio commented on #389
Perhaps what u experienced is similar to https://github.com/cdimascio/express-openapi-validator/issues/400. If so, I am working on a fix

[2020-10-26 02:50] #389 closed

[2020-10-26 02:52] cdimascio commented on #400
@hallsbyra please give `v4.3.1` a try. this should be fixed there

[2020-10-26 02:54] cdimascio commented on #389
@karlismelderis a number of improvements were made for readonly/required support via pr #414. they are available in `v4.3.1` . please give it a try

[2020-10-26 02:59] cdimascio commented on #275
@theBoEffect with regard to you comment:

For objects that may match multiple schemas, you might choose `anyOf` instead of `oneOf`. anyOf will pass validation if at least 1 matches, rather than rather than exactly 1.

[2020-10-26 03:01] #260 closed

[2020-10-26 07:41] hallsbyra commented on #400
Thanks, seems to be almost solved. My original spec still doesn't work though, but that seems to be related to #104. And is easily fixed by getting rid of the `discriminator` and making each `oneOf` distinct from the other like so:

[code]

Problem is just that the above spec gives `Error: schema is invalid: data.required should NOT have fewer than 1 items`

It took a glance in the code yesterday

[2020-10-26 07:42] ex1st opened #415 "unhandledRejection: TypeError: Cannot read property 'push' of undefined"
**Describe the bug**
Regression appears after #414

[code]

**Actual behavior**
Error throws if `parameters` property exists in `path` but doesn't exists in `pathItem`

**Expected behavior**
`pathItem` can be without `parameters` property

**Examples and context**
[code]

[2020-10-26 12:44] cdimascio commented on #400
yep, good catch. if there is only on required field and its readonly we need to remove the required field itself

[2020-10-26 13:36] ViniGodoy opened #416 "Cannot read property 'paths' of undefined"
**Describe the bug**

I am getting the following error, in any route:
Cannot read property 'paths' of undefined
   at defaultResolver (/Users/vinigodoy/Documents/git/clustersrv/api/node_modules/express-openapi-validator/dist/resolvers.js:10:27)
    at OpenApiValidator.installOperationHandlers (/Users/vinigodoy/Documents/git/clustersrv/api/node_modules/express-openapi-validator/dist/openapi.validat

[2020-10-26 14:29] cdimascio commented on #416
thanks @ViniGodoy fixed, in `v4.3.2`

[2020-10-26 14:29] #416 closed

[2020-10-26 15:17] cdimascio commented on #415
fix in `v4.3.3`. thanks @krizzje for the pr

[2020-10-26 15:30] ViniGodoy commented on #416
Thanks, that was dazzling fast.

I have no idea why this code worked before. I've been using this module for the entire month. I thought I the bug could be a due to the fact I recently updated from 4.2.0 to 4.3.2. But then I tried to revert to 4.2.0 and the bug was still there! And even running with this version, that was installed and running in my production server before, the bug appeared!

I h

[2020-10-26 16:36] cdimascio commented on #416
thank for the info @ViniGodoy. the issue was introduced in 4.3.x.
it's possible when reverting back to 4.2.0, somehow 4.3.x was still being used.

[2020-10-27 00:14] cdimascio commented on #400
@hallsbyra this issue is fixed in `v4.3.4`

[2020-10-27 00:14] #400 closed

[2020-10-27 00:15] cdimascio commented on #415
fixed and in `v4.3.4`. thanks @ex1st for the fix!

[2020-10-27 00:15] #415 closed

[2020-10-27 08:25] gonenduk opened #424 "Unhandled schema messages in console with version 4.3.4"
**Describe the bug**
As of version 4.3.4 I get console.log messages like:
unhandled schema property: skipping { required: [ 'username', 'email' ] }
unhandled schema property: skipping { type: 'string', enum: [ 'user', 'moderator', 'admin' ] }
unhandled schema property: skipping { required: [ 'title' ] }
unhandled schema property: skipping { type: 'string' }

**To Reproduce**
Use the attached yaml

[2020-10-27 09:03] Haruki-Mortis commented on #248
I'm working on it this week.

[2020-10-27 12:16] gonenduk commented on #424
Update:
On 4.3.0 works ok.
On 4.3.1, 4.3.2 and 4.3.3 throws an exception (process exit).
On 4.3.4 we get the mentioned console logs.

[2020-10-27 12:57] newza-fullmetal opened #425 "Response validator does not accept "default""
Hi

I have multiple path with this kind of definition :
[code]

So sometimes I am receiving a **400** or **401** but it is always rejected by the validator.

Maybe it is a good behaviour but I really do not want that, if my api crash for some reason I want at least a response. I cannot define all possible error code for each path.

Maybe there is something in the Response Validator Options to hand

[2020-10-27 13:32] #425 closed

[2020-10-27 13:32] newza-fullmetal commented on #425
My bad it is chai-openapi-response-validator which does not work as expected

[2020-10-27 19:31] rscarson commented on #210
A lot of custom formats could be validated automatically; if the pattern field was set, you could check against the enclosed regex to validate.

[2020-10-27 20:16] aviskase opened #426 "4.3.x Custom resolvers are incompatible with `options.apiSpec` set to path."
Related to #416

**Describe the bug**
After upgrading to 4.3.x custom resolvers are incompatible with `options.apiSpec` set to path.

In 4.2.3 custom resolver was working with:
[code]

In 4.3.x custom resolver had to be change to different approach because there is no longer `.schema` property in the `route`:

[code]

But it relies on  `installOperationHandlers` to send `apiDoc` always as an objec

[2020-10-27 20:24] aviskase commented on #426
I found that `apiDoc` argument was introduced in #366 in version 3.17.x , so I think the are two problems here:

- for some reason, `route.schema` is now undefined
- `apiDoc` is better to be loaded into object before passing into resolver (for uniformity)

[2020-10-27 20:26] cdimascio commented on #426
thank @aviskase
`router[method.toLowerCase()](path, resolver(basePath, route, this.options.apiSpec));` should be
` router[method.toLowerCase()](path, resolver(basePath, route, context.apiDoc));`
feel free to create a PR with the change, and i'll get it merged. if not, i'll get it done tonight

[2020-10-27 20:33] aviskase commented on #426
yup, will do

[2020-10-27 20:46] cdimascio commented on #426
i'll revisit schema. i removed it as part of the `readOnly`/`required` work.
in order to handle the schema for readOnly vs writeOnly using ajv, i need to manipulate the schema's required property based on the case (readOnly vs writeOnly). i manipulate the required prop once on schema load, rather than per api request for efficiency. though efficient, it has downside, in that two very similar varia

[2020-10-27 23:56] cdimascio commented on #426
fixed in v4.3.5. thanks @aviskase !

[2020-10-27 23:56] #426 closed

[2020-10-27 23:58] cdimascio commented on #424
@gonenduk good to hear from you again :) a fix is on the way

[2020-10-28 00:16] cdimascio commented on #424
fixed in `v4.3.6`

[2020-10-28 00:16] #424 closed

[2020-10-28 01:32] rscarson commented on #210
Actually it seems ajv does that already for ignored formats! The ajvOptions parameter allows it to be passed through.

[2020-10-28 03:38] cdimascio commented on #210
@rscarson yes. Good point. Would u be interested in putting up a PR?

https://github.com/ajv-validator/ajv#formats

The option can be added [here](https://github.com/cdimascio/express-openapi-validator/blob/master/src/openapi.validator.ts#L42)

Then pass the format option to the request and response validators [here](https://github.com/cdimascio/express-openapi-validator/blob/master/src/openapi.va

[2020-10-28 04:10] rscarson commented on #210
Sure! I'll write it up in the morning.
I'll use the ajv.addFormat function.

It can take regex strings or functions, so you'd give the express-openapi-validator options something like:

    options = {
         addFormats: {
             name: 'regex validator',
             othername: (val) => true
         }
    }

And it would pass them along.

If that sounds alright I'll submit the PR first th

[2020-10-29 16:00] gonenduk opened #431 "Need a way to know about failure or when routes are ready on init"
**Is your feature request related to a problem? Please describe.**
Using version 4.3.6
Suppose I supply a missing yaml file in the init of the lib:
router.use(OpenApiValidator.middleware({ apiSpec: path.join(__dirname, 'api2.yaml') }));
The error I get is the right one, but it is thrown much later and I cannot catch it:
`UnhandledPromiseRejectionWarning: Error: openapi.validator: spec could not be

[2020-10-30 13:00] siimsoni opened #433 "Colon-separated parameters in base path mapped to invalid express route"
**Describe the bug**

This is similar to #320, except for parameters in base path.

**To Reproduce**

Add server definition in examples to `/test/resources/openapi.yaml`. This will cause 33 tests to fail.

**Actual behavior**

OpenAPI validator fails when loading the spec.

**Expected behavior**

Colon-separated parameters in base URL will not cause a crash.

**Examples and context**

[code]

[2020-10-30 13:04] siimsoni commented on #433
On a related note, I didn't find any description about how `express-openapi-validator` should handle the server parameters.
When testing, it appeared I could only use values defined as default in the spec.

[2020-10-30 20:08] th3g3ntl3men opened #434 "Json errors instead of html"
**Is your feature request related to a problem? Please describe.**
I think that errors should be uniform, if a error handler is passed an html error page should never show up. For example i pass a string as a json object to the api, and the middleware will spit a html error page back out. I feel like this should be a json object.

**Describe the solution you'd like**
I think the library should ret

[2020-11-01 21:07] #320 closed

[2020-11-01 21:26] cdimascio commented on #434
@th3g3ntl3men can you provide more details or, better yet, an example.

As a quick test, I started [examples/1-standard](https://github.com/cdimascio/express-openapi-validator/tree/master/examples/1-standard), then `POST`ed a `string` instead of a `json object` to the `/v1/pets`, a json error is returned

POST request
[code]
response
[code]

[2020-11-02 00:04] cdimascio commented on #210
I've put up a [PR](https://github.com/cdimascio/express-openapi-validator/pull/436) for this. please have a look. interested in your feedback. thanks!

[2020-11-02 13:15] karlismelderis commented on #389
👍 that's exactly my case.
we are reusing schemas a lot so api spec is full with `allOf` e.t.c.
I managed to narrow down to exact same case:
[code]

[2020-11-02 13:34] cdimascio commented on #389
@karlismelderis thanks for the example.
does this occur in 4.3.x?
also, you might try adding `type: object`  to the last object in the allOf list i.e.

[code]

[2020-11-02 22:29] cdimascio commented on #433
fixed in v4.4.0

[2020-11-02 22:29] #433 closed

[2020-11-02 22:33] cdimascio commented on #210
this feature is available in `v4.4.0`

e.g.

[code]

[2020-11-02 22:33] #210 closed

[2020-11-02 22:41] cdimascio commented on #431
i'll look into it. ideally, this error would propagate to the error handler middleware.

[2020-11-03 19:06] th3g3ntl3men commented on #434
Ok so I think it was a collision of middleware.

Basically I had.

app.js

[code]

The bad middleware was causing the error handler to not reformat to json. Sorry it took so long to track this down.

[2020-11-03 19:06] #434 closed

[2020-11-04 08:41] gonenduk commented on #431
I think this kind of error is critical. I do want to exit the process when this happens - but i want to be able to catch it somehow and control the way I report it (logs and so on).
We should not leave this error unhandled.

[2020-11-04 14:39] cdimascio commented on #431
Agreed.
Note that with node >=15, Node.js, by default Node.js itself will exit anytime an unhandled promise exception occurs. This is a good thing and the behavior you want. That said, the validator should propagate this error appropriately to the error handler, rather than throw unhandled promise rejection

[2020-11-04 14:50] karlismelderis commented on #389
👍 true. we missed some `type: object` in yml.

and issue is gone with latest version.
thank you for fixing it.

[2020-11-05 09:28] sergebesson opened #440 "UnhandledPromiseRejectionWarning: TypeError: Cannot create property 'parameters' on string 'Description'"
**Describe the bug**
`expressOpenapiValidator.middleware` generates an error `UnhandledPromiseRejectionWarning`

**To Reproduce**
Here is an example that systematically reproduces the bug from version 4.3.1 to version 4.4.0 of ʻexpress-openapi-validator`.
The bug does not occur in version 4.3.0

[code]

Here is the result when we run this small example with  ʻexpress-openapi-validator` in version

[2020-11-05 12:48] sabbiu opened #441 "Cannot pass dynamic query parameters in GET request"
**Describe the bug**
After adding a parameter that is supposed do allow dynamic query parameters, it gives error.

The idea of dynamic query parameters is taken from [here (stack-overflow)](https://stackoverflow.com/a/49587746/6892277)

Query Example:
[code]

Executing a query, returns
[code]

**To Reproduce**

- Clone [this repository](https://github.com/sabbiu/openapi-demo-project)
- run `npm in

[2020-11-05 20:26] mahnunchik opened #443 "koa support or koa-openapi-validator"
**Is your feature request related to a problem? Please describe.**
It would be awesome to have openapi validator for [koa](https://github.com/koajs/koa).

**Describe the solution you'd like**

* adapt middleware to be koa compatible
* make separated module `koa-openapi-validator`

[2020-11-06 00:31] cdimascio commented on #441
@sabbiu thanks for the issue. this is fixed in `v4.4.1`

[2020-11-06 00:31] #441 closed

[2020-11-06 00:31] cdimascio commented on #440
@sergebesson thanks for the issue. this is fixed in `4v.4.1`

[2020-11-06 00:31] #440 closed

[2020-11-06 03:21] sabbiu commented on #441
@cdimascio After running the curl request, it is now giving me an error message saying,

**Request**

[code]

**Response**

[code]

Can you please verify this.

[2020-11-06 03:23] sabbiu opened #445 "Dynamic query parameter case with GET request"
@cdimascio After running the curl request, it is now giving me an error message saying,

**Request**

[code]

**Response**

[code]

Can you please verify this.

_Originally posted by @sabbiu in https://github.com/cdimascio/express-openapi-validator/issues/441#issuecomment-722786137_

[2020-11-06 03:31] cdimascio commented on #445
i see. yes. this is a bit more involved than first thought. although, the initial issue is resolved, i need to dig deeper into additional props true with explode.

[2020-11-06 04:30] cdimascio commented on #445
@sabbiu give `v4.4.2`a shot.

[2020-11-06 04:30] #445 closed

[2020-11-06 04:33] sabbiu commented on #445
Thanks, It worked @cdimascio

[2020-11-07 06:34] davesag opened #447 "My tests now fail with error: request should have required property 'headers'"
**Describe the bug**

In my [`api-server-boilerplate/pull/124`](https://github.com/davesag/api-server-boilerplate/pull/124) repo updating `express-open-api-validator` fails with error "request should have required property 'headers'".  I get the same error even if I set some headers in the request.

**To Reproduce**

- See this PR https://github.com/davesag/api-server-boilerplate/pull/124
- Or the

[2020-11-07 12:05] sergebesson commented on #440
Thanks for the fix :-)

[2020-11-07 18:55] cdimascio commented on #447
this appears to e an issue with node 15. will look into it. for now you can use node 14

[2020-11-07 19:51] cdimascio commented on #447
fixed in 4.4.3

[2020-11-07 19:51] #447 closed

[2020-11-08 02:08] cdimascio commented on #396
@Haruki-Mortis is this still something you are looking for? if so, please have a look at PR #451 and provide any feedback that you might have. i believe this will meet your needs.

[2020-11-09 12:57] Haruki-Mortis commented on #396
@cdimascio
Oh hey, this works as expected.
Many thanks.
I want to work on the fileUploader thing in the next few days.

[2020-11-09 12:57] #396 closed

[2020-11-09 14:09] kapouer commented on #288
You can work around the addKeyword issue with https://github.com/pageboard/server/blob/876236cf0603e4a31b15d793605195008c350648/packages/api/index.js#L70-L100

[2020-11-09 14:38] pilerou commented on #353
Hi @cdimascio
I had time to work on it this sunday (and I just make it work with your last version 4.5.0).

First, I défine my components (in JSON or in YAML)
[code]

Then I just have to configure the way AJV has to coerce it at OpenApiValidator middleware creation.
[code]

To do this, I had to change **openapi.validator.js** and **framework/ajv/index.js** in order to manage the new parameter `coe

[2020-11-09 15:00] pilerou commented on #353
I forgot to tell you that it only work on body validation.
Actually, on url parameter it doesn't work as this module makes his own url decoding in order to retrieve parameters names and values.
Even if I change the value of a parameter, Express is doing his job after and override the req.params object.

I think you already looked but i ask anyway : there's no way to make express decode url before

[2020-11-10 11:33] Haruki-Mortis commented on #266
@cdimascio

v4.5.0

Nullable objects can't be validated if properties are defined in the openapi.json.

## This one works (nestedObject can be null or object)
[code]

## This one can't be null (error: .response.data[0].nestedObject should be object)
[code]

[2020-11-11 15:35] nampas opened #454 "Custom handling of response validation error"
**Is your feature request related to a problem? Please describe.**
I'd like to enable response validation in an express app, but I don't want response validation to actually fail the request. In our case, a response validation error likely indicates that we haven't updated our openapi spec correctly. I'd like to log an error, but still return a 200 with the original response.

**Describe the solut

[2020-11-11 21:04] vtajzich opened #455 "No able to use response without content"
**Describe the bug**

When specific responses, like 204, needs to return no response, it fails on validator

**To Reproduce**
specify response with no content like
[code]

**Actual behavior**
Fails on error ```no schema defined for status code '204' in the openapi spec```

**Expected behavior**
Skip response schema validation.
See `Empty Response` in https://swagger.io/docs/specification/2-0/descr

[2020-11-11 22:30] cdimascio commented on #454
interesting idea. will consider it

[2020-11-11 22:38] cdimascio commented on #454
@nampas please feel empowered to implement your idea. i'm happy to review, comment, etc.

Here's a tip to get you started... you will basically need to push an option through to the response validator. then ultimately when the response validation middleware encounters a validation error, it throws  [here](https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.re

[2020-11-11 23:34] nampas commented on #454
Ok thanks @cdimascio . I took a quick stab at it, let me know if you think I'm on the right track.
https://github.com/cdimascio/express-openapi-validator/pull/456

[2020-11-12 01:04] cdimascio commented on #455
@vtajzich first off the spec you are referencing is swagger (openapi) 2. this project validates against the latest version, openapi 3. first, make sure that your spec conforms to openapi 3.x spec (this library does not support the older swagger 2 spec).

that said, no content responses should work. this [unit test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/response.va

[2020-11-13 15:37] CristianUser opened #457 "Support for URI path params"
**Is your feature request related to a problem? **
I have an assets server and I use `/file/*` to take the rest as file location example `/file/folder/image.png`. following [RFC 6570](https://tools.ietf.org/html/rfc6570#section-3.2.3) I should be able to do it with `/file{/path*}` but it seems to be invalid here

**Describe the solution you'd like**
Add support to [Path segment templates](https://

[2020-11-13 16:24] pmacaubas opened #458 "Erro in schema oneOf (discriminator)"
## **Describe the bug**

I tried to use oneOf and the error happened:

{
    "message": "request.body should match exactly one schema in oneOf",
    "errors": [
        {
            "path": ".body",
            "message": "should match exactly one schema in oneOf",
            "errorCode": "oneOf.openapi.validation"
        }
    ]
}

## **To Reproduce**

###  **app.yaml**
_**This example is the

[2020-11-14 23:12] gcohler opened #460 "Type definition of OpenApiRequest has issue"
In src/framework/types.ts, the definition of OpenApiRequest is rejected by typescript because of the `| {}` in its definition.  My suggestion is to remove the `| {}` altogether -- as the ? makes the openapi property optional already.  That makes it parse correctly in typescript.

Error message when referencing the .pathParams property of the OpenApiRequest variable:  ` error TS2339: Property 'path

[2020-11-15 20:11] cdimascio commented on #458
@pmacaubas thanks for the issue. discriminator support is lacking. i have put together a PR that will handle top level discriminators with oneOf and anyOf. I'll get this merged in soon. will love to get your thoughts

[2020-11-15 20:14] cdimascio commented on #341
@tumkurrunner i'm working on an initial version of discriminator support. it will start by supporting top level types. will expand it to this use case. #461

[2020-11-15 20:33] cdimascio commented on #104
@catadch initial support for discriminators is available in `v4.7.0` via PR #461.
it doesn't satisfy all use cases, but it's a start.
please give it a try, i'm glad expand support to more use cases. please post them here and i'll prioritize

examples:
- tests: https://github.com/cdimascio/express-openapi-validator/blob/master/test/one.of.2.spec.ts#L41
- specs: https://github.com/cdimascio/express-

[2020-11-15 20:35] cdimascio commented on #458
@pmacaubas initial discriminator support is available in `v4.7.0`. all use cases are not yet support, but this one is.
please give it a try. as use cases come up, please file them and i'll prioritize
thanks!

here are some examples:
- tests: https://github.com/cdimascio/express-openapi-validator/blob/master/test/one.of.2.spec.ts#L41
- specs: https://github.com/cdimascio/express-openapi-validator/b

[2020-11-15 20:35] #458 closed

[2020-11-15 23:33] cdimascio commented on #460
@gcohler currently, the openapi property is either an empty object or OpenApiRequestMetadata.  It will be missing for routes that the validator does not impact. All in all, this type should be improved.

This is a bit cumbersome and could certainly be cleaner.

All in all, I agree with your proposal. It should be optional. In order to make this change, a bit of code in openapi.metadata middleware

[2020-11-16 10:53] gcohler commented on #460
I submitted PR #462.  As I noted there, I'm not really expert enough on this to know if my change is sufficient.

[2020-11-17 12:25] tobiasvoelke opened #463 "MediaType Validation does not support case insensitive Charset"
**Describe the bug**
According to [RFC2046](https://tools.ietf.org/html/rfc2046#section-4.1.2) the charset in media types should be case insensitive. Whenever I pass a `content-type` where the charset does not match the case of the api spec I receive `unsupported media type <...>`. In case of a uppercase charset in the api spec even setting only the media type will fail

**To Reproduce**

1. Provi

[2020-11-17 16:54] jazzzz commented on #241
Is it really invalid? This is how every browser encodes a space when submitting a form, like with this form:

[code]

[2020-11-17 16:59] Cactusbone commented on #241
axios won't be fixing it. https://github.com/axios/axios/issues/1111

[2020-11-19 02:34] cdimascio commented on #463
@tobiasvoelke thanks for the issue. definitely something to fix.

[2020-11-19 04:20] cdimascio commented on #241
In order to use reserved characters, you can set the `allowReserved: true` on the query parameter.
https://swagger.io/docs/specification/describing-parameters/

[2020-11-19 04:20] #241 closed

[2020-11-19 05:04] johandalabacka commented on #241
Very good. Thank you 😊❤️

[2020-11-19 14:00] MadMango commented on #396
@cdimascio thanks for referencing this thread in #387 , I think the option to relax the rules a little bit would make dealing with form inputs a lot easier, in my use case, the input values from users will be strings and I wouldn't have to convert them to numbers each time if I can get them auto-coerced.

I understand you want to preserve granularity, in my case it would only be needed on request

[2020-11-19 14:06] cdimascio commented on #396
@MadMango sure thing. There is already precedence so it makes sense. please go ahead and get started on the feature. I'll review once it's ready. Thanks!

[2020-11-22 00:15] xeoneux commented on #443
I second that, there hasn't been any activity in the express repo or its dependency for the past year. Would really switch to Koa if `express-openapi-validator` supports it. Something like how https://github.com/PayU/openapi-validator-middleware does it.

[2020-11-23 18:37] balazssoltesz opened #465 "How do you handle mongodb ObjectId ?"
Hello,

im trying to use express-openapi-validator with mongodb, but I can't figure out how should I handle ObjectId fields.
I have to specify id fields in the openapi.json as string, and in res.json() it will be converted to string as well, but if i set validateResponses to true then it will throw an error for me (id should be string).
Any idea how to handle properly mongodb _id fields?

[2020-11-23 22:14] xeoneux opened #466 "Types for `apiSpec` option do not cover the entire spec"
**Describe the bug**
If I load a basic `petstore.json` with the `apiSpec` option in the middleware function in a TypeScript project and there will be an error thrown due to an incorrect type signature.

**To Reproduce**
Use https://github.com/OAI/OpenAPI-Specification/blob/master/examples/v3.0/petstore.json with the `apiSpec` option in the middleware function in a TypeScript project

[2020-11-23 23:31] electrotype opened #467 "How to add an "Allow" header to the response when a 405 error occures?"
On a "method not allowed" (`405`) error, I'd like to be able to add a [Allow ](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Allow)header to the response. This header would contain the valid methods.

For example, if a path only supports `GET` requests, and  a `POST` request is received, I'd like to be able to send a `Allow: GET` header.

Do you know how to achieve that?

[2020-11-24 02:28] cdimascio commented on #465
You will want to send _id as a string. If you are returning the objectid as is, it's likely to be object and not a string, hence why the validator complains that it should be a string.

[2020-11-24 02:38] cdimascio commented on #467
The validator should probably do this automatically. I'd you want to take a stab at it, you can dig up where the 405 is returned in the response validator and add the allow header with the allowed http methods to the response.

[2020-11-24 16:19] balazssoltesz commented on #465
Yes I understand but practically it will be sent as string cause res.json() convert it to string. Should is iterate over the whole collection to convert any ObjectId field to string manually to avoid validator error?

[2020-11-25 23:24] rosengrenen opened #469 "Response validation not working on status codes 400 and up"
Hi, response validation does not seem to work on status codes 400+, and I tracked it down to `src/framework/modded.express.mung.ts:35`. I am wondering why this is the case, since it's not mentioned in the docs (I think) and had me confused for a bit. Is this a design choice or am I missing something here?

[2020-11-26 11:02] ahoehn opened #470 "Validation for properties fails completly"
**Bug**
- Additional unspecified properties do not result in an request validation error.
- wrong property types do not result in an request validation error

**To Reproduce**
1. run 3-eov-operations example
2. send a POST request to http://localhost:3000/v1/pets with the following body
`{
    "name": 556,
    "type": "cat",
    "tags": [
        "purrfect"
    ],
    "test": "me"
}`

**Actual beh

[2020-11-26 18:28] cdimascio commented on #470
Can your provide the validator version?

[2020-11-26 19:36] geogeim opened #471 ""Basic" authentication doesn't return WWW-Authenticate header on failure"
I registered a basic security schema with my own validateSecurity.handlers for basic auth. When the user enters the URL in the browser he doesn't get the login prompt because the authentication doesn't return the "WWW-Authenticate" header in the response and just fails with "Authorization header required"

That means i have to work around it by adding this in the global error handler

[code]
Which

[2020-11-27 09:29] Saniyook commented on #397
Hi @cdimascio, this bug is still reproduced in the current version. (4.7.1). :(

[2020-11-27 10:23] karlismelderis opened #472 "`NOT IMPLEMENTED` response for wrong endpoints"
**Is your feature request related to a problem? Please describe.**
I might be missing something in config but I failed to figure how to change Not Found `404` response to Not Implemented `501` in case API path that's not part of API spec is called.

**Describe the solution you'd like**
either change default behavior or create/point to how to change response to `501`

**Describe alternatives you've

[2020-11-27 11:22] laur4c opened #473 "Parameter 'style' has incorrect value 'undefined'"
Hello,

It seems like the **style** parameter is required but this keywork has **form** as default value
https://swagger.io/docs/specification/serialization/#query

Why it's required and the validation fail instead of using the spec default value?

E.g:

While trying to use the following JSON schema to define a query parameter:

[code]

I get the error:
[code]

Any thoughts? Maybe I'm missing some

[2020-11-27 15:13] cdimascio commented on #397
Can you post a canonical snippet of the spec that is causing the error. I'll have a look

[2020-11-27 16:23] cdimascio commented on #472
@karlismelderis currently, there is no way to have the validator return a 501 rather than not found, thus the best option for this is to identify the 404 in your custom error handler middleware, then change the the response code manually.

e.g.

[code]

[2020-11-27 16:36] cdimascio commented on #470
@ahoehn this test passes and seems to reflect your use case

https://github.com/cdimascio/express-openapi-validator/blob/master/test/additional.props.spec.ts#L33-L49

Note it has both an additionalProperty (which fails validation) and a number passed as a string (which also fails validation)

Make sure you are using `additionalProperties: false` to deny additional props
The type cases should work

[2020-11-27 16:36] #470 closed

[2020-11-27 16:39] cdimascio commented on #469
@rosengrenen could you provide your use case as well as the result you expect and the actual result.

[2020-11-28 02:32] cdimascio commented on #473
thanks for the issue @laur4c. it is fixed in v4.7.2

[2020-11-28 02:32] #473 closed

[2020-11-28 04:48] cdimascio commented on #472
are you sure you want `501`? in most cases 404 is what you want.

https://tools.ietf.org/html/rfc7231#section-6.6.2

   not support the functionality required to fulfill the request.  This
   is the appropriate response when the server does not recognize the
   request method and is not capable of supporting it **for any resource**.

https://tools.ietf.org/html/rfc7231#section-6.5.4

   not find a

[2020-11-28 04:51] #472 closed

[2020-11-28 14:59] cdimascio commented on #455
@vtajzich closing this out. if you still feel there is an issue, please send along an example. based on existing tests, this seems to work

[2020-11-28 14:59] #455 closed

[2020-11-28 22:09] laur4c commented on #473
Thanks for the fix!

[2020-11-30 14:37] ErolPeel opened #475 "Using express-openapi-validator in production?"
Hi!

Do you recommend using `express-openapi-validator` in production?
Is there a performance hit when `express-openapi-validator` is included, but request and response validation is disabled?

Greetings
Erol

[2020-12-01 02:26] cdimascio commented on #475
@ErolPeel thanks for your interest in the validator

Yes. Many folks are running validator in production.
I do not have specific performance data.
Route schemas are compiled and cached and should be fast.
My recommendation is to enable request validation in production and response validation in dev.
We work hard to ensure solid performance and do prioritize performance related issues.
If you decid

[2020-12-01 02:26] #475 closed

[2020-12-01 08:46] ErolPeel commented on #475
Thank you for your extensive answer.

[2020-12-01 13:07] ghost opened #476 "Documentation for using express-openapi-validator with NestJS"
I am new to NodeJS and TypeScript and I am writing a service with [NestJS](https://nestjs.com/).

Is there an example for how to register express-openapi-validator as a [NestJS middleware](https://docs.nestjs.com/middleware)?

[2020-12-01 15:48] bernhardvollnhofer commented on #476
I was able to register the validator with NestJS now:

[code]

[2020-12-01 15:48] ErolPeel commented on #476
I was able to register the validator with NestJS now:

[code]

I hope, this is correct.

[2020-12-03 14:54] mat813 opened #478 "Error: openapi.validator: args.apiDoc was invalid. See the output."
I have been banging my head for a few days migrating an app from javascript to typescript, and I cannot for the sake of me figure out why I am getting this error:

[code]

I don't have `additionalProperties` set anywhere, nor `additionalProperty`, nor `default`, I have checked my openapi.json with the swagger.io tools, I have re-read it entirely twice, and I don't get where it is wrong. Is there a

[2020-12-03 15:07] electrotype commented on #288
Do you accept bounties on issues? I could put 50$US for a fix on this one.

This is the only blocking issue for us. We have to `JSON.parse(JSON.stringify(obj))` everything we send, simply for the `date-time` fields to pass the validation.

[2020-12-05 07:35] rosengrenen commented on #469
The use case would be attaching a json object with extra information about the error, along with the status code. For status codes 2xx (and 3xx) if the response does not match the schema an error is shown instead, but when doing the same with status codes 400+ the response is not checked, thus being able to send anything.

[2020-12-06 01:54] cdimascio commented on #478
@mat813 can you can provide a canonical snippet from the spec that is causing the issue.
also if you have a reproducible example, please post post to github and i'll have a look

[2020-12-08 10:34] mahnunchik opened #481 "Default responses validator doesn't work"
**Describe the bug**

Default responses validator doesn't work.

**To Reproduce**

[code]

Handler:

[code]

**Actual behavior**

Internal Server Error: .response.data should be string

**Expected behavior**

Valid response be default validator.

**Examples and context**

* `validateResponses` is `true`
* `express` 4.15.4
* `express-openapi-validator` v4.8.0

`express-openapi-validator` v4.1.0 wor

[2020-12-09 08:43] ex1st opened #482 "Discriminator doesn't expect enum values in schemas"
I've extended **one.of.2** test for this case:

[code]

[code]

Thank you!

[2020-12-11 12:50] mat813 commented on #478
Hi,

Here is a trim down spec that is causing the issue for me.

[openapi.json.zip](https://github.com/cdimascio/express-openapi-validator/files/5679153/openapi.json.zip)

Here is a trimmed down bit of code that I use:

[code]

[2020-12-11 16:02] vpalko commented on #469
Hi,
I'm getting in same problem:
https://stackoverflow.com/questions/65244448/why-openapivalidator-may-not-validate-a-response

[2020-12-11 16:08] adriengibrat commented on #476
Very interesting, could you provide a more detailed snippet or a link to an example repository.
I'd really like to have a API spec first approach for NestJS (instead of the current Swagger generation).

thanks ;)

[2020-12-11 20:39] pilerou commented on #465
I managed objectid as described here
https://github.com/cdimascio/express-openapi-validator/issues/353

[2020-12-11 20:42] pilerou commented on #465
@cdimascio it could be great to add it. If you want I could try to push for a merge request

[2020-12-12 23:04] jchook commented on #443
Another example: [openapi-backend](https://github.com/anttiviljami/openapi-backend)

[2020-12-13 15:10] cdimascio commented on #443
this is definitely something we'd like to do. there is some refactoring needed before we get there. i did experiment with fastify about a month or so ago and got very close to integrating the validator

[2020-12-13 15:16] cdimascio commented on #476
@adriengibrat, there is an [SO](https://stackoverflow.com/questions/65092351/how-to-install-express-middleware-express-openapi-validator-in-nestjs) that describes an approach similar to @ghost's.

 if it works out, please submit a PR with steps to integrate. it will be great to add them to the readme.

@ghost, it sounds like you've had some success. could you post a working example to a github rep

[2020-12-16 01:27] cdimascio commented on #457
@CristianUser OpenAPI 3.x does not support RFC 6570, hence neither does the validator.
I happen to have the same use case. Currently, I use `ignorePaths` to ignore the route that requires this, then i validate it manually. That said, I'm experimenting with wildcards that are syntactically compatible with OpenAPI. We'll see where this goes. Ideally, the spec would support RFC 6570. If I come up wit

[2020-12-16 02:15] cdimascio commented on #457
@CristianUser have a look at https://github.com/cdimascio/express-openapi-validator/pull/491
Checkout the [README](https://github.com/cdimascio/express-openapi-validator/blob/8472092baa880c5877f5dc2a4d965d86455231ca/README.md#faq) update for this PR. It provides a description of the feature.

Unfortunately, it does not conform to RFC-6570. I'll certainly add support of OpenAPI supports it. In the

[2020-12-17 15:17] cdimascio commented on #482
Thanks you. Would u mind submitting a PR. This is great

[2020-12-18 15:07] CristianUser commented on #457
I like it, it should work for me 😅

[2020-12-18 18:49] pilerou commented on #353
In my pull request, I tested it.
It also worked for request parameters.

[2020-12-19 02:48] cdimascio commented on #353
i'll have a look. thanks for this work!

[2020-12-19 02:50] cdimascio commented on #288
@pilerou has provided an option that will help solve this.
please have a look at https://github.com/cdimascio/express-openapi-validator/pull/493 and provide feedback.
thanks!

[2020-12-19 02:53] cdimascio commented on #465
hey all @pilerou has propsed a solution https://github.com/cdimascio/express-openapi-validator/pull/493
please have a look. feedback is greatly appreciated

[2020-12-19 04:11] electrotype commented on #288
Feedback given. Thank you all for the effort on this issue.

[2020-12-19 19:04] cdimascio commented on #457
@CristianUser this is available in `v.4.9.1`

[2020-12-19 19:04] #457 closed

[2020-12-19 19:53] cdimascio commented on #466
I created a new [test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/petstore.spec.ts) for this using the petstore.json and I do not see an issue.
The types check out on the full spec.
if you believe I've missed something, please have a look at the [test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/petstore.spec.ts) to try to reproduce the issu

[2020-12-19 19:53] #466 closed

[2020-12-19 21:34] #482 closed

[2020-12-19 21:37] cdimascio commented on #482
@ex1st thanks again for the tests. this is fixed in `v4.9.2`

[2020-12-21 19:01] setaman opened #495 "Inconsistent validation of multipart body defined with $ref"
Hello, I am trying to validate a `multipart/form-data` request body. The following spec is given:
[code]
As you can see, I point to the body definition with `$ref`. When a request is made to the endpoint, the validator reports an error and says that the required `image` field is not present. The spec is valid, I have also validated it with other tools.

I spent several hours trying to figure out w

[2020-12-21 19:41] cdimascio commented on #495
@setaman this is a bug. the use of `requestBodies` is causing the problem. For now, you could extract the schema object out e.g

[code]

[code]

[2020-12-22 00:54] #495 closed

[2020-12-22 01:02] cdimascio commented on #495
@setaman fixed in `v4.9.5`

[2020-12-22 09:44] setaman commented on #495
@cdimascio thanks, awesome, life saver on the last working day before holiday. But what happened to the README? Documentation disappeared.

[2020-12-22 16:08] cdimascio commented on #495
@setaman np. thanks letting me know about the README. its back

[2020-12-22 18:24] Dakuan commented on #246
unfortunately this will change your content type though...

[2020-12-24 05:01] cdimascio commented on #246
Thanks @Dakuan, this being worked on. You can follow along here. https://github.com/cdimascio/express-openapi-validator/pull/493

[2020-12-26 01:09] #288 closed

[2020-12-26 01:22] cdimascio commented on #288
this is solved in `v4.10.0`, please give it a try

[2020-12-26 01:23] cdimascio commented on #246
This is resolved in `v4.10.0`. please give it a try!

[2020-12-26 01:27] cdimascio commented on #353
`v4.10.0` resolves this issue for `date-time` and `date` formats. a custom serializer mechanism is still required for custom types e.g. MongoDb `ObjectId`

This issue must remain open as a solution is still needed for custom serializers to handle cases like `ObjectId`

[2020-12-28 01:54] cdimascio commented on #463
fixed in `v4.10.1`

[2020-12-28 01:54] #463 closed

[2020-12-28 02:21] cdimascio commented on #395
@nasht00 i believe you can solve this by using the new `formats` option

e.g.
[code]
Then use it in a spec e.g.

[code]

Create a format with a validator for `duration`

[2020-12-28 02:22] cdimascio commented on #395
going to close this out. please re-open if this solution does not meet your needs

[2020-12-28 02:23] cdimascio commented on #454
@nampas closing this out. i believe this is now resolved by your PR #456.

[2020-12-28 02:23] #454 closed

[2020-12-28 02:50] cdimascio commented on #275
@akanduri there is now support for top-level discriminators which

see the [discriinator example](https://github.com/cdimascio/express-openapi-validator/tree/master/examples/8-top-level-discriminator)

[2020-12-28 02:51] #246 closed

[2020-12-28 02:53] cdimascio commented on #104
@catadch we now have support for top level discriminators. See the [discriminator example here](https://github.com/cdimascio/express-openapi-validator/tree/master/examples/8-top-level-discriminator)

[2020-12-28 03:09] cdimascio commented on #471
@geogeim good point. the challenge here is where to find the realm. Potentially, we can provide the response object to the security handler. open to ideas

[2021-01-01 20:50] jimkoen opened #507 "Validator TypeError: Cannot read property 'allOf' of undefined"
I get this error when trying to validate my api spec with express-openapi-validator:

[code]

To replicate this issue, clone [this repository](https://github.com/jimkoen/push_api_thing) and run `node main.js` and navigate to the /spec endpoint (literally using the code from the example).

The spec is validating without errors with `swagger-cli validate`

Notice that the definition works, when I de

[2021-01-02 00:32] jimkoen commented on #507
Edit: I needed to make the endpoints work, so I had to abandon trying to debug this. Initial debugging showed however, that the validator has issues dealing with a OpenAPI spec, which does not define a `components` section.

Inside [schema.preprocessor.ts](https://github.com/cdimascio/express-openapi-validator/blob/f466d9e971d2f64473fc3cf27aee924c0cbc016c/src/middlewares/parsers/schema.preprocesso

[2021-01-02 03:05] cdimascio commented on #507
Thanks for the issue. A missing components section should be allowed. If it failed due to this, it’s likely a new bug. Which version of the validator are you running?

[2021-01-02 03:46] cdimascio commented on #507
i added a [test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/no.components.spec.ts#L37-L62) to check when components is not present. it passes

[2021-01-02 04:04] cdimascio commented on #507
path resolution is the issue e.g. `#/paths/~1subscription/get/requestBody/...`
this is likely not an issue with `4.9.5`, you may wan to revert to that while i look into a fix

[2021-01-02 04:24] cdimascio commented on #507
@jimkoen this should be fixed in `v4.10.2`. please reopen if you continue to have issues

[2021-01-02 04:24] #507 closed

[2021-01-03 17:11] nasht00 commented on #395
I'm sorry I'm confused as to how it would validate an RFC3339 duration ...

What's this 3-letter-format?

[2021-01-03 21:32] cdimascio commented on #395
3-letter-format is just an example.
You can use the example above as a guide to create your own custom format that validates duration. Basically, make up a name for the duration format e.g rfc-duration, the associate it with a custom validate function

[2021-01-04 07:28] nasht00 commented on #395
Ah I see. Then yes I know I can write my own custom validators.
However, since `duration` is now officially supported by the specs of both json-schema and OpenAPI, my feature request was to support it built-in, just like you support `date-time` today.

[2021-01-05 09:41] mpuhacz opened #509 "SchemaPreprocessor.handleSerDes: Cannot read property 'type' of undefined"
**Describe the bug**
After upgrading to the version that includes: https://github.com/cdimascio/express-openapi-validator/commit/e08f45a we've noticed an issue in `handleSerDes`
[code]

**Examples and context**
<details>
<summary><code>openapi-definition.json</code></summary>

[code]

</details>

[2021-01-05 14:54] cdimascio commented on #395
@nasht00 i see. this makes sense. i'll reopen the ticket. ideally ajv will handle this for us, however until then (havne't checked) we could embed a customer validator to handle this by default. if you are up for creating a PR, i'll gladly review.

[2021-01-05 16:18] ahoehn commented on #509
same for me

[2021-01-05 19:30] jrosmithMG opened #511 "Valid 3.0.0 spec with polymorphism cannot be loaded by validator when validateResponses is true"
OS: macOS Catalina (10.15.7)
nodejs version: 12.14.1
npm version: 6.13.4
express-openapi-validator version: 4.0.0

*Observed Behavior*
An openapi spec validated by editor.swaggerhub.io cannot be loaded by express-openapi-validator when using polymorphism and setting `validateResponses` to true.

*Expected Behavior*
Polymorphic specs should be appropriately loaded by express-openapi-validator and v

[2021-01-06 03:33] cdimascio commented on #509
thanks all. i'll have a look.

@mpuhacz can you provide the rest of your spec.
the snippet you provided is incomplete. i did comment out the pieces that referenced the missing schemas. however, once i did that, the remaining spec successfully ran through the preprocessor.

im hoping with the rest of your spec, i can reproduce this.

@ahoehn, if you are able to provide your spec or at least a canon

[2021-01-06 03:44] cdimascio commented on #511
@jrosmithMG this looks like a dupe of #509

[2021-01-06 03:46] cdimascio commented on #509
i created a new [test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/509.spec.ts) that uses @mpuhacz 's spec. The test is passing. will look at @jrosmithMG 's spec next

[2021-01-06 03:53] cdimascio commented on #511
@jrosmithMG thanks for the spec. i can reproduce it. i'll have a look at fixing this (hopefully tomorrow night)

[2021-01-06 13:57] cdimascio commented on #511
@jrosmithMG fixed in v4.10.3

[2021-01-06 14:01] cdimascio commented on #509
fixed in v4.10.3

[2021-01-06 14:01] #509 closed

[2021-01-06 14:02] cdimascio commented on #511
keeping this open as there is additional work to fix this properly

[2021-01-06 14:50] TomFrost opened #512 "Custom resolver documentation is inaccurate"
**Describe the bug**
The documentation for custom resolvers refers to properties that don't exist

**Examples and context**
See the documentation for customer resolvers at current HEAD at the time of this writing: https://github.com/cdimascio/express-openapi-validator/blob/b806dd49a464ac32455670a6cd4e33932ece24ef/examples/5-custom-operation-resolver/README.md

It outlines the following code to acc

[2021-01-08 14:37] robertparkinson commented on #469
I'm seeing the same thing. Writing tests and submitting a POST on a route that only has a GET. expected some sort of 4xx response but it is a 500 that is returned with error `POST method not allowed`

[2021-01-08 20:53] arsnyder16 opened #514 "Add method to force initialization without waiting for first request"
**Is your feature request related to a problem? Please describe.**
I am seeing some delays on my first request as the middleware is processing my yaml and attaching the operation handlers

**Describe the solution you'd like**
It would be nice to have a way to initialize this process so i can do that before the first request happens

[2021-01-08 21:11] arsnyder16 commented on #514
I would presume there are some performance improvements that could possibly be made as well. For context i have about 52 endpoints currently and 7 files that contain the operations. I am using `operationId` and `x-eov-operation-handler`

[2021-01-09 03:42] cdimascio commented on #514
@arsnyder16, would you mind installing from the cmd/preprocess/visit-optimize branch
[code]
this is likely not to make a huge difference, but given the size of your api perhaps it will provide some savings. give it a shot, let me know the result

[2021-01-09 16:30] arsnyder16 commented on #514
@cdimascio Installing with that command causes the module to not work, i haven't installed this way before so maybe i am missing something on how this should work

![image](https://user-images.githubusercontent.com/6554919/104103040-09d89080-526e-11eb-961f-641a017c03c9.png)

[2021-01-09 17:29] cdimascio commented on #514
@arsnyder16 , try this instead `npm install express-openapi-validator@4.11.0-beta.1`

[2021-01-11 01:20] #511 closed

[2021-01-11 01:26] cdimascio commented on #514
@arsnyder16 these improvement are now included in `v4.10.5`. please let me know if you see any improvement in startup time

[2021-01-11 18:13] arsnyder16 commented on #514
@cdimascio This made a huge difference, the load time now is insignificant

[2021-01-11 18:14] #514 closed

[2021-01-11 22:19] cdimascio commented on #514
Awesome! Great news!

[2021-01-12 00:29] cdimascio commented on #469
I’ll take a look and get this fixed. If u don’t mind, it will be great if someone can provide a canonical example spec and basic server that causes the error

[2021-01-14 02:10] nkhil opened #516 "Erroneously getting 'Bad Request: request should have required property 'headers'' error"
**Describe the bug**
i'm building an API in NodeJS. I've got an openapispec (see below) that doesn't throw any errors when validated using editor.swagger.io. It works as expected on localhost. However, after deploying the API on Heroku,  I get the following mysterious error:

[code]

**To Reproduce**
Here's my API definition that doesn't throw up any errors

[code]

**Actual behavior**
I get a `Ba

[2021-01-14 13:46] emmagordon commented on #455
I'm also hitting this problem (using an openapi 3.0.0 spec) - ended up just turning response validation off altogether, which seems a shame.

[2021-01-15 00:09] cdimascio commented on #455
Is this occurring with the latest version?

[2021-01-15 00:36] nkhil commented on #516
I was using version 3.x.x.

Upgrading to 4.x.x seems to have solved this problem. Closing this now!

Thanks for maintaining this library!

[2021-01-15 00:36] #516 closed

[2021-01-15 01:00] cdimascio commented on #455
the test for this passes. also did a quick manual verify

server snippet:
[code]

openapi snippet
[code]

invoke the api
[code]

it appears to work. if you are seeing different results, please provide an example and i'll have a look

[2021-01-15 01:38] #469 closed

[2021-01-15 01:58] cdimascio commented on #469
Fixed in v4.10.6

[2021-01-15 01:59] cdimascio commented on #516
Fantastic!

[2021-01-15 10:19] damianobarbati commented on #443
is it possible to use this repo with koa with some workaround?

[2021-01-15 15:25] jchook commented on #443
@damianobarbati you can try [koa-connect](https://github.com/vkurchatkin/koa-connect), but it may have strange edge-case bugs.

[2021-01-17 18:41] cdimascio commented on #481
@mahnunchik thanks for the issue. this is resolved in`4.10.6`

[2021-01-17 18:43] cdimascio commented on #481
this was indirectly resolved.
that said, i also added some new tests [here](https://github.com/cdimascio/express-openapi-validator/blob/master/test/response.validation.defaults.spec.ts#L49)

[2021-01-17 18:43] #481 closed

[2021-01-17 18:59] cdimascio commented on #478
@mat813 thanks for the issue.
i've tried to reproduce this by creating this [test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/478.spec.ts) . it includes the spec from the `openapi.json` file that you provided above. It also uses the options provided in your comment.

all in all, the [test](https://github.com/cdimascio/express-openapi-validator/blob/master/test/478.spec

[2021-01-17 19:20] #460 closed

[2021-01-17 19:30] cdimascio commented on #512
@TomFrost This sounds reasonable. If you're up for t, PRs are very welcome. i will gladly review

[2021-01-17 22:15] jchook commented on #443
I would recommend an intermediate representation of context, perhaps similar to open-api backend except with `setStatus()` etc methods for updating responses. This way each framework can have an "adapter".

Recently I developed something like this as a proof of concept and can publish it soon.

[2021-01-18 03:55] cdimascio commented on #443
@mahnunchik, @jchook, @damianobarbati, @xeoneux i should have an initial version coming soon. i've got versions of fastify and koa now working via #521
note that the initial versions of koa and fastify will support request validation, but no response validation... yet

[2021-01-18 03:59] cdimascio commented on #443
you can see the koa example [here](https://github.com/cdimascio/express-openapi-validator/blob/33e531e9eebe47b43304ad156b8a8e727d4b0e48/examples/10-koa-standard/index.js)

i'll work to get an alpha release out soon. it will be great to get your feedback and work through any initial issues

[2021-01-18 21:36] cdimascio commented on #443
@mahnunchik the beta prerelease is now available. please give it a try. let me know how it goes

## Prerelease doc
See release [documentation](https://github.com/cdimascio/express-openapi-validator/tree/lerna-fastify/packages/koa-openapi-validator)

Note: response validation and operation handlers are not supported (yet)

## Install

[code]

## Sample app

[code]

[2021-01-20 15:11] cdimascio commented on #443
closing this out. beta is now available.

[2021-01-20 15:11] #443 closed

[2021-01-21 12:41] damianobarbati opened #522 "koa bug on 4.12.0-beta.xx"
I have an endpoint accepting both json and urlencoded body with same schema (spec is openapi 3.x validated).

I am trying to enable the validating middleware on specific endpoints because there are paths which are not defined in the spec (ie: healthcheck, docs) and must be excluded from spec validation.

[code]

The spec relevant part is:
[code]

Sending a request either as one of supported type:

[2021-01-21 22:01] jontroncoso opened #523 "Broken link to unit test examples in README.md"
**Describe the bug**
The readme has `See OpenAPI 3 authentication for securityScheme and security documentation See examples from unit tests`. but the link is broken (links to https://github.com/cdimascio/express-openapi-validator/blob/security/test/security.spec.ts#L17)

**To Reproduce**
1. Click `examples` link in README.
2. Get 404.

**Actual behavior**
I get a 404.

**Expected behavior**
See e

[2021-01-21 22:08] zachweinberg commented on #516
Does anyone know how we can fix this without updating to 4.x.x?

[2021-01-22 03:42] cdimascio commented on #523
@jontroncoso thanks you for the issue. the link isnow fixed.

[2021-01-22 03:42] #523 closed

[2021-01-23 01:11] cdimascio commented on #522
@damianobarbati thanks for the issue. i will have a look.
if you're able to provide a canonical code snippet. that will certainly help us.

[2021-01-23 03:01] cdimascio commented on #522
@damianobarbati this is fixed in `v4.12.0-beta.3`
you also need to ensure to use your favority bodyParser e.g. `koa-bodyparser` or `koa-body`

I've updated the [README](https://github.com/cdimascio/express-openapi-validator/tree/lerna-fastify/packages/koa-openapi-validator) to reflect this

[2021-01-27 15:02] cdimascio commented on #522
@damianobarbati how is it going with the koa-openapi-validator beta?
i'm interested to get your feedback...
- is it working well?
- have you run into any other issues?

i look forward to hearing you. thanks!

[2021-01-27 16:11] damianobarbati commented on #522
@cdimascio unfortunately not:
[code]

The former works, the latter does not.

I tried both single and multiple accepted content-types for body:
## single accepted content-type
[code]
and
[code]

But I get:
[code]

I have koa-body in place, without the validator middleware everything works fine: could it be a wrong initialization?

[2021-01-27 20:10] cdimascio commented on #522
@damianobarbati
Could u modify this [example](https://github.com/cdimascio/express-openapi-validator/tree/lerna-fastify/examples/10-koa-standard) demonstrate your error. I'd like tj get this resolved for u quickly

[2021-01-27 21:57] damianobarbati commented on #522
@cdimascio I tried your example and it's giving the same error:

NB: koa-bodyparser is missing in the package.json of example dir

[code]

Results in:
[code]

[2021-01-29 17:01] RoXuS opened #526 "Required + nullable seems to not work"
We have an issue if we use required AND nullable true on a property.

Our spec
[code]
it produces
[code]
instead of
[code]

For us, undefined should be != than null.

If nullable is not set the property is ok `fax: string`.
If required is not set the property is ok too `fax?: string | null`

[2021-01-30 01:50] cdimascio commented on #522
hi @damianobarbati,
thanks for describing you steps in detail
i notice that you missed a couple steps.
(i have a hunch that you're not using the latest beta version)

please try the following (it should work). let me know your result. thanks!

[code]

in another tab
[code]

Note: for this test I'm using:
[code]

[2021-01-30 01:50] cdimascio commented on #522
Note: for this test I'm using:
[code]

[2021-01-30 01:56] cdimascio commented on #522
hello @damianobarbati

please try the following (it should work)

[code]

in another tab

[code]

Notice this is the correct behavior. It noting the `name` and `type` are missing

Note:
I used Node 14 for this test

[code]

[2021-01-30 02:12] cdimascio commented on #522
@damianobarbati
I ran the test above with the published version and it failed.

apologies, the published version didn't include the latest, i just published a new version beta.4 with the latest

please try it. it should work

[code]

please let me know your result.
thanks!

[2021-01-30 02:14] cdimascio commented on #522
I verified that this works

[code]

[2021-01-30 04:27] cdimascio commented on #526
What are you using to producing those interfaces?

It is that tool, not express-ooenapi-validator, that has the issue.

[2021-01-30 04:30] #522 closed

[2021-01-30 12:41] RoXuS commented on #526
we use springdoc. But maybe I didn't understand the spec. Why you say this is an issue on our tool?

[2021-01-30 12:43] RoXuS commented on #526
Ok I understand, sorry ^^

[2021-01-30 12:43] #526 closed

[2021-01-30 21:17] cdimascio commented on #526
No problem. OpenAPI deviates a bit from jsonschema. Nullability is one of those areas. These edges are often the more problematic / inconsistent.

[2021-02-01 09:13] damianobarbati commented on #522
@cdimascio it seems to work, thanks! I'll in dig into details more this week to see if everything is working good.

[2021-02-01 19:31] ClappTrap opened #527 "Referenced Responses with '../' not resolving correctly - I think"
**Describe the bug**
I am not sure if this is a bug. But I  have a schema that has numerous includes:

`index.yaml`
[code]

`paths.yaml `
[code]
`models.yaml`
[code]
Having multiple operations in a file appears to produce an error. (I am going to investigate further.)
[code]

Nope I extended the paths file to have 3 operations and the error resurfaced.
--- further update
It actually looks like the

[2021-02-01 20:43] th3g3ntl3men opened #528 "response 204 with no body"
**Describe the bug**
Having a response of 204 with no body produces an error. 204 being no content, so having a null body would be valid (I think).
[code]

[2021-02-02 17:04] phpfs opened #530 "electron asar - failed to open spec dir"
Hi there,

thank you very much @cdimascio for bringing this library to live!
We are currently working on a project which involves integrating an express webserver into an electron app. This means that all code and the spec file will have to be packaged using `electron-builder` before we can ship it to our clients - as a single asar archive.

**Describe the bug**
Therefore, all source files can the

[2021-02-02 19:20] th3g3ntl3men commented on #527
Sorry I keep messing with stuff, and keep hitting this error, I thought I had fixed it.

[2021-02-03 00:33] cdimascio commented on #527
No problem. Thanks for the issue. Any chance u can provide a canonical example the reproduces the issue? Alternatively, If u r able to share your source code with me with instructions to run it, I'm happy to look there as well.

[2021-02-03 01:55] cdimascio commented on #528
@th3g3ntl3men this appears to work. the unit test passes.
you can also try it manually like so

Set up and run example 4:

[code]

curl the delete endpoint which returns `204` no content
(response validation is turned on in this example)

[code]

spec for the above operation

[code]

all in all, i'm not seeing the issue. are you running the latest `v4.10.9`
if you're still seeing the issue, i'm go

[2021-02-03 02:52] cdimascio commented on #530
fixed in `v4.10.10`

[2021-02-03 02:52] #530 closed

[2021-02-03 12:01] moatazeldebsy opened #532 "Q: How can I validate an API Documentation with an API server URL?"
Q: How can I validate an API Documentation with a live API server URL?

[2021-02-03 13:08] cdimascio commented on #532
Hello @moatazeldebsy, could you provide more context. I don't completely understand the question.

[2021-02-03 13:41] moatazeldebsy commented on #532
Hello, @cdimascio thank you for your replay, actually, I'm can I validate that the implementation of the API is sync with the API documentation such as openapi 3.x yaml files, I have a yaml file and I want to validate that the documentation is what implemented to make sure that the live API URL is updated, is it clear now?

[2021-02-03 16:13] cdimascio commented on #532
@moatazeldebsy thanks for the clarification
The validator takes a design first approach. You write your spec, then implement your business logic
By default request validation is turned on i.e. `validateRequests: true`. This ensure requests to your service are valid against your specification. You may also enable `validateResponses: true`.  This will ensur outgoing responses from you service match

[2021-02-03 16:13] #532 closed

[2021-02-03 17:22] th3g3ntl3men commented on #528
you know what, I am so sorry, I didn't  check my version. I am a little behind on versions. i updated and it appears to work. *sigh* I need to get in the habit of checking versions. sorry.

[2021-02-03 17:22] #528 closed

[2021-02-03 17:34] th3g3ntl3men commented on #527
Let me get you a in-depth schema. I will have time later this week.

[2021-02-06 12:39] tomercagan opened #533 "Validation error for query parameter with (json) content"
**Describe the bug**

I am getting validation errors when using a specification files which includes a query parameter that is expected to be in json format:

[code]

Note: the above is a made-up example but it is based on similar approach in a 3GPP (Telecom) standard document. You can see the file [here](https://forge.3gpp.org/rep/all/5G_APIs/blob/REL-16/TS29520_Nnwdaf_AnalyticsInfo.yaml).

When

[2021-02-07 05:34] cdimascio commented on #533
when passing json via a query parameter, you need to describe the behavior. it's likely you want `deepObject`
take a look at https://swagger.io/docs/specification/serialization/

also, i have some unit tests that are doing something similar to what you want
- [tests](https://github.com/cdimascio/express-openapi-validator/blob/master/test/serialized.objects.spec.ts#L110-L166)
- [spec for tests](htt

[2021-02-07 09:35] tomercagan commented on #533
@cdimascio - first of, thanks for the prompt reply and for this library!

To the matter, I have reviewed the tests and I understand the `style: deepObject`. I believe it is a slightly different use case...

In this case, I am not the author of the specifications and cannot change the definitions. As they are defined, it uses `content: ...` as in the above example. I will say again that this comes

[2021-02-07 10:42] tomercagan commented on #533
@cdimascio

In [Describing Parameters](https://swagger.io/docs/specification/describing-parameters/) documentation, it is clearly written (in the first paragraph! :)):

Further down, there's a dedicated section regarding this - [schema vs content](https://swagger.io/docs/specification/describing-parameters/#schema-vs-content).

So I guess the 3GPP standard is standard. It is noted that support to

[2021-02-11 19:10] ahilke commented on #476
@cdimascio I created a demo project here: https://github.com/ahilke/nestjs-with-express-openapi-validator/tree/express-openapi-validator-476

Hope it helps!

[2021-02-11 20:08] ahilke opened #535 "`Error: schema is invalid` when calling `middleware` multiple times"
**Describe the bug**

I am using `express-openapi-validator` 4.10.11 together with NestJS. In my jest tests, I instantiate the app for every test case. While the first test case passes, following tests fail with the following error:

[code]

**To Reproduce**

I reproduced the bug here: https://github.com/ahilke/nestjs-with-express-openapi-validator/tree/reproduce-express-openapi-validator-bug

To

[2021-02-12 03:46] cdimascio commented on #535
@ahilke thanks. Will look into this. This could be resolved by using a set when adding the property values during the preprocess phase i.e. the code unreferenced.

Feel free to submit a PR. Also, a quick, temporary work around may be to deepClone the spec JSON for the second instantiation of the middleware

[2021-02-12 04:15] kutenai opened #536 "Unknown format -- format: ^\d{4}-\d{2}-\d{2}$"
**Describe the bug**
I have been using openapi-validator for some time. I tried updating from an older version and found that at version 4.10+, I started getting an error. The error output is:

[code]

A portion of the .yaml specification that contains that format is here:
[code]

**To Reproduce**
Parse this .yaml file

[code]

**Actual behavior**
The code emits this error when starting the expres

[2021-02-14 20:54] #535 closed

[2021-02-14 21:17] cdimascio commented on #536
@kutenai tl/dr use `pattern` not `format`

You need a small change to your spec to correct the issue

Use `pattern` e.g.

[code]

instead of `format`

[code]

You can learn more about `format` vs `pattern` [here](https://swagger.io/docs/specification/data-models/data-types/)

[2021-02-14 21:18] #536 closed

[2021-02-14 23:18] cdimascio commented on #476
Thanks @ahilke! Feel free to create a PR that's adds this code to the examples folder in this project.

[2021-02-14 23:58] #353 closed

[2021-02-15 16:13] damianobarbati commented on #443
@cdimascio  is binary supposed to work (when using multipart)?
[code]

Result:
[code]

In this case I can accept both a json (where "content" is string) or multipart (where "content" is a binary upload).

[2021-02-15 17:45] cdimascio commented on #443
Multipart support isn't yet available in the koa variant. If u need it, I can look into it this weekend. As a interim workaround, u could add the multipart api to ignorePaths, so that the validator skips checking it

[2021-02-15 18:36] damianobarbati commented on #443
@cdimascio thanks for the workaround, I'll skip the checks on that endpoint but I definitely want to have it validated! Hope support it's gonna come out soon :)

[2021-02-15 20:49] dnalborczyk opened #538 "bug: multiple specs are not working"
**Describe the bug**

applying multiple specs to `middleware` does not work. it seems only the very first applied spec is working.

I found this issue, but it applied to a previous version of this project, and indicated it should have been fixed:
https://github.com/cdimascio/express-openapi-validator/issues/281

**To Reproduce**

[code]

**Actual behavior**
only first (spec1) spec is known and map

[2021-02-16 17:12] ahilke commented on #476
Problem is, I haven't found a good solution for the [exception filter](https://github.com/ahilke/nestjs-with-express-openapi-validator/blob/express-openapi-validator-476/src/openapi-exception.filter.ts) yet:

[code]

I haven't found a solution yet that only uses the exports from the index file. The filter is needed as otherwise NestJS would convert all validator errors to 500 errors.
I think I cou

[2021-02-16 21:27] ClappTrap commented on #527
I was able to track this down in my schema to a single instance i can replicate. I should have a schema to you this weekend. I have not forgotten, just been slammed.

[2021-02-16 23:44] dnalborczyk commented on #538
after some debugging I got it working removing this block: https://github.com/cdimascio/express-openapi-validator/blob/3cbcba92ce54a3422e9e63d0bc70cea078ef65de/src/middlewares/openapi.metadata.ts#L47 throwing an exception.

it seems every schema enters lookupRoute: https://github.com/cdimascio/express-openapi-validator/blob/3cbcba92ce54a3422e9e63d0bc70cea078ef65de/src/middlewares/openapi.metadata.

[2021-02-17 04:43] kevindavee commented on #516
This problem occurred for Node 15 as well. I downgraded my Node.js to version 10 and the problem disappeared.

[2021-02-17 15:21] mamatela commented on #149
Any progress on this? It would be so awesome to have this feature. It stands between me being able to use the same schema for get and post operations vs having to create separate almost-duplicates.

[2021-02-18 02:22] cdimascio commented on #527
Fantastic, thanks

[2021-02-18 03:54] cdimascio commented on #516
It will be helpful to have a canonical example spec that demonstrates the issue. Feel free to post here or share via a github repo

[2021-02-19 02:09] stevenhair opened #539 "Custom security handlers are not run"
**Describe the bug**
When defining a custom security handler as [per the documentation](https://github.com/cdimascio/express-openapi-validator#Advanced-Usage), it is never run.

**To Reproduce**
- Add a security condition to a route in the OpenAPI specification
- Define a custom handler
- Access the route without meeting the security condition (e.g. without the cookie)

**Actual behavior**
The res

[2021-02-22 18:38] ClappTrap commented on #527
@cdimascio here is a minimal schema that breaks by including.

https://github.com/ClappTrap/express-validator-schema-error

[2021-02-24 09:02] pietervandereems opened #540 "Custum error message for custom formats"
The api I'm currently developing is pretty extensive and the openapi specification is also pretty extensive. To keep it all manageable the specification is spread out over many yaml files (using $ref) and generous use of allOf to combine specs.
When I then use a custom format and it triggers, the error created becomes unreadable.

Example:
### openapi files:
**station.yaml**
[code]

**station_uri.

[2021-02-24 23:13] aaronluman opened #541 "validateApiSpec: false does not appear to be working"
running version 4.11.0 on express 4.17.1

the openapi.yaml file `openapi: 3.0.2`

setting

[code]
does not appear to prevent validation of the spec. Running with an error in the spec (duplicate enum value) and validateApiSpec set to false triggers this error.

[code]

express-openapi-validator/dist/framework/index.js:initialize is called for version 3.0.2
the processing gets to
express-openapi-val

[2021-02-25 02:45] cdimascio commented on #540
Custom formats apply to values of the `format` keyword, not `type`. See [here](https://swagger.io/docs/specification/data-models/data-types/#string-format) for details on format

[2021-02-25 02:46] cdimascio commented on #540
Closing out. Type just be a valid type e.g. string. A custom format can be used alongside a valid type

[2021-02-25 02:46] #540 closed

[2021-02-25 02:55] cdimascio commented on #540
Let me know how things go once u sort out the format issue

[2021-02-25 08:14] sabbiu opened #542 "Unhandled response validation for default case"
**Describe the bug**
According to the docs, [Describing Responses](https://swagger.io/docs/specification/describing-responses/)
Scroll down to `Default Response`

[code]

According to this example, all the fallback status code must be handled by default case

In the docs,

But, even though I am adding default case, it is still giving me error as such

[code]

_Note_

During the OpenAPIConnector in

[2021-02-25 08:23] sabbiu commented on #542
There was a typo in my code. It seems to be working. :joy: :joy:

[2021-02-25 08:23] #542 closed

[2021-02-28 03:51] cdimascio commented on #538
@dnalborczyk i believe this bug may have been introduce in `4.9.5`. will look into it. you can try moving back to an older version temporarily

[2021-02-28 18:42] #541 closed

[2021-02-28 23:19] dnalborczyk commented on #538
@cdimascio thank you for looking into this!

yes, absolutely! I'll have a look tomorrow and report back. 👍

[2021-03-01 18:42] setaman opened #546 "Custom error handler for request validation"
Hello. For our APIs we have error messages with certain structure. Therefore it would be nice to be able to define own error handler for request validation, similar to the `onError` prop for `validateResponses` you already have.

### Proposed solution
We should have the possibility to define the handler as a property for the `validateRequests`. For example:

[code]

### My current ugly workaround

[2021-03-01 20:09] aaronluman opened #547 "Array.prototype['flatMap']"
**Describe the bug**
adding the [flatMap method to Array](https://github.com/cdimascio/express-openapi-validator/blob/b802dd1eb6643f7867b69142705eb35be3854856/src/middlewares/parsers/schema.preprocessor.ts#L56) objects is a global event (it effects the project importing express-openapi-validator and all of their dependencies). the flatMap method as currently added acts as a hidden element of the a

[2021-03-02 02:01] cdimascio commented on #547
thanks @aaronluman, fixed in `v4.12.1`

[2021-03-02 02:01] #547 closed

[2021-03-02 04:01] cdimascio commented on #546
Your might check if the error is of type `HttpError`

[2021-03-02 08:02] setaman commented on #546
@cdimascio Yes, but ideally I would avoid all checks here to keep the code base consistent, clean and explicit. Otherwise it looks like dirty hack, in my opinion. I'm tired to explain to my colleagues why I'm doing this.

So, if you think this is a luxury problem that only I have and it's not worth spending time on, close the issue. Then I have to live with it. Otherwise, I would try to find a sim

[2021-03-02 16:19] kutenai opened #550 "Error about destructuring a property for missing request body -- on a GET"
**Describe the bug**
I have an API specification that is valid according to swaggerhub.com, where I author it.
I submitted an issue previously about a pattern that failed, since I was using 'format', instead of 'pattern'

I have fixed that issue, so I no longer get a syntax error, but I'm getting an error when I call my api endpoints now.

The error is: `Cannot destructure property 'content' of 'r

[2021-03-02 16:22] kutenai commented on #550
I should mention that if I back up to 4.9.x, it works fine.
So far, this fails in the same way on 4.10.x and 4.12.x (latest), so it is consistent.

[2021-03-02 16:34] kutenai commented on #550
Sorry, one more comment -- it is not even valid to add a requestBody to a GET request, swaggerhub raises an error.

[2021-03-03 02:57] cdimascio commented on #550
@kutenai, thanks for the issue. Could u provide a canonical example that demonstrates the issue. If I have a reproducible example, I can get it a fix out relatively quickly

[2021-03-03 03:06] na2793 commented on #149
I am also curious about this. I really need this feature.

[2021-03-03 04:06] kutenai commented on #550
Yes, I can do that, but I'm under a deadline for a code release this week, AND I'm taking a week of vacation right after that (I know, not such a great plan!! but it's release to a test system only).

I'll get back on this next week when I finish. I'll find the smallest working bit that I can to make it work and commit it.

Cheers -- Ed

[2021-03-03 04:35] waynebloss opened #551 "v4 UnhandledPromiseRejectionWarning: Error: openapi.validator: args.apiDoc was invalid."
**Describe the bug**

Cannot handle the promise created in [openApiValidator in src/index.ts](https://github.com/cdimascio/express-openapi-validator/blob/master/src/index.ts#L43).

**To Reproduce**

Install the middleware with a bad `apiSpec`. Since I was specifically testing how to catch this error in v4, I created a bad `apiSpec` with an incorrectly formed `operations.parameters` field  (e.g. `p

[2021-03-03 19:15] dnalborczyk commented on #538
@cdimascio I added a multi spec test: https://github.com/cdimascio/express-openapi-validator/pull/552 based on your other multi spec test.

notice that this test is not using any server url: https://github.com/cdimascio/express-openapi-validator/blob/4c1354f39dddc924d8fca4ae790a3efc153eba3f/test/api.v1.yaml#L11 and therefore not any base paths: https://github.com/cdimascio/express-openapi-validato

[2021-03-04 15:32] crudo opened #553 "Failing when referencing same response from multiple paths"
**Describe the bug**

It happens only if you have multiple responses referencing same file in multiple paths.

I have created a repo with this bug: https://github.com/crudo/express-openapi-validator-res-issue

Maybe it is the same issue as #527, but not sure.

eg.

[code]

---

Having:

[code]

This will fail:

[code]

This will NOT fail:

[code]

It will not fail, if you reference response only o

[2021-03-04 19:09] lucashanke commented on #476
Hey @ahilke

I could leverage that solution:

[code]

[2021-03-05 19:46] ahilke commented on #476
Thank you @lucashanke, I did not think about using `Object.values` in this way.

I opened a MR here: https://github.com/cdimascio/express-openapi-validator/pull/554

I don't like that `error` in this case is implicitly typed as `any`, so I added an interface based on `HttpError`. Not sure whether that's a good idea, but at least it makes the assumptions about the error structure explicit.

[2021-03-07 00:58] #553 closed

[2021-03-07 01:02] #476 closed

[2021-03-07 01:08] cdimascio commented on #550
@kutenai no problems. once you post the example, I'll certainly have a look

enjoy your vacation!

[2021-03-07 02:03] #551 closed

[2021-03-07 02:08] cdimascio commented on #551
@waynebloss fixed in `v.4.12.4`

it should now work as expected in the default case i.e. whre `validateApiSpec` is `true`

in the case, where one opts to set `validateApiSpec` to `false`, any error will propagate appropriately.  that said, express-openapi-validator expects a valid spec. disabling validation can lead to unexpected results if the spec is not valid.  I added a warning to the README t

[2021-03-07 03:29] waynebloss commented on #551
@cdimascio Thank you.

This fixes the unhandled promise rejection, but with this change I'm wondering how I can programatically detect the error that happens when `validateApiSpec` is true and the spec is invalid?

Specifically, I'd like to find out about this error once at startup so I can print an extended help message for other devs.

[2021-03-07 03:37] waynebloss commented on #551
@cdimascio If you're not interested in doing anything for this and you'd rather see a pull request I can do that.

I'm wondering what would be acceptable. A new option to add to `OpenApiValidatorOpts`, named something like  `onValidateApiSpecError`?

If you don't want to add anything, that's fine too - I can certainly continue to just re-implement `function openapiValidator` from your `src/index.t

[2021-03-07 03:39] waynebloss commented on #551
Actually, for my own personal project which is the only project using v4 of this `express-openapi-validator` right now - I don't need the extra help message. I was mostly concerned with the junior devs where I work. So, if you just don't even want to think about it at all right now I'm fine with that too.

Thanks for your excellent work!

[2021-03-07 19:49] cdimascio commented on #527
@ClappTrap please give v4.12.4 a try. I believe this is now resolved

[2021-03-07 19:50] #527 closed

[2021-03-08 21:46] ClappTrap commented on #527
@cdimascio I tried it with my real schema, and it is still throwing the same error.

[code]

I will do some more testing this weekend to see if I can pinpoint the problem in my schema. If I can, I'll provide a simple schema.

[2021-03-10 01:02] cdimascio commented on #527
@ClappTrap that line number doesn't seem to line up with what i'd expect in `v4.12.4`. i just installed to have a look at line `293` . i see it as`const schemas = [];`. This is 9 lines or so above the one referenced in the error message.

i want to make sure your actually using the latest version...

would you mind removing your `node_modules` directory, verifying that 4.12.4 is in your package.js

[2021-03-10 01:15] ClappTrap commented on #527
@cdimascio you are right, I had something misconfigured. everything works. Appreciate it.

[2021-03-10 01:33] ClappTrap commented on #527
@cdimascio sorry spoke too soon, I just ran a full suite of tests against my express instance and this cropped up in the latest.

[code]

I will do some more testing to see if I can pinpoint the schema breaking it.

[2021-03-10 01:46] cdimascio commented on #527
Sounds good. Let me know what u find. Hopefully we can get this resolved for u soon

[2021-03-10 01:48] ClappTrap commented on #527
No worries!

[2021-03-11 02:15] SpencerLawrenceBrown opened #558 "Recommended Testing Methodology"
**Is your feature request related to a problem? Please describe.**
I am using the express-openapi-validator for various services at my company. Currently the only way we have found to effectively test it is using superagent and then hitting it with real requests.

However this is a very slow way to test since it has to spin up an express app. Ideally there would be a way to write tests that pass i

[2021-03-11 11:01] crudo commented on #546
Just raising hand. I am doing the same ugly thing.

I do not like the check for
```if (err.errors && err.status)```
cause it does not identify your middleware very well.

As a first step, it would be great if we can identify error from this middleware more precisely.

[2021-03-12 17:49] joeylgutierrez opened #561 "Open-Api Custom Error"
**Is your feature request related to a problem? Please describe.**
We are moving the company to use the lib but one issue we struggle with is identifying the validator errors to be able to convert them properly to our own custom errors.  The code to do so is kind of long and ugly just to know that it's an open-api error.

**Describe the solution you'd like**
I would love a custom error that has a

[2021-03-13 01:45] #467 closed

[2021-03-13 01:56] cdimascio commented on #467
available in `v4.12.5`

[2021-03-13 02:02] cdimascio commented on #561
I'm open to suggestions here. Note that most of the errors returned from the generator are sourced from [here](https://github.com/cdimascio/express-openapi-validator/blob/master/src/framework/types.ts#L569-L746). Feel free to take a stab at it. The referenced code should get a good jumpstart, but there are some other error cases in the code that we'll need to sniffed out and updated

[2021-03-13 02:05] cdimascio commented on #558
You might also consider posting this question to StackOverflow for wider reach.

[2021-03-15 03:13] cdimascio commented on #546
Agreed.

Also, this is a duplicate of https://github.com/cdimascio/express-openapi-validator/issues/561
A solution is proposed there i.e  one which borrows a model similar to axios and others.

Looking forward to your feedback

[2021-03-15 10:47] setaman commented on #561
i see no improvement in the proposed solution for the use case i described in my issue. I still have to do the checks that i want to avoid. I could also write a function `isValidationError(error)` that checks, if the error is a validation error, so I have not much benefits from `error.isOpenApi`.

As an end user, I prefer my solution as it is simply more explicit. Furthermore, we already have the

[2021-03-16 20:24] crudo commented on #561
@setaman You have to somehow identify the error. How do you want to do it without asking/checking?
Unique error property is fine in my eyes.

[2021-03-16 20:46] setaman commented on #561
@crudo no need to check anything, if you have already defined an error handler that formats the validation error as you need. You can just propagate it in your error handler middleware. Otherwise you could write a functions (like i did to just improve the code) that identifies the error:
[code]
So to call `isOpenAPISpecValidationError(err)` or `err.isOpenApi` makes not much difference. You still h

[2021-03-16 20:47] joeylgutierrez commented on #561
@crudo i believe he's attempting to just provide a custom error handler function so that he knows that if that function is called it can only be an openApi error so he wouldn't need to check.  In my case I just have a global error handler that catches several different error types from different libs and then builds custom errors from them.  I just need to know which is which

[2021-03-17 14:06] crudo commented on #561
@joeylgutierrez Yep. I agree. My use case is closer to yours. I have multiple possible sources of errors and has to distinguish between them.

[2021-03-17 15:45] cdimascio commented on #561
@setaman based on the discussion, it appears these are indeed two separate requests. I will reopen the other.

[2021-03-17 15:48] cdimascio commented on #546
Reopening as this request. It is a related, but different from that referenced above

[2021-03-17 23:52] ahilke commented on #471
@cdimascio  What about just using `WWW-Authenticate: Basic`? According to the [specification](https://tools.ietf.org/html/rfc7235#appendix-C), this should be valid.

[MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate) says:

    A description of the protected area. If no realm is specified, clients often display a formatted hostname instead.

I verified this behaviour

[2021-03-18 02:45] cdimascio commented on #471
That will be great. Please do. It makes for a good launching point.

[2021-03-22 04:00] rohshall opened #566 "response validator errors out on validation of strings"
In my OpenApi specs, I have timestamp fields, which are defined as of type "string". However, the response validator flags it saying this field is not a string. When I define it as of type "object", the validation passes. But, it is incorrect. As per the OpenApi spces, date-like fields should be defined as "string", with additional "format" as "date" or "date-time".
In the API, request validation

[2021-03-23 01:01] cdimascio commented on #566
@rohshall, thanks for the issue.

Can u provide a canonical example demonstrating the issue.

Based on he description, it sounds like you've defined a schema on a response object that uses a date format
E.g

[code]

In this case, there are wo serializers (date and date-time) that are installed by default. Each will handle a date string or a `Date` object. If a Date object is found, it should seria

[2021-03-23 02:10] rohshall commented on #566
I tried it with a sample application: https://github.com/cdimascio/express-openapi-validator-example, and it works as expected. Sorry, something must be wrong in my app. We can close this issue.

[2021-03-23 02:10] #566 closed

[2021-03-23 10:32] mpoggicalinda opened #567 "Multipart requestBody: required properties are blocking valid request from SwaggerUI"
Hello ,

from the below APiSpec 3.0 ( myapi.yaml)

[code]

we can see some required properties on the multipart object properties. ( e.g. contract, contractors, pdfparts)

When a request is built from SwaggerUI ,
With all required prop fullfilled ,
We have this error :
{
  "errors": "request.body should have required property 'contract', request.body should have required property 'contractors', re

[2021-03-23 21:22] AgentGoldenPaw commented on #527
@cdimascio i completely spaced this. sorry. This weekend I will have time to pinpoint the issue. But should I open a new issue or just post here?

[2021-03-23 22:05] michaelmelody91 commented on #104
Hey @cdimascio, did you have any thoughts on the direction you'd see being taken to support discriminators within the request body?

We're currently using the validator (and loving it so far) where we're supporting a request body which contains a top level attribute where the value is a map of elements where each _could_ inherit from a base schema. Each one of those elements has their own set of r

[2021-03-25 09:46] code-surfer opened #569 "invalid serDes syntax in README.md"
The syntax of `serDes` in the README.md looks invalid.
[code]
The keys are missing in the object.
In the code (`dist/framework/base.serdes.js`) it actually is
[code]
I guess in the README.md, the `serDes: [{ ... }]` should be changed to `serDes: [ ... ]`.

[2021-03-25 11:27] code-surfer opened #570 "Default values missing in query"
While switching from express-openapi-validator 3.17.2 to 4.12.6, I see a difference in behaviour regarding query default values. (#287 looks similar but was on v3.)

The relevant parts from the openapi.yaml are:
[code]

With the `pedestrian` parameter omitted
* with 3.17.2 the handler gets `{ pedestrian: { speed: 1 } }` for the request.query, whereas
* with 4.12.6 the handler gets `{ pedestrian: u

[2021-03-28 22:46] MattRM-M opened #571 "Increased memory usage since 4.10.0"
**Describe the bug**
I recently switched from version 4.9.4 to the latest version and noticed that the heap usage over runtime in my app increased from ~200MB to ~550MB.  After checking different versions, I found that the memory increase started in version 4.10.0.

**To Reproduce**
The test app I created just exposes POST/DELETE/GET/PUT on a number of paths and logs the current memory usage using

[2021-03-30 03:15] cdimascio commented on #571
@MattRM-M thanks for this. I will have a look at the app.zip.

[2021-04-04 08:57] shimri-au10tix commented on #539
i'm facing the same issue.

[2021-04-04 15:55] cdimascio commented on #567
Will need to look into this. As a workaround, you can ignore validation on this route using ignorePaths

[2021-04-04 16:01] cdimascio commented on #465
@balazssoltesz this is now resolved by using the serDes option. See serDes doc.

@pilerou has also provided a serializer/deserializer lib that can be used with the validator to handle mongodb object.

See the readme for details on both

[2021-04-04 16:01] #465 closed

[2021-04-04 18:48] drpym commented on #527
I checked and in the latest two bumps everything resolves correctly.

[2021-04-06 07:51] mpoggicalinda commented on #567
Sure , thanks !

[2021-04-06 19:01] thernstig opened #573 "OpenAPI 3.1 support"
**Is your feature request related to a problem? Please describe.**
OpenAPI 3.1 was released a while ago. It would be nice if it was supported.

**Describe the solution you'd like**
Full OpenAPI 3.1 support.

**Additional context**
https://openapi.tools/ lists this tool as not having OpenAPI 3.1 support.

[2021-04-07 19:48] waynebloss opened #574 "Baffling error message when a path operation's `security` property is undefined."
**Describe the bug**
When you forget to add a `security: []` propety to a path operation, you get a very unhelpful error message upon requesting that endpoint:

[code]

**To Reproduce**

1. Setup the validator with the default security scheme implementation.

[code]

2. Define a default security schema for all controllers in your root API spec.

[code]

3. Do not add a `security` property to your

[2021-04-12 17:14] linqFR opened #575 "Error in Custom Operation Resolver"
**Describe the bug**
In the example given for [custom operation resolver](https://github.com/cdimascio/express-openapi-validator/tree/master/examples/5-custom-operation-resolver#example-express-api-server-with-custom-operation-resolver), we can read:
[code]

So route is supposed to have a `schema` property.
We can only access:
[code]
Instead resolver has 3 arguments : `basePath` (which is the base

[2021-04-12 19:53] crudo opened #576 "Response validator not working when referencing same responses"
**Describe the bug**

It happens only if you have multiple responses referencing same file in multiple paths.

I have created a repo with this bug: https://github.com/crudo/express-openapi-validator-issue-2

Very similar to #553 but this time response validation is not working.

eg.

[code]

---

Having:

[code]

This will fail:

[code]

This will NOT fail:

[code]

It will not fail, if you refere

[2021-04-13 11:01] rienheuver opened #577 "Exclude response validation that uses ApiExcludeEndpoint from nestjs/swagger"
**Related problem**
We use the response validation, but it also tries to validate responses that should not be validated. We use the `ApiExcludeEndpoint` decorator from nestjs/swagger on some endpoints to exclude it from our api-spec. However, the validator will still try to check it and then errors:
[code]
If I remove the decorator on the endpoint it will validate correctly again.

**Preferred so

[2021-04-14 00:07] shousper opened #579 "Response validation not working in 1-standard example"
**Describe the bug**
Matching response status codes from the spec appear not to be working or too forgiving?

**To Reproduce**
- Edit the `api.yaml` in `1-standard` example, changing `/ping` response status code from 200 to any other status code.
- Run the example.
- `curl` the `/v1/ping` endpoint.
- Observe it succeed.
- `curl` the `/spec` endpoint to confirm edit if you like.

**Actual behavior*

[2021-04-14 00:47] LinusMelb opened #580 "`allOf` and `oneOf` don't work as NonArraySchemaObject always requires type to be defined"
https://github.com/cdimascio/express-openapi-validator/blob/a585ba18ac3f613d2669c3c19dbc0097ca6d9659/src/framework/types.ts#L234-L251

As `line 249` shows, `type` property is always required for `NonArraySchemaObject` however if I'd like to use `oneOf` keyword what value the type property should be? For example:

[code]

[2021-04-14 17:20] spasquali-ww opened #582 "AJV version and configuration"
Love this project. Using it extensively.

One application using it uses AJV elsewhere in the stack. For that part of the stack I'm using the latest version of AJV (8).

It seems like EOV uses AJV 6. That's fine, but wondering if a version upgrade is possible. Selfishly, I'd like to have version parity across my app.

Additionally I'd like to be able to have control over the AJV configuration used

[2021-04-16 16:54] Dakota628 opened #584 "parseQueryStringUndecoded fails if the param key is a property of Object.prototype"
**Describe the bug**

[parseQueryStringUndecoded](https://github.com/cdimascio/express-openapi-validator/blob/a585ba18ac3f613d2669c3c19dbc0097ca6d9659/src/middlewares/parsers/req.parameter.mutator.ts#L336) fails with `m[k].push is not a function`  if the param key is `__proto__`. I suspect there will be similar issues with any property of Object.prototype.

**To Reproduce**
[code]

**Actual behavi

[2021-04-18 03:34] cdimascio commented on #582
thanks @spasquali-ww, im closing this as it is effectively a duplicate of #573. moving to the latest AJV means upgrading json schema

[2021-04-18 03:34] #582 closed

[2021-04-18 03:39] cdimascio commented on #579
@shousper thanks for the issue.

note, if the code and spec are out of sync, you will get a validation error. for example, if the code is was modified to respond with a `201`, but the spec still only defines a 200, then the validator will return a validation error.

closing this out for now. please reopen if the code and spec match and the error occurs. also, a code snippet will be super helpful.

[2021-04-18 04:27] #574 closed

[2021-04-18 04:33] cdimascio commented on #577
this error seems like a bug `Cannot convert undefined or null to object`. it should return `404`
given, can you provide an example?

i will consider `ignoreUndocumented`.

[2021-04-18 04:34] #570 closed

[2021-04-18 04:50] shousper commented on #579
This is exactly the problem. It does NOT produce a validation error when the code & spec are out of sync.

[2021-04-19 01:44] cdimascio commented on #579
ah gotcha. i misread. reopening

[2021-04-19 08:04] rienheuver commented on #577
Thanks for your reply!
Can't provide an example right now, our repo is too complex to share. I believe these are the steps to reproduce though:
1. generate/write api-spec for your api
2. remove a certain http-verb from an endpoint. E.g. remove POST `/users`, but keep GET `/users`. Maybe removing entire endpoint works as well, not sure
3. turn on `validateResponses`

Is that enough information?

An

[2021-04-20 01:28] cdimascio commented on #571
@MattRM-M
Can you provide some details with respect to how you did this profiling. I'm interested in recreating this locally

[2021-04-20 14:14] jjdonov commented on #546
I'd also be interested in an enhancement like this. The response validator middleware has an `onError` handler that lets you decide what to do with the error, and I think something similar could be useful for requests as well.

For example, simply logging some type of event and still allowing the request to continue.

[2021-04-20 20:00] MattRM-M commented on #571
For my complete app, I had used Grafana in conjunction with running my application as a docker container based off of RHEL 7 in OpenShift.
For the test app, I ran it using the basic 'node app.js' command using node version 12.8.4 but I have observed the problem in node 14.  I ran the test app in a CentOS 7 virtual machine.  I used calls to process.memoryUsage(), which occurred on a 10 second loop,

[2021-04-21 10:04] code-surfer opened #587 "use with `discriminator` results in many '$ref: keywords ignored in schema at path "#"' messages"
As soon as I put a `discriminator` into my openapi spec, the program emits multiple

    $ref: keywords ignored in schema at path "#"

on startup. I guess it's not me doing it wrong, as the example behaves the same:
[code]

Is this just noise or does it indicate an error? According to a Web search the messages come from `ajv`.

[2021-04-22 00:34] lynchmattj commented on #550
I just ran into this issue myself on version 4.12.8 and repro'd using this simple demo yaml:

`
openapi: 3.0.0
info:
  title: test
  version: '1.0'
servers:
  - url: 'http://localhost:3000'
tags:
  - name: user
paths:
  /user:
    get:
      description: Returns a user
      operationId: getUser
      responses:
        '200':
          content:
            application/json:
              schema:

[2021-04-22 01:00] cdimascio commented on #587
@code-surfer this is just noise. as you mentioned. it's coming from AJV.
closing this out. nothing we can do here unfortunately.

[2021-04-22 01:00] #587 closed

[2021-04-22 04:50] lynchmattj commented on #550
I figured out my issue, which may or may not be the cause of @kutenai 's problem.  It seems that somewhere between 4.9.x and 4.12.x the value of `request.openapi.schema.requestBody` for GET requests with no body switched from `undefined` to `null` and I was checking for `undefined` when destructuring but not `null`.

[2021-04-22 05:49] code-surfer opened #588 "Support for `discriminator` on deeper levels"
At the moment, `discriminator` is supported at the top level only. This seems to mean that e.g. an endpoint can return a body of schema A or B. Example 8 nicely demonstrates this.
What does not seem to be supported is that an endpoint can return a body containing an array where its items can be of either schema C, D or E.
Is such support planned?
Is the currently limited support due to `ajv`? I do

[2021-04-26 10:18] babaliaris opened #589 "Express res.json() returns wrong date when using open-api-validator!"
**Describe the bug**
When you return a JSON response that contains a date object created by an [ISO-8601](https://en.wikipedia.org/wiki/ISO_8601) string, and in the API spec (.yaml) the date field is type **Date**, you get the wrong **YYYY-MM-DD** back! For example, if the date was created using **"1996-01-03T22:00:00.000Z"** then in the response you get **1996-01-03** instead of  **1996-01-04** w

[2021-04-27 03:46] cdimascio commented on #589
@babaliaris thanks. You are correct. It's not hanging the date probably. Here is the offending [line](
https://github.com/cdimascio/express-openapi-validator/blob/master/src/framework/base.serdes.ts#L16)
Would u be willing to post a PR with the fix?

[2021-04-27 06:21] babaliaris commented on #589
Oh I see it! Indeed it splits the ISO string and keeps the first part. Yes I will create a PR, I'd be happy to contribute to this awesome project!

[2021-04-27 14:07] babaliaris commented on #589
By the way, I just forked the repo, cloned it, and installed dependencies and some of the tests fail (I didn't touch anything yet). I run the ```npm run test:windows``` script since I'm on a Windows machine:
[code]

[2021-04-28 20:22] rocketmaniac commented on #550
Thanks for posting the results of your digging, @lynchmattj !  I'm using the Controller.js code from openapi-generator for nodejs-express-server and it had this line:

`if (request.openapi.schema.requestBody !== undefined) {`

It's all fixed up now!

[2021-04-28 22:16] rocketmaniac commented on #550
Unfortunately, I forgot that there is another issue that may force me back to 4.9.5...higher versions (at least up to 4.12.8) no longer set request.openapi.schema.requestBody.content['application/json'].schema.$ref, where appropriate.  It leads to this bug, where the 'foo' parameter in the example code is always null at runtime:

https://github.com/OpenAPITools/openapi-generator/issues/8140

The o

[2021-05-01 16:07] bmaschio opened #592 "Confuse why is not working (probably my fault)"
**Describe the bug**
The validation seems to not be triggered

**To Reproduce**
try to call my endpoint

curl --request POST \
  --url http://localhost/api/informations \
  --header 'Content-Type: application/json' \
  --data '{
	"source" : "some_device",
	"value" : 1.453543543534
}'

**Actual behavior**
Returns 200 I was expecting some error

**Expected behavior**
I was expecting some error

**Se

[2021-05-05 02:16] kiahnjl opened #594 "Defaults in nested `oneOf` aren't being populated"
**Describe the bug**
This only seems to be an issue when using `oneOf` nested inside a field or an array (i.e not at the top-level) AND where a `oneOf` subschema contains a field that uses a `default` value.

Under these circumstances, it seems like the `default` values aren't being populated automatically. This seems to happen even if a `discriminator` is used.

**To Reproduce**
Use `oneOf` to de

[2021-05-10 08:22] ericxinzhang opened #598 "[Query] How to incorporate custom validations"
**Is your feature request related to a problem? Please describe.**

openapi-validator is doing a great job on request validation against the openapi spec file. However there are validations rules cannot be defined in the spec file. For example, there are two query string parameter `min` and `max` and we want to validate that `min <= max`.

Of course I can do such validation separately, throw error

[2021-05-10 17:03] jeremydrichardson opened #599 "Array query params cannot be parsed req.query in Express 5"
**Describe the bug**
When defining an array query parameter in OpenAPI, express-openapi-validator will fail to validate.

**To Reproduce**
Use the following query parameter
[code]
with the following query string in url
[code]
using Express 5

**Actual behavior**
Validation will fail with the error "Bad Request: request.query.ids should be array"

**Expected behavior**
The query parameter should be

[2021-05-20 03:50] raniantheone commented on #588
I would like to second this support.

Currently I have similar requirement in validating requests that accept an array containing several forms of objects.

My workaround is to define an object which have several properties but only allow one property when it's in use.

Look forward to discriminator support at deeper levels, and thanks again to the authors for this awesome tool!

[2021-05-20 03:59] raniantheone commented on #561
@joeylgutierrez I have similar requirement to yours. My current workaround is adding an error handling middleware right after openapi validator (since express middleware runs in order), but not sure if your project allows doing things this way.

[2021-05-20 22:00] agavazov opened #601 "serDes is not working with OpenAPI parameters"
**Describe the bug**
When there is described parameter with format in parameters section they are not handled by serDes.

**To Reproduce**
Add `format: customOne` in `requestBody` and in `parameters` and define handler in `serDes`, only the `requestBody` will be handled.

**Actual behavior**
Only the `requestBody` formats are handled by `serDes` definitions.

**Expected behavior**
All inputs must

[2021-05-21 00:12] cdimascio commented on #601
@pilerou would you be interested in investigating this feature. it's essentially an extension of the `serDes` work you delivered

[2021-05-21 01:08] cdimascio commented on #594
@kiahnjl the issue here is that this is not a top-level discriminator. currently, only top level is supported. I'm going to close this, as we've have other issues that account for it. i.e. https://github.com/cdimascio/express-openapi-validator/issues/104

work is needed to support nested discriminators

PRs are certainly welcome

[2021-05-21 01:09] #594 closed

[2021-05-21 01:12] cdimascio commented on #599
@jeremydrichardson will consider express 5 support once it makes it out alpha and its API is stable.
will gladly accept a PR if relatively simple modifications can be made to support this

[2021-05-21 01:12] cdimascio commented on #599
going to close for now.
we will certainly support express 5 once released. it's been in alpha for quite some time

[2021-05-21 01:12] #599 closed

[2021-05-21 01:19] cdimascio commented on #592
hello @bmaschio the schema for this POST request is defined as follows:
[code]

note that all fields are optional. also the values you provided are compatible with the defined types, thus the request is valid and should pass validation.  all in all, the behavior is correct.

what were you expecting?

(closing this out, feel free to post questions if you still have them)

[2021-05-21 01:19] #592 closed

[2021-05-21 02:06] kiahnjl commented on #594
Thanks for confirming @cdimascio, that makes sense! I'll try and make some time to have a look :)

[2021-05-21 06:57] pilerou commented on #601
Hi @agavazov and @cdimascio
Happy to see serDes feature is used.
I try to have a look in the next two weeks.

[2021-05-21 15:06] boks1971 opened #603 "Cannot read property errors"
**Describe the bug**
(NOTE: Sorry, this is more of a question I think as I am trying to figure out an error rather than a bug report)
Getting `Cannot read property `parameters` of undefined` and other cannot read errors like that.

**To Reproduce**
I have a YAML schema like
[code]
That is for a POST request which gets `$ref` included elsewhere.
I do not have a simple set up to reproduce this, but

[2021-05-22 00:33] cdimascio commented on #603
@boks1971, thanks for this issue. An example will be helpful. Feel free to create a repo that demonstrates the bug. I'll have a look.

[2021-05-22 01:32] boks1971 commented on #603
Thank you so much @cdimascio . I will try to create a repro case and share.

But, wanted to provide more information in case it provides a clue.
It works if I use `$refParser.mode = 'dereference'`.

I then looked at the output of `$RefParser.bundle` and `$RefParser.dereference`. I had used that parameter references in my example (the query and cookie) in another path earlier in the file (a bunch o

[2021-05-23 18:42] agavazov opened #604 "validateSecurity to use custom errors"
**Is your feature request related to a problem? Please describe.**
I'm not able to throw custom errors in `validateSecurity` and handle them after that.
I can see you are mapping the errors from the `status code` which eliminates previous throwed error (my custom errors) https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/openapi.security.ts#L112

**Describe the solu

[2021-06-02 11:54] wparad opened #609 "Middlewares should be lazily loaded"
**Describe the bug**
The middlewares when not being used are still imported into memory and unnecessarily take up time loading.

**Expected behavior**
Only the middlewares that are going to be used should be imported.

[2021-06-02 14:21] wparad opened #610 "Separate out validation from express"
I'm using a framework (AWS API gateway) that isn't one that is supported directly, and while I'm not asking for that framework to be supported, there is a lot of great functionality that I want to reuse, but can't really.

Luckily there is a workaround, but isn't great as it still loads a ton of unnecessary functionality, causing slowness ~80ms of unnecessary delay on initial load.

## The solutio

[2021-06-02 16:49] pilerou commented on #601
Hi @agavazov
I had a quick look.
I don't know why but if your schema referer with  `$ref`to a component, it's working (See : [test/resources/serdes.yaml](https://github.com/cdimascio/express-openapi-validator/blob/master/test/resources/serdes.yaml)
[code]

But If you replace ` $ref: "#/components/schemas/ObjectId"` by the components type declaration it doesn't work.
[code]

A quick fix for you cou

[2021-06-02 21:15] pilerou commented on #601
Hi @cdimascio
I had a look. As it is initialized in schemaVisitor function of schema.preprocessor.ts,, Serdes is only used on :
- `components` schema referenced using `$ref`
- request body
- response body

but not when the schema is declared directly in route `parameters` schema as explained before.
That's because `schemaNodes` is built only on `components` schemas,  request bodies schemas and res

[2021-06-04 10:01] jazzzz commented on #601
@pilerou I tried your workaround, and effectively, when declaring the type in the `components` section, my deserializer is now called, but `req.params` still contains the original string.

[2021-06-07 09:40] pilerou commented on #601
@jazzzz It's strange. The test validates this use case.
[serdes.spec.ts - line 56 ](https://github.com/cdimascio/express-openapi-validator/blob/master/test/serdes.spec.ts#L56)
The string value is well transform to an object (MongoDB's ObjectId in this use case)

Here is an example of serdes configuration for date-time :
[code]

How is your serdes configuration ? Could you paste your configuration

[2021-06-07 16:49] jazzzz commented on #601
I found the issue: my parameters are declared under the route, not under the method, like this:

[code]

The issue also happens for basic types, so it's not related to `serDes`.

[2021-06-07 17:08] jazzzz opened #612 "path params are not coerced when declared under the path"
**Describe the bug**

Path params are coerced when declared under a method, but not when declared under the path for all the methods.

**To Reproduce**

With the following `openapi.yaml`, `req.params.id` is a string, whereas it should be a number:

[code]

With the following `openapi.yaml`, `req.params.id` is a number:

[code]

**Actual behavior**

The path parameters are not coerced (`req.params.

[2021-06-08 13:23] stevenhair commented on #604
I'm not able to get custom security handlers to run at all: #539

[2021-06-08 20:17] Jakesterwars opened #613 "Multer dependency failing audit"
Just a contextual thing with multer failing a low severity audit because of minimalist inside a sub dependency of theres. While the last publish for multer was.. almost 2 years ago.. I was wondering if there was a good alternative to move away from multer in general because this can be a showstopper if it lands a high/critical audit for some peoples' usages.

[2021-06-14 17:49] kulkarnipradnyas commented on #176
from request body i am sending a property files with correct type:string format:binary but still my validator is failing with 500 and in error as well in body object i cant see files property.I am not able to upload file.what is the solution? using latest version of this package.

[2021-06-21 01:20] #584 closed

[2021-06-22 12:07] LarsV123 commented on #576
Is there a fix/workaround for this? Having some trouble splitting my OpenAPI-spec into multiple files and I suspect this is the cause.

[2021-06-22 22:53] cd-rite opened #626 "Operation query parameter descriptions should override path item query parameter descriptions, and not be validated in addition to them"
**Describe the bug**
When an Operation parameter is defined with the same name as an applicable Path item parameter, parameters in requests are being validated  against BOTH parameter schemas.  According to the OpenAPI spec, the Operation level parameter should *override* the path item parameter, not be in addition to.

https://swagger.io/docs/specification/describing-parameters/
https://spec.open

[2021-06-23 17:00] cd-rite commented on #626
Also, just to be clear, I am talking about Query parameters specified at the path and operation levels, not parameters actually IN the path.

[2021-06-25 14:46] Morriz opened #627 "readOnly fields with data in request throw errors"
**Describe the bug**

Request body with data for fields that are readOnly throws errors.

**To Reproduce**

Define field as readonly, and send a POST, or PUT with a payload that contains data for a readOnly field.

**Actual behavior**

An error is thrown that the field is readOnly and should not contain data.

**Expected behavior**

The field to be discarded.

[2021-07-01 14:13] kndt opened #630 "Typescript build errors"
**Describe the bug**
This happens during tsc build.

**To Reproduce**
`npx tsc --build`

**Actual behavior**
It errors and fails to build

**Expected behavior**
It should be able to build

**Examples and context**
[code]

[2021-07-01 16:22] #630 closed

[2021-07-03 16:35] cdimascio commented on #627
thanks @Morriz, would you be interested in submitting a PR

[2021-07-04 16:33] Morriz commented on #627
Ooh, dunno. If it's within my comfort zone then yes ;) But time is not something I have lots of...

[2021-07-14 07:44] davesargrad opened #633 "How to add additional middleware on routes handled by the 3.9 express-openapi-validator"
I use the [openapi-generator](https://github.com/OpenAPITools/openapi-generator).

The generator creates an express app using the 3.9 version of the express-openapi-validator. It instantiates using the older "install" method (gone in 4.x).

![image](https://user-images.githubusercontent.com/48793689/125585744-0b8ea7cb-41bf-4ea3-a3ef-931fcaa69d18.png)

I've been struggling (see [here](https://githu

[2021-07-14 09:33] davesargrad commented on #633
I think I am almost there. I found this ability to setup a security handler.
![image](https://user-images.githubusercontent.com/48793689/125599445-e34591c1-10ed-45b2-b9f3-bd82737a866f.png)

However, the handler that I've defined is not called. I see the following error at my client application.

[code]

[2021-07-14 09:59] davesargrad commented on #633
Omg!! I figured it out. The answer was staring me in the face. I didnt realize that I could use a custom key name. I thought the documentation suggested that the keys had to be one of several predefined values.

Btw.. you have created fairly excellent documentation. One of the best npm projects in that regard.

![image](https://user-images.githubusercontent.com/48793689/125603315-25e72883-69ed-495

[2021-07-15 19:07] elliotdickison opened #634 "Pass response to security validators"
**Is your feature request related to a problem? Please describe.**

The express docs recommend saving authentication state on res.locals (https://expressjs.com/en/api.html#res.locals). The express TypeScript types are also setup to allow custom typings for res.locals. This makes that the ideal place to save auth state (e.g. res.locals.user = user, res.locals.token = accessToken, etc.).

**Describe

[2021-07-19 15:05] vomc commented on #612
I also noticed this. Seems like a huge issue but maybe I am doing something wrong?

I somehow assumed also that if you specify a path param to be a `number`, you would in fact get a number back not a string...

[2021-07-19 15:08] vomc commented on #612
https://github.com/cdimascio/express-openapi-validator/issues/372#issuecomment-693058131

[2021-07-22 17:29] rallyRussell opened #635 "Discriminator Issue"
**Describe the bug**

Under certain conditions involving allOf and discriminator fields, OAS can't be resolved.

Describing this is difficult. It's best understood by looking at the examples and work around below.

**To Reproduce**

<details>
<summary>root.yaml</summary>
<p>

[code]

</p>
</details>

<details>
<summary>Currency<X>.yaml</summary>
<p>

[code]

</p>
</details>

<details>
<summary>Cur

[2021-07-25 11:58] KOVERcjm opened #636 "koa-openapi-validator cannot integrate with koa3"
Hello,

**Describe the bug**
I have enjoyed express-openapi-validator and would like to implement on a koa_based api server as well. But seems report an error when following the instruction as recommended.

**To Reproduce**
Please find my app source code [here](https://github.com/KOVERcjm/nodejs-openapi-server-template/blob/Koa_w_OpenAPI_Validator/server/app.js).
Try GET from the 'http://localhost

[2021-07-25 13:49] cdimascio commented on #634
Cool. Sounds like a reasonable workaround.
Feel free to submit a PR. Happy to review

[2021-07-25 18:37] #626 closed

[2021-07-30 20:11] robertjustjones commented on #601
I'm also seeing an issue with a deserialization of a query param. The function for the custom format never gets called.

[2021-08-02 21:00] elliotdickison opened #639 "Array validation incorrect"
**Describe the bug**
This is accepted as valid spec and will allow any array:

[code]

**To Reproduce**
Load up an OpenAPI spec containing the above schema and set `validateApiSpec` to `true`.

**Actual behavior**
express-openapi-validator accepts the spec as valid

**Expected behavior**
express-openapi-validator should throw with an invalid spec error

**Examples and context**
The official OpenAP

[2021-08-06 13:09] rek commented on #636
I'm also facing this issue. Did you find a workaround?

[2021-08-06 15:16] t0lik opened #640 "Feature request: split apiSpec into several YAML-files"
**Is your feature request related to a problem? Please describe.**
I have many routes grouped by some resources and I can't neither split YAML-file nor use a merged JS configuration object for `apiSpec` option

**Describe the solution you'd like**
It would be great to indicate a main and secondary YAML-files where I'll be able to store routes divided by resources.

**Describe alternatives you've c

[2021-08-08 08:05] mottolini opened #641 "Multipart request with boolean or number fails validation"
**Describe the bug**
Multipart requests with boolean or number fails validation because values are passed as string.

With a requestBody definition like the following one:
[code]

the body that is passed to the validator is:
[code]

Which seems correct because multipart can only passes strings.

**Actual behavior**
The error reported is:
[code]

**Expected behavior**
I would expect that because th

[2021-08-08 10:24] yidongw opened #642 "`additionalProperties` only works on the top object"
**Describe the bug**
`additionalProperties` only works on the top object in the schema. All `additionalProperties` in the children object will be ignored.

**To Reproduce**
If I have the following schema,
[code]
I send a request like
[code]
and want `express-openapi-validator` to validate it for me

**Actual behavior**
My request would pass with no error

**Expected behavior**
My request should fa

[2021-08-09 13:38] mottolini commented on #641
I investigated a bit more the issue and discovered that the function validatorBody in reality calls `avj` and this is initialized with coerceTypes = true, so it should work...

[2021-08-09 15:35] mottolini commented on #641
I rebuilt the dependencies tree from scratch and the issue is not there anymore. Probably an old issue that has been solved by `avj` recently

[2021-08-09 15:35] #641 closed

[2021-08-11 11:00] rahulbreezo opened #643 "Expose a validate function that either throws err or return true"
**Is your feature request related to a problem? Please describe.**
I want to validate a req and then do certain steps. Dont want to use middleware directly.

**Describe the solution you'd like**
Expose a validate function that validates request based on opneAPI spec and return true for success or throw error for failure

**Additional context**
Right now I can achieve this by passing a custom callb

[2021-08-11 14:35] javier-garcia-meteologica opened #644 "Security middleware cannot find cookie in req.signedCookies"
**Describe the bug**
The middleware `openapi.security.ts` only searches for cookies in `req.cookies` and not in `req.signedCookies`. It throws the error `Unauthorized: cookie 'sid' required`.

**To Reproduce**
1. Create a openapi schema with a required cookie
2. Use cookie-parser with a secret for signing cookies.
3. Validate schema with express-openapi-validator

**Actual behavior**
Throws `Unaut

[2021-08-14 09:22] huseyinozgul opened #646 "Whether Request Body is mandatory"
**Describe the bug**
If request body defined and it's not mandatory (required:false) and  the body is empty/null, bodyParser throws error "unsupported media type".

**To Reproduce**
Create a post request in the yaml
Define a schema in requestBodies,
Set false this schema's required property.

Then try to post your end point with out body

**Actual behavior**
It throws an error like "unsupported me

[2021-08-14 09:36] huseyinozgul commented on #646
You should update parsers/body.parse.ts  as below. I have no right to create new branch.

![image](https://user-images.githubusercontent.com/4598366/129441691-d536190d-4f17-4d26-aefe-d8f9da2f4475.png)

[2021-08-17 09:59] yidongw opened #647 "string `YES` or `NO` is being converted to boolean `true` or `false`"
**Describe the bug**
A clear and concise description of what the bug is.
If you write the string `YES` or `NO` in the example, it will be automatically converted to boolean `true` or `false`
You can find that in the `request.openapi.schema.responses[code]["content"]["application/vnd.api+json"]["examples"]`

**To Reproduce**
Steps to reproduce the behavior.
[code]

**Actual behavior**
A clear and c

[2021-08-17 12:01] crudo commented on #576
@LarsV123 Hey, looks like adding this to config solves my issue. https://github.com/cdimascio/express-openapi-validator#%EF%B8%8F-refparsermode-optional

[code]

[2021-08-17 12:01] #576 closed

[2021-08-17 12:01] crudo commented on #576
@LarsV123 Hey, looks like adding this to config solves my issue. https://github.com/cdimascio/express-openapi-validator#%EF%B8%8F-refparsermode-optional

[code]

[2021-08-20 01:35] #644 closed

[2021-08-20 09:46] pasear opened #649 "Query parameter length validation does not work"
**Describe the bug**
Looks like for query parameters,  it does not check the limitation set by `maximum` or `minimum`.

**To Reproduce**

For example, I have a OpenAPI doc with the following parameters object.

[code]

I loaded it into OpenAPI validator with { validateRequests: true, apiSpec }
I call the API with /?name=sunny

**Actual behavior**
It doesn't throw an error.

**Expected behavior**
I

[2021-08-21 22:50] cdimascio commented on #633
@davesargrad glad u found the solution. Closing this out. Thanks for the issue

[2021-08-21 22:50] #633 closed

[2021-08-30 16:58] alonsohki commented on #635
This seems to be a bug when combining discriminators with references. In https://github.com/cdimascio/express-openapi-validator/blob/master/src/middlewares/parsers/schema.preprocessor.ts#L318 a `properties` field is added to the schema, even if empty. Then, ajv will detect that you have a object containing a $ref key along with an empty `properties` key, and trigger this piece of code that generat

[2021-08-30 17:31] alonsohki commented on #635
I have created a PR to fix this: https://github.com/cdimascio/express-openapi-validator/pull/651

[2021-08-31 02:15] essential-randomness commented on #573
I tried my hand at this and failed. See: https://github.com/cdimascio/express-openapi-validator/pull/653

I don't think this is possible right now, but I'm waiting for help from the AJV folks to see if they can help figure out what I'm doing wrong (or whether there is an error in any of the libraries/specs). See: https://github.com/ajv-validator/ajv/issues/1745

[2021-09-02 04:18] rattrayalex opened #654 "Allow serDes for type: number with custom formats"
**Is your feature request related to a problem? Please describe.**

We have mongo timestamps that we save as seconds since the epoch, but which mongoose renders as `Date` objects. I would like to serialize these to a number, like so:

[code]

However, this doesn't seem to work – `serDes` only works when `type: 'string'`, even though you can declare custom formats for `type: 'number'`.

**Describe

[2021-09-02 05:25] rattrayalex commented on #580
I ran into this as well; this was my workaround:

[code]

[2021-09-02 19:02] e-rich18 opened #655 "Request Validator Validates Request Body When Request Body is Empty and Not Required"
**Describe the bug**
The request validator is validating the request body against the spec schema even when the body is empty and is not required (`required: false` in `requestBody`). For example, an endpoint has a POST method with a `requestBody` of `Form` that is not required and a request is sent with no body data. The empty body data is still validated against the schema for `Form`.

**To Repr

[2021-09-03 11:35] gonenduk commented on #319
I have tried to switch to operation handlers - instead of doing something similar in code.
The default revolver verifies that both operation-id and operation-handler exist - or an error is thrown about the missing one.
If both exist then the handler function is checked and returned to be declared in a route.
And here is my issue:
If both are missing, the default resolver simply returns undefined -

[2021-09-07 12:28] ownagedj opened #656 "Optional deep query parameter handling is broken."
**Describe the bug**
Having a query parameter schema like this:
[code]

**To Reproduce**
Create an operation with the given query above and do not include a sort parameter

**Actual behavior**
Request results in a 400 validation error
[code]

**Expected behavior**
The parameter validation must not fail as it should be skipped.

[2021-09-07 12:44] ownagedj opened #657 "deepObject array property is converted to string"
**Describe the bug**
[code]

**To Reproduce**
[code]
[code]

**Expected behavior**
Both should be treated as array.

[2021-09-10 12:48] yidongw commented on #7
@cdimascio what if you want to do use `operationHandlers` in the `OpenApiValidator` but still support `multipart`? I couldn't find a way to do it. I got the same error

[2021-09-12 00:19] cdimascio commented on #649
@pasear for strings you must use

[code]

[2021-09-12 00:19] #649 closed

[2021-09-13 06:25] mahnunchik opened #660 "Support ESM as operation handlers"
**Is your feature request related to a problem? Please describe.**

It would be helpfull to support ECMAScript modules as operation handlers.

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

https://github.com/cdimascio/express-openapi-validator/issues/575

[2021-09-14 16:58] tony-aq commented on #113
I have the same issue, using AWS with API Gateway and trying to present a spec for client use but also using a spec for validation on the backend.

I would appreciate some way to "not validate servers or base path" so that I could have one single spec instead of multiple spec views.

My workaround is to have a spec for validation and a modified spec for client inspection.

[2021-09-15 16:12] kewalkothari opened #661 "MissingRefError: For routes that have been ignored"
**Describe the bug**
I'm encountering
`can't resolve reference #/components/schemas/<HIDDEN SCHEMA> from id`

This happens because I have multiple validator for multiple specs. I encounter this issue even if I have marked `ignoreUndocumented: true` and also `ignorePaths` this issue only stops if I disable `validatingRequests`.

While debugging I noticed that the library entertains the path even if

[2021-09-17 19:21] rattrayalex commented on #654
Updated the description and title with more generic (and I hope compelling) examples.

[2021-09-17 19:30] rattrayalex commented on #654
Note that currently, the output of any custom `deserialize` function seems to stringified after the fact, so you can't hack around this right now.

[2021-09-22 17:16] aviskase opened #662 "Coerce types by default for multipart"
**Is your feature request related to a problem? Please describe.**
Per [validateRequests.coerceTypes](https://github.com/cdimascio/express-openapi-validator#%EF%B8%8F-validaterequests-optional) we automatically always coerce request query, path params, headers, and cookies.

When we use multipart request body, properties are always sent in string format, thus, without `coerceTypes=true`, values de

[2021-09-23 00:42] cdimascio commented on #661
can you provide a small canonical snippet that exhibits the issue.
provide as a github repo is also very helpful

[2021-09-27 10:28] mahnunchik commented on #660
Hi @cdimascio

There is one of pretty simple implementation: https://github.com/CoinSpace/CoinSpace/blob/fd5c229ce60b67bcf88a342209931efb1cf87b93/server/lib/esmresolver.js

[2021-09-28 04:48] yoelkohn opened #663 "checkErrorWithAnd doesn't work when another SecurityScheme method has failed."
When a security scheme fails, the next scheme will fail if it requires two api keys. This is new behavior as of PR 393, whereas in the past it would validate if any of multiple grouped securitySchemes validated.

To reproduce:

[code]

If no cookie is supplied, the failure of the first validator will not clear when the second one is validated.

This is obvious in src/middlewares/openapi.security.t

[2021-10-01 14:18] patricktyndall opened #664 "Async validator for custom formats"
**Is your feature request related to a problem? Please describe.**
I'd like to use this project to do validation of resource IDs against our database. For example: We could have `user_id` as a custom swagger format, and allow the `validate` function to call an async function `isValidUserId` before the request succeeds.

This would save a ton of repeated code, especially in larger APIs where resour

[2021-10-01 16:26] patricktyndall commented on #539
Same

[2021-10-01 19:13] patricktyndall commented on #664
Update - I tried to get this working using the `validateSecurity` handlers since they support async, but I can't even get them to run (#539)..

[2021-10-09 01:19] #646 closed

[2021-10-13 13:27] anil0906 opened #667 "Is there a way to use underlying validators with node http module?"
We are planning to shift to node http module for our project. This project was well suited with express server but could not find an alternative for our use case?

Is there a plan to expose underlying validator so it can be used with base http module as well?

[2021-10-14 02:55] #667 closed, assigned to nobody

[2021-10-19 18:38] zeeshanali786 opened #668 "express-openapi-validator is giving error on correct date-time"
**Describe the bug**
In  OpenAPI specs, I have a field with date-time format  like
       startDateTime:
          type: string
          format:date-time

express-openapi-validator is giving error on even correct date-time dates("startDateTime": "2022-02-15T00:00:00Z") . Below is the error, I am receiving
{
   "message": "request.body.events[0].startDateTime should match format \"date-time\", req

[2021-10-21 21:03] jrosmithMG opened #669 "Errors in polymorphic objects not correctly reported if objects are in an array"
**Describe the bug**
When a malformed polymorphic implementation is in an array, errors returned by express-open-api validator state that the object must implement all required properties of all polymorphic implementations despite the discriminating property being present.

Versions:
express-openapi-validator v4.13.2
express v4.17.1
Node.js v14.7.4
npm v6.14.4

**To Reproduce**
See examples - spec

[2021-11-09 18:50] alexthehurst commented on #668
@zeeshanali786 It's hard to diagnose this because of the lost formatting in your code samples, especially the YAML. Are you able to edit so that the all the code samples are in formatted blocks? There's a Markdown syntax guide here: https://guides.github.com/features/mastering-markdown/

[2021-11-15 20:03] msimerson commented on #558
I've never considered doing it another way, and I don't find it slow. I guess YMMV?

[code]

When run with API validation enabled:

[code]

When run without API validation:

[code]

We can see that API validation adds a few milliseconds of processing time to each request. The longer time taken for auth is a security feature and that time is spent doing crypto. Most of the rest of each requests tim

[2021-11-17 11:35] baranga opened #670 "Global security in spec must be an array"
**Describe the bug**
I'm adding global security definitions to my spec and the validator complaints about them in schema validation. I'm using the format documented in OpenAPI v3.0 (object with properties) but that fails. Instead I have to use an array of objects.

**To Reproduce**
Use this api spec to initialize the middleware:
[code]

**Actual behavior**
On starting my app I get this output:
[co

[2021-11-17 20:35] zzgab opened #671 "defaultResolver does not relate to default export"
Hi! Great piece of work.

The `defaultResolver` seems to suggest that if the `operationId` symbol is not found in the exports, then it shall use `default`.

https://github.com/cdimascio/express-openapi-validator/blob/f295957b8d3356f519a1edc4fef7f0bf0002f876/src/resolvers.ts#L38

Yet, on the `return` statement, we no longer relate to a possible `default`, so the promised behaviour (to fall back to

[2021-11-19 11:36] vomc opened #672 "Path parameters are not coerced"
It seems that though the docs state otherwise that path parameters are not coerced. I am using version `4.12.14`

For example I have a simple endpoint, specified like this

[code]

Then in my controller, if I log out the incoming param like this

[code]
I see
[code]

I am not sure if I am misunderstanding the docs but my assumption would be that since I specified the `deviceId` path param as `type

[2021-11-19 11:41] vomc commented on #672
Ah, I get it now, I understand that they are not modified as per the comment here:

https://github.com/cdimascio/express-openapi-validator/issues/372#issuecomment-693058131

I would vote for that being added to the docs in some form as it is a bit confusing because reading that "path params are coerced" kind of makes you think they are also modified and arrive as the coerced type in your router...

[2021-11-27 15:15] cdimascio commented on #672
@vomc thanks for the issues. i've provided a link in to README to these details.

https://github.com/cdimascio/express-openapi-validator

https://github.com/cdimascio/express-openapi-validator/blob/master/assets/docs/coercion.md

[2021-11-27 15:15] #672 closed

[2021-11-27 15:17] cdimascio commented on #671
@zzgab this is bug. a PR will be fantastic. thank you!

[2021-11-27 15:21] cdimascio commented on #670
@baranga thanks for the ticket. the spec states that`security` takes an array of `SecurityRequirementObject` not an object. The validation error provided is correct

https://swagger.io/specification/

[2021-11-27 15:21] #670 closed

[2021-11-27 15:23] cdimascio commented on #663
@yoelkohn please submit this fix as a PR. thanks!

[2021-11-27 15:36] cdimascio commented on #662
@aviskase thanks for this issue.

please submit a PR. that will be super helpful. Let's take a variation of approach 2. modify `coerceTypes` to take an array as an alternative to the `boolean`. e.g.
`coerceTypes: [ 'multipart' ]`

[2021-11-27 15:39] cdimascio commented on #660
@mahnunchik thanks for the example. it looks reasonable. to help move this along, would you be up for preparing this as a PR.

[2021-11-27 15:53] cdimascio commented on #613
fixed

[2021-11-27 15:53] #613 closed

[2021-12-01 02:50] DetachHead opened #677 "missing types for `request` and `superagent`"
[code]
`@types/request` and `@types/superagent` should probably be listed as `dependencies` instead of `devDependencies` as they are required downstream if using you're using typescript and don't want to enable `skipLibCheck`

[2021-12-01 02:51] DetachHead opened #678 "compile error in typescript strict mode: `Property 'getSchemaObjects' in type 'OpenApi3Spec' is not assignable to the same property in base type 'OpenApiSpec'.`"
[code]

[2021-12-01 02:56] DetachHead commented on #677
oops wrong repo

[2021-12-01 02:56] #677 closed

[2021-12-01 03:00] DetachHead commented on #678
oops wrong repo and it looks like this has already been fixed in the latest version

[2021-12-01 03:00] #678 closed

[2021-12-02 11:01] shashanksapre opened #679 "Getting type error when accessing errorCode property of a ValidationErrorItem"
**Describe the bug**
Getting a type error when I try to access properties of errors array within an error object of type `ValidationError`

**To Reproduce**
Access the property `errorCode` inside an `ValidationErrorItem`

**Actual behavior**
`Type error: Property 'errorCode' does not exist on type 'ValidationErrorItem'. Did you mean 'error_code'.`
If I try to access error_code, it's undefined.

**

[2021-12-02 12:33] reena-obc commented on #679
**Bug Description**
Getting a Type Error when I try to access properties of errors array, if I try to access error_code, it's undefined. Type error: Property 'errorCode' does not exist on type 'ValidationErrorItem'. Did you mean 'error_code'.
![021802](https://user-images.githubusercontent.com/82019130/144422724-a484fb3e-7e84-4b55-adfc-4f6972910bf0.PNG)

[2021-12-09 09:25] AmitThakkar opened #681 "Spec generated by tsoa giving error"
**Describe the bug**
We are using tsoa for generating OpenAPI specs(https://tsoa-community.github.io/docs/generating.html#using-cli) and it is working fine. But when I try to use express-openapi-validator I get below error:

[code]

I checked swagger.json(generated by tsoa) that also seems fine:
[code]

[2021-12-14 02:08] cdimascio commented on #681
try casting the value as `any`

[code]

[2021-12-15 19:54] waynebloss commented on #114
I got this message also when I posted to my API without a body, on accident.

[2021-12-18 13:07] b00tsy commented on #588
Concrete example for such a use case:

[code]

Currently the validation seems to be applied via fingerprint of the body, not the given discriminator.

[code]

[code]

[code]

So currently this given example still works, even if the `discriminator` property is not being evaluated. In more complex data models with many `allOf` inheritance and similar-ish body models it doesn't, which e.g. requires u

[2021-12-19 18:14] #671 closed

[2021-12-20 10:56] pilerou commented on #601
I think i found the reason.
I can't explain it as serdes unit test works but i think I have the same issue.
Actually, AJV is doing 2 verifications :
- in a first time, it's checking `pattern`. It adds an error in errors list `vErrors`
- in a second time, it's checking custom format by calling ObjectId serdes `deserialize` function. As it's not in ObjectId format, it throws an exception transformed

[2021-12-20 13:16] pilerou commented on #654
Hello @rattrayalex

I'm looking at this enhancement.
Should we make a very generic mecanism or is there other literal types ?
I think we can deal with number, boolean and string but I can't see more.

For example, I don't think BigInt is universal enough.

Am I right ?
If it is OK to you, I can try to make the changes

[2021-12-20 17:33] rattrayalex commented on #654
Hi @pilerou,

Thanks for looking into this!

My hunch is that it should be fully generic. For example, there may even be a type: object that gets serialized into a class instantiation or something.

I'm not quite sure what you mean about BigInt but I could also imagine someone using a custom datatype for those too (like a big decimal datatype for example).

I hope this helps?

[2021-12-20 18:15] michaelpistrang-vetro commented on #284
This week I've been attempting to implement my own custom security handlers logic for authorization, and just came upon this same issue while testing.

I wrote up a new feature request but found this existing issue just before posting.

Here is what I was thinking of posting if any of the content would help with this issue at all:

******************

**Is your feature request related to a problem

[2021-12-24 09:22] pilerou opened #683 "Use OpenAPIValidator request ajv out of OpenAPI usage (websocket...)"
**Is your feature request related to a problem? Please describe.**
It could be great to use OpenAPIValidator mecanism to generate an AJV object and use it outside of an OpenAPI and Express usage.
Users could have the guarantee that validation and transformation (serdes) are the same in their OpenAPI usage and when they validate a JSON.
For example, it would be possible to develop a new module that

[2021-12-26 21:24] #601 closed

[2021-12-31 13:53] tamis-laan opened #687 "express-openapi-validator and swagger-jsdoc?"
Is it possible to combine swagger-jsdoc with express-openapi-validator?

The following code:
[code]

Gives the error:
[code]

[2021-12-31 14:14] wparad commented on #687
If `swagger-jsdoc` is compliant, then it should work if you `JSON.stringify(schema)` before passing it in.

[2021-12-31 15:05] tamis-laan commented on #687
Didn't work:

[code]

Seams like it is interpreting it as a path rather then the schema itself?

[2021-12-31 15:08] tamis-laan commented on #687
As far as I can see my first example should work, you can pass an object as the apiSpec:
https://github.com/cdimascio/express-openapi-validator#%EF%B8%8F-apispec-required

[2021-12-31 15:10] wparad commented on #687
What does the output say?

[2021-12-31 18:59] tamis-laan commented on #687
Looks like it works now, turns out I had an error in my schema.

This indicates that the schema is invalid:
[code]

What I don't understand is, if validation is done on the schema, why it does not tell me what is wrong with the schema.

This would be great for debugging.

[2022-01-05 10:18] saimonmoore commented on #657
Seeing the same thing. In our case, we have a request param that is a comma delimited urn list.

Our parameter definition is this:

[code]

In v3, this would be validated and parsed as an array of strings.
In v4, we are getting the original comma-delimited string (but passes validation).

This is preventing us from upgrading to v4.

[2022-01-05 18:51] gaston-sureify commented on #395
@cdimascio ajv supports duration validation using the ajv-formats package.
You can import the validation function by doing this:
`const valDuration = ajv.compile({type: 'string', format: 'duration'});`

[2022-01-07 21:15] tamis-laan opened #693 "encoding, contentType: image/jpeg not validated"
I have a request with the following body:

[code]

However I can just upload a `image/png` and express-openapi-valdator doesn't care :-/

[2022-01-08 21:15] tamis-laan opened #694 "unsupported media type"
I'm trying to upload a file but I'm not sure what is going wrong here. Looks like an openapi validation error. Maybe someone can help me out?

Client side (nodejs with form-data):
[code]

Server side (express openapi validator)
[code]

This returns the error:
[code]

[2022-01-11 01:57] AlmaKnudson commented on #588
Hi there, is there any news on supporting `discriminators` in deeper levels?

[2022-01-11 16:13] mathiasmah commented on #567
Hi @cdimascio ,
I ran into the same problem.
Did you already have time to look into this?

Specifically it happens if I set fileUploader: false.
If it don't set this, no errors are shown, but the content of the form is not present on the body.

[2022-01-14 05:13] cedrichan commented on #647
In YAML, `YES` and `NO` are boolean values, per spec: https://yaml.org/type/bool.html

So you'd have to quote those values as strings.

[2022-01-17 17:11] YaakovR opened #696 "Option removeAdditional with allOf"
I refrained from labeling this a Bug report or Feature request, since it may be my own syntactic error 😄.

**OpenApiValidator config:**
[code]

**OpenAPI path:**
[code]

**OpenAPI schema**
[code]

**Expected JSON return data**
[code]

**Actual JSON return data**
[code]

I'm wondering why  `removeAdditional: 'all'` empties the entire objects. Everything works fine when removing the `removeAdditiona

[2022-01-19 13:27] medolino opened #698 "apiSpec validation before middleware registration"
In case apiSpec validation fails (and `validateApiSpec` is set to `true`), some error messages are dumped to console, but middleware initialization executes normally. An error is thrown later, when you make an api request.

I am wondering if there is a chance to throw error during initialization, which will prevent my application to start?

[2022-01-20 17:43] YaakovR opened #699 "Serdes Does Not Work for Items in Object in Array"
**Describe the bug**
Serdes performs well on properties in an object. However, when the owning object is part of an array, then `serialize` is never called.

**To Reproduce**
1. `git clone https://github.com/cdimascio/express-openapi-validator.git`
2. `npm run deps && npm i`
2. `cd express-openapi-validator/examples/7-response-date-serialization`
3. `npm start`
4. `GET http://localhost:3000/v1/dat

[2022-01-24 16:57] kdthomflutter opened #700 "Unsupported $ref= at very end of yml file"
Getting an unsupported $ref issue on an 3.0.3 openAPI validation

Schemas are referenced from other files all over my spec but for some reason the last reference is causing this error

`
SubCompetition:
      required:
        - name
        - obfuscated
      type: object
      properties:
              name:
                type: string
                example: 'obfuscated '
                desc

[2022-01-25 09:32] minut-shan opened #701 "Support for unicode in pattern"
**Is your feature request related to a problem? Please describe.**
Suppor unicode in pattern as på JSON schema 2020-12, like the following:
[code]
The problem is that currenly the version of `ajv` being used is 6.12.6, which does not pass the `u` flag in the Regexp constructor. As stated in their changelog https://github.com/ajv-validator/ajv/releases/tag/v7.0.0

**Describe the solution you'd like

[2022-01-27 17:21] YaakovR opened #702 "Type Coercion Does Not Work for Boolean Parameters"
**Describe the bug**
When validating requests, parameters should be coerced according to [AVJ's type coercion rules](https://ajv.js.org/coercion.html#type-coercion-rules).

As a side issue, coercion from string to array happens even when `coerceTypes` is not explicitly set to `'array'`.

**To Reproduce**
1. git clone https://github.com/cdimascio/express-openapi-validator.git
2. npm run deps && npm

[2022-02-07 06:34] sghoe commented on #693
same is for mp4, there is a part missing
@tamis-laan how did you manage to?

[2022-02-07 09:09] tamis-laan commented on #693
@sghoe Nope, I postponed this for other work. Planning to fix this by manually checking the media type for now. I remember there is a package called mime for nodejs that you can use:
https://www.npmjs.com/package/mime
But ugly solution...

[2022-02-08 15:45] karleinarb commented on #588
We could also need support for this.

**Scenario:**
We have a object with an array where each item must be oneOf schema A, B or C.
A, B and C have much in common, but should be mapped based on their **status** property.

[code]

[2022-02-09 12:50] tamis-laan opened #703 "question: file upload using axios and validator"
Using the following route specification:
[code]

I'm trying to upload an image from the frontend using axios as followed:
[code]

Where image has the structure:
[code]
and represents a file on disk.

However express-openapi-validator returns the following error:
[code]

Given the error it's not entirely clear what is going wrong. The header is set to `multipart` and the form attaches one file. Can

[2022-02-14 21:26] robertjustjones commented on #668
This could be related to #699.

[2022-02-15 18:11] sathvi3 opened #706 "Number type error"
Checking for number type reports an error stating .response.arr[0].abc should be number

Steps to reproduce the behavior.
1. Define a table in MySQL with one column as DECIMAL.
2. When trying to list out the table details using a API, Swagger gives and error for columns having decimal values.
3. This happens even though it is a number and is specified properly on Swagger.

A clear and concise desc

[2022-02-16 10:41] lmartelli opened #707 "date serDes should throw error on invalid date"
**Describe the bug**
If you use `OpenApiValidator.serdes.date`, invalid dates (2001-18-03 for instance) are silently deserialized to null. It should throw a validation error

**To Reproduce**
[code]

[code]
[code]

**Actual behavior**
[code]

**Expected behavior**
[code]

[2022-02-16 11:20] lmartelli commented on #707
I will try to provide a patch

[2022-02-16 15:57] lmartelli commented on #707
I've just found the `validateFormats: "full"` option :-)

[2022-02-17 11:00] Fabiencdp commented on #567
I get the same behavior with `fileUploader: false`, but without specifying the `fileUploader` option, the request is validated and the body is correctly received, req.files is also filled with uploads items

[2022-02-17 17:49] YaakovR commented on #266
@cdimascio @bluenote10

Is there any way to stop coercion when passing a `null` value to a `nullable` field?

[2022-03-03 17:42] tamis-laan opened #708 "base64 support?"
I'm trying to upload an image encoded as base64:
[code]

But I get the following error:
[code]

[2022-03-04 17:05] dpschnabel opened #709 "Validation fails when / present in servers URL after first variable."
**Describe the bug**
When using variables in the server definition that are separated by a /, the validation no longer works. The minimum length for fields was one of the checks that was observed as no longer working.

**To Reproduce**
Using the following:
[code]
Validation will not trigger for any requests with the server entry. Remove the / between the base_url and env_id and validation will wor

[2022-03-05 10:04] tamis-laan opened #710 "multipart/form-data && application/json not working?"
Given a route specification with the following request body:

[code]

I get the following error:

[code]

[2022-03-13 14:27] cdimascio commented on #702
this is intentional to ensure numbers are treated as numbers and not coerced to boolean. although ajv supports this its not always desired to have input value that appears to be a number automatically converted from a number to a boolean.

[2022-03-13 14:27] #702 closed

[2022-03-14 19:34] BlueSialia commented on #266
@dotMortis Both of your examples produce the same error for me. I'm using v4.12.9 and I cannot get a nested property to be nullable no matter what I do. Though in my case it's nested twice: `ObjectOne.NestedObject.NullableProperty`

[2022-03-17 18:46] essential-randomness commented on #573
I'd be very happy to have my PR picked up/used as inspiration! But it seems the issues I opened in the AJV repo haven't been closed yet, so I'm unsure what changed that made 3.1 work. Happy if that's the case, and looking forward to finally being able to use this library.

[2022-03-17 19:45] tocco934 opened #712 "Validation fails when colon is in path"
**Describe the bug**
A route like `/v1/resource/{id}:setToDefault`, which is valid against the openapi spec, causes the validator to return a 405 error.

**To Reproduce**
Using version 4.13.4 of this library

Swagger:
[code]
Express:
`app.patch('/v1/resource/:id::setToDefault', whateverGoesHere)`

**Actual behavior**
When the above PATCH route is hit the validator throws a 405 error

**Expected be

[2022-03-27 12:04] ThomasLobker commented on #708
I had the same issue and it turned out that my Base64 string had line endings, because that's the output of MySQL's TO_BASE64() function. You can remove these line endings before sending the result back in the JSON results. You can also do the manual checks on string length and Base64 regular expression.

[code]

[2022-04-03 23:46] RicardoE105 opened #728 "Error hanlder not catching errors thrown in hanlder"
I declared a handler like this:

[code]
and registered a error handler like this:
[code]

Why when I throw an error in the handler, it's not caught by the error handler? What I'm missing?

[2022-04-04 00:55] tmyl123 commented on #696
Hi, meeting same things here, using the following spec with `removeAdditional: 'all'`

[code]

every else fields has been removed except the `id` field which has been add with the example backend server.

[code]

my guess is when calling `removeAdditional`, it's behavior is checking schemas one by one, not merging them before checking.

so in your snippet,  property `user_group`  has been treated

[2022-04-04 11:34] zachweinberg opened #729 "additionalProperties should default to false (not true) even if undefined"
**Describe the bug**
Right now if you define a route that does not have the `additionalProperties` key defined, the middleware will allow random properties to be sent to the route. This is a security risk. The only way to block these random properties is to not forget to set `additionalProperties: false`. As of today, it defaults to true when missing which is not safe. Users should have to explici

[2022-04-05 15:25] tkarls commented on #627
It would probably be a good idea to add support in the validateRequest options object to either fail the request or to remove the properties.

[2022-04-06 11:44] talberkoMelio opened #731 "Add option to disable headers validation"
Add option to disable headers validation.

**Additional context**
Sometime we want to allow calling an api with Authorization Basic + custom header, or alternatively with Authorization Bearer only.
This currently not supported in openapi, so we would need to disable the headers validation as its supported for security.

[2022-04-13 19:39] petermetz opened #732 "feat: support cyclical schema references"
**Is your feature request related to a problem? Please describe.**

Yes, I have a schema that has cyclical references and because of this two things are happening with the current version:
1. The serialization used to generate the cache keys crashes (easy to solve if you pass in the right parameter to the underlying library to not choke on cycles)
2. Bigger problem: `json-schema-traverse` only sup

[2022-05-02 17:06] tkarls opened #733 "readOnly in $ref: is ignored"
**Describe the bug**
when using readOnly:true inside a $ref: then the readOnly:true attribute is ignored (i.e. the attribute is enforced for post/put requests)

**To Reproduce**
Have a required attribute that receives its definition via a $ref. The definition must include readOnly: true

**Actual behavior**
The read only attribute is ignored

**Expected behavior**
A post/put request omitting the a

[2022-05-11 16:40] sinclairs opened #734 "Optional deepObject query params with no defaults are incorrectly added to req.query"
**Describe the bug**
Given an optional deepObject query parameter that has no default value. If the parameter is omitted from the request, it is incorrectly added to `req.query` with an empty object as its value.

This also causes validation to incorrectly kick-in for the inserted property, which explains the behaviour outlined in [this related issue](https://github.com/cdimascio/express-openapi-v

[2022-05-20 15:42] mrded opened #735 "DoS vulnerability from dicer@0.2.5"
Hello,

Snyk is reporting a vulnerability in this repo, that is coming from the Dicer library:

[code]

Thanks

[2022-05-20 15:55] mrded commented on #735
Updating `multer > busboy@1.0.0` drops the dependency on dicer (where the vuln comes from).

[2022-05-21 17:03] seriousme commented on #573
Just a hint: [OpenApi schema validator](https://github.com/seriousme/openapi-schema-validator) works around the issue in AJV by using a modified version of the official schema in which the $dynamic refs have been replaced. (see https://github.com/seriousme/openapi-schema-validator/blob/master/test/convert-3.1.js)  This way it can still use AJV ;-)

The modified schema is available as: https://gith

[2022-05-24 14:16] ansonallard commented on #735
`multer` has an active PR for this issue: https://github.com/expressjs/multer/pull/1097

[2022-05-27 14:48] mohak2006 opened #736 "Having heterogeneous combinations of security handlers does not work properly"
If a particular endpoint spec contains multiple security handlers with both AND and OR conditions according to the "Using Multiple Authentication Types" section on this link: https://swagger.io/docs/specification/authentication/, then the behaviour of the API is not as expected.

For e.g. take following scenario:
[code]

The Above one will fail authorization.

If you change the above scenario to:

[2022-05-30 06:55] finpingvin commented on #735
They seem to have released it under 1.4.4-lts.1